<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#if($page_title) $page_title #else 商户登录 #end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/style.css" rel="stylesheet" type="text/css">
	<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/bank.css" rel="stylesheet" type="text/css">

	<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/jquery-1.8.2.min.js"></script>
    <script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/js.js"></script>

    <script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/pw.js"></script>
</head>
<body class="login_body">
  <div id="pageF">
        #parse("/common/control/header-nologin-new.vm")
    
		$screen_content
		
		#parse("/common/control/footer-new.vm")
    </div>
</body>
</html>