<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>


<!-- S 主要内容 -->
<div class="wrap">
     
     <div class="page_title"><h2>解绑</h2></div>
     

     <div class="safetyMain">
     
          <div class="usbKeyCon">
               
                
                <div class="usbConBox clearfix">
                
               <div class="usbCenter">
              
                           
                           <div class="login_limit hg40">
                               <span class="f14 ml30">永达互联网金融已向您的手机<em class="bold">$!{mobile}</em>发送了手机验证短信，请输入手机校验码。</span>
                           </div>
                           
                           <div class="login_limit">
                               <label><span class="f14 limitLeft">校验码：</span>
                                 <input type="text" class="inputtext w80" value="" id="sjyzm">
                                 <input class="btn_mfhq ml10" type="button" value="">
                               </label>
                               <label class="ml5"></label>
                               <div class="authCodeTip error clear" id="authCodeTip" style="padding-left:180px;"></div>
                       		</div>
                           
                           <div class="loginAmendBtn" style="padding-left:179px;"> <input class="btn_qr btn_submit" type="button" value=""></div>
                           <input type="hidden" name="bizType"  id="bizType" value="KJTSHILED_UNBIND"/>
                           <input type="hidden" name="certSn" id="unbindcertSn" value="$!{certSn}">
                     </div> 
                
                </div>
               
               
       		    <div class="usbKeyFaq">
                   <h4>快捷盾问题：</h4>
                    <dl>
                        <dt>如何解绑快捷盾？</dt>
                        <dd>答：点击解绑快捷盾，按照相关操作要求输入信息后可解绑快捷盾。</dd>
                    </dl>
					<dl>
                        <dt>解绑快捷盾后是否还可以重新绑定？</dt>
                        <dd>答：可以重新绑定，插入快捷盾，重新绑定即可。</dd>
                    </dl>
                   <div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的永达互联网金融</a></div>
                </div>
               
               
               
          </div>
      
     </div>
     
</div>
<!-- E 主要内容 -->

<form id="form2" action="#springUrl('/hardcertUnbind/certUnbind.htm')" method="post"><input type="hidden" id="certSn" name="certSn" /></form>
<script>
$(function(){
	$(".btn_mfhq").click(function(){
		$("#authCodeTip").html("");
		countDown($(this),60,"");
		$("#authCodeTip").html("");
		jQuery.ajax({
            type: 'GET',
            url: "#springUrl('/my/mobile/sendMessage.htm')" ,
			data: "bizType=" + $("#bizType").val(),
            success: function(response) {
             if(response.success) {
				$("#authCodeTip").html("校验码已发送");
             } else {
                $("#authCodeTip").html("若长时间未收到校验码，请联系客服 400-611-0909");
             }
            } ,
			cache: false,
			error:function(){ $("#authCodeTip").html(G.sysError); },
            dataType: "json"
        });
	});
	
	$(".btn_submit").click(function(){
		var btn_submit = $(this);
		btn_submit.attr("disabled", true).addClass("btn_qr_disabled");
		$(".error").text("");
		
		flag = checkMust($("#sjyzm"),$("#sjyzm").parent().parent().find(".error"),"请输入手机校验码");
		if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false; }
		
		//$("form").submit();
		jQuery.ajax({
            type: 'POST',
            url: "#springUrl('/hardcertUnbind/checkAuthCode.htm')",
            data: "authCode=" + $("#sjyzm").val(),
            success: function(restP) {
            	if(restP.success) {
					$("#certSn").val($("#unbindcertSn").val());
					$("#form2").submit();
             	} else {
             		$("#authCodeTip").html(restP.message);
             		btn_submit.attr("disabled", false).removeClass("btn_qr_disabled");
             	}
            } ,
			cache: false,
			error:function(){ $("#authCodeTip").html(G.sysError); btn_submit.attr("disabled", false).removeClass("btn_qr_disabled");},
            dataType: "json"
        });
	});
})
</script>
</body>
</html>
