<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>永达互联网金融支付平台</title>
</head>
<style>
.szzstab{}
.szzstab td{ padding:8px 0;}
.szzstab td.td1{text-align:right;padding-right:33px;}
.szzstab tr.tr1 td{ background:#e6e6e6;}
</style>
<body class="ff">
	<div class="floatbox2"><div class="cont_info"><div class="bankcx_fc" style="padding:0;">
	<table class="szzstab" width="100%"><tr class="tr1"><td width="137" class="td1">快捷盾来源地</td><td>$!{sourcePosition}</td></tr>
		<tr><td class="td1">永达互联网金融ID</td><td>$!{mid}</td></tr>
		<tr class="tr1"><td class="td1">用户名</td><td>$!{realName}</td></tr>
		<tr><td class="td1">颁发者</td><td>$!{certIssuerDn}</td></tr>
		<tr class="tr1"><td class="td1">序列号</td><td>$!{certSerialNumber}</td></tr>
		<tr><td class="td1">证书申请时间</td><td>$!{dateStr}</td></tr>
		</table>
		</div></div>
		</div>

<script>
if(window.parent.document.getElementById("sw_box") != null)
window.parent.resetShowWinWH(720,314);
$(function(){
})
</script>
</body>
</html>
