	#set($pageCount = $!response.data.page.pageInfo.getTotalPage())
	#set($totalItem = $!response.data.page.pageInfo.totalItem)
    
    <div id="paginator"></div>
	
    <div class="nav_page mt10"><a href="javascript:toQuerySubmit(1);">首页</a><a id="prevPage">上一页</a><i>第 $!response.data.page.pageInfo.currentPage 页，共 #if($pageCount==0) 1 #else $pageCount #end 页</i>
		<a id="nextPage">下一页</a><a href="javascript:toQuerySubmit($!response.data.page.pageInfo.getTotalPage());">尾页</a>
		<span class="ml10">转到</span>
		<input type="text" class="input_go" id="show-page-goto" name="show-page-goto" value="$!response.data.page.pageInfo.currentPage"/><span>页</span>
		<input id="submitGoto" class="confirm btn_go" type="button" value="" #if(!$totalItem || $totalItem == 0) disabled="disabled" #end/>
	</div>
		
 <script language="javascript">	
 $(function(){
		var totalItem = '$!response.data.page.pageInfo.totalItem';
		var pageSize = '$!response.data.page.pageInfo.pageSize';
		var currentPage = '$!response.data.page.pageInfo.currentPage';
		var pageCount = '$!response.data.page.pageInfo.getTotalPage()';
		
		if(pageCount == 0){
			pageCount=1;
		}
		if(!currentPage || totalItem == 0){
			currentPage = 1;
		}

		if(currentPage!=1){
			$("#prevPage").attr("style","cursor:pointer");
		}else{
			$("#prevPage").css("color","gray");
		}
		
		if(currentPage != pageCount){
			$("#nextPage").attr("style","cursor:pointer");
		}else{
			$("#nextPage").css("color","gray");
		}
		
		<!--上一页-->
		$("#prevPage").click(function(){
			if(currentPage!=1){
				return toQuerySubmit(currentPage-1);
			}
		});
		
		<!--下一页 -->
		$("#nextPage").click(function(){
			if(currentPage != pageCount){
				return toQuerySubmit(parseInt(currentPage)+1);
			}
		});
		
		
		$("#submitGoto").click(function(){
			var page = $("#show-page-goto").val();
			var patm=/^\d*$/;
			if(!patm.test(page)){alert("输入的页数有误"); $("#show-page-goto").val(""); return false;}
			if(parseInt(page)>parseInt(pageCount)){
				page=pageCount
				return toQuerySubmit(page);
			}
			return toQuerySubmit(page);
			});
		
 });
</script>
            
           
   
 
    	

    
  
