<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>永达商户钱包</title>
<link href="../common/css/style.css" rel="stylesheet" type="text/css">
<link href="../common/css/account.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header" >
  <div class="wrap">
    <div id="logo"><a href="/"><img src="../common/images/logo.jpg" alt="永达商户钱包"></a><img src="../common/images/logo_merchant.jpg" alt="商户专业版" class="logo_mp"></div>
    <div class="fr"> 欢迎您<span class="username_header">XXXXXX</span><a href="#">退出</a> | <a href="#">帮助中心</a> | <a href="#">客服中心</a> | 客服电话：<span class="dh">0571-28276085</span> </div>
  </div>
</div>
<div id="nav_con">
  <ul>
    <li class="hoverli first"> <a href="/" class="hovera">我的账户<i></i></a>
      <ul class="subnav">
        <li><a href="#"><span>首页</span></a></li>
        <li><a href="#"><span>账户设置</span></a></li>
        <li><a href="#"><span>联系人</span></a></li>
        <li><a href="#"><span>操作员</span></a></li>
      </ul>
    </li>
    <li class="hoverli"> <a href="#" class="hovera">资金管理<i></i></a>
      <ul class="subnav">
        <li><a href="#"><span>资金总览</span></a></li>
        <li><a href="#"><span>充值</span></a></li>
        <li><a href="#"><span>提现</span></a></li>
        <li><a href="#"><span>转账</span></a></li>
      </ul>
    </li>
    <li class="hoverli hoverli_cur cur"> <a href="#" class="hovera">审核管理<i></i></a>
      <ul class="subnav">
        <li><a href="#"><span>我的待审核</span></a></li>
        <li><a href="#"><span>转账审核</span></a></li>
        <li class="cur"><a href="#"><span>退款审核</span></a></li>
        <li><a href="#"><span>提现审核</span></a></li>
        <li ><a href="#"><span>应用审核</span></a></li>
      </ul>
    </li>
    <li class="hoverli  "> <a href="#" class="hovera">交易管理<i></i></a>
      <ul class="subnav">
        <li  ><a href="#"><span>交易记录</span></a></li>
        <li><a href="#"><span>收支明细</span></a></li>
        <li><a href="#"><span>收支汇总</span></a></li>
        <li><a href="#"><span>结算对账单</span></a></li>
      </ul>
    </li>
    <li class="hoverli"> <a href="#" class="hovera">安全中心<i></i></a> </li>
    <li class="hoverli last"> <a href="#" class="hovera">应用中心<i></i></a> </li>
  </ul>
</div>
<div id="nav_con_2"><div></div></div>
<div id="money_cz" class="wrap">
  <div class="page_title"> <h2>代付订单批量审核详情</h2> 
  </div>
  <div class="pagebox">
    <div class="table_div">
      <h3>批量代付信息</h3>
    </div>
    <div class="pagebox5">
      <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="tab_w">批次号</td>
          <td class="Detail_tab_no" colspan="3">321311321</td>
        </tr>
        <tr class="cl">
          <td class="tab_w">转账笔数</td>
          <td class="tab_w2">2</td>
          <td class="tab_w">转账金额（元）</td>
          <td class="Detail_tab_no tab_w2">147</td>
        </tr>
        <tr>
          <td>服务费（元） </td>
          <td>1.00</td>
          <td>总金额（元）</td>
          <td class="Detail_tab_no">148.00</td>
        </tr>
      </table>
    </div>
    <div class="table_div">
        <table border="0" cellspacing="0" cellpadding="0" class="table1">
          <tr>
            <th width="145">交易订单号</th>
            <th width="175">商户订单号</th>
            <th width="128">收款人账户</th>
            <th width="170">收款人账户信息</th>
            <th width="98">金额<em>（元）</em></th>
            <th width="130">服务费<em>（元）</em></th>
            <th width="100">备注</th>
            <th width="80">状态</th>
          </tr>
        </table>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" class="table1 table1_1">
     <tr>                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="on">                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr>                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="on">                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr>                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="on">                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr>                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="on">                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr>                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="on">                                              
       <td width="145">20140618121211000001</td>
       <td width="175">2014061812121256</td>
       <td width="127">刘贤芝</td>
       <td width="170"><p>6228123456891012345</p>
        <p> 工商银行 杭州高新支行 </p></td>
       <td width="98"><span class="orange b">-146.00</span></td>
       <td width="130">1.00</td>
       <td width="120">代付</td>
       <td width="80">出款成功</td>
    </tr>
    <tr class="nbb">
       <td colspan="9">
        <div class="nav_page mt10"><a href="#">首页</a><a href="#">上一页</a><i>第12页，共102页</i><a href="#">下一页</a><a href="#">尾页</a><span class="ml10">转到</span><input type="text" class="input_go"><span>页</span><input type="button" class="btn_go"></div>
       </td>
    </tr>
    </table>

    <div class="table_div">
      <h3>申请信息</h3>
    </div>
    <div class="pagebox5">
      <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="tab_w">申请时间</td>
          <td class="tab_w2">2014-06-18</td>
          <td  class="tab_w">申请操作员</td>
          <td  class="Detail_tab_no tab_w2">Admin</td>
        </tr>
      </table>
    </div>
       <div class="table_div">
      <h3>

审核信息
</h3>
    </div>
    <div class="pagebox5">
      <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="tab_w">审核时间</td>
          <td class="tab_w2">2014-06-18</td>
          <td  class="tab_w">审核操作员</td>
          <td  class="Detail_tab_no tab_w2">Admin</td>
        </tr>
        <tr>
          <td class="tab_w">审核结果</td>
          <td class="tab_w2">通过</td>
          <td  class="tab_w">审核说明</td>
          <td  class="Detail_tab_no tab_w2"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="footer">
  <div class="wrap" >
    <div class="dk">
      <p class="link_us"><a href="#">关于永达商户钱包</a> | <a href="#">联系我们</a> | <a href="#">格式条款</a> | <span>客服热线:0571-28276085</span></p>
      <p class="link_friend"></p>
      <p class="copyright">永达商户钱包版权所有 2012-2015   </p>
      <ul class="fbimg">
        <li><a href="#"><img src="../common/images/foot-1.gif" alt="支付业务许可证"></a></li>
        <li><a href="#"><img src="../common/images/foot-2.gif" alt="verisign加密服务"></a></li>
        <li><a href="#"><img src="../common/images/foot-3.gif" alt="杭州动态岗亭"></a></li>
        <li><a href="#"><img src="../common/images/foot-4.gif" alt="客服邮箱"></a></li>
      </ul>
    </div>
  </div>
</div>
<a id="fix_online_kf" href="#"></a> 
<script src="../common/js/jquery-1.8.2.min.js"></script> 
<script src="../common/js/js.js"></script>
<script>

</script>
</body>
</html>
