<div class="wrapbg">
<div class="wrap">
    <div class="page_title safety">
        <div class="title fl">
            <i class="icon fl"></i>
            <span class="tt fl">永达盾</span>
        </div>
    </div>

     <div class="safetyMain">
     
          <div class="usbKeyCon">
              <div class="step-wrap">
                  <span class="step-index step-index-cur">1</span>
                  <span class="step-name step-name-cur">验证身份</span>
                  <span class="s"></span>
                  <span class="step-index">2</span>
                  <span class="step-name">输入手机校验码</span>
                  <span class="s"></span>
                  <span class="step-index">3</span>
                  <span class="step-name">激活下载证书</span>
                  <span class="s"></span>
                  <span class="step-index">4</span>
                  <span class="step-name">激活成功</span>
              </div>
               
               <div class="usbKeyCon_tips w720">请插入永达盾，并确保在激活成功前不拔出永达盾。永达将会向您的手机发送短信校验码，请确保您的手机能够接收短信。</div>
               
               <div class="usbKeyCenter">
               			<form action="#springUrl('/certActive/step2.htm')" method="post">
                            <div class="login_limit h22">
                                 <label><span class="f14 limitLeft">您绑定的手机号码：</span>
                                  <span class="f14">$!{mobile}</span>
                                 </label>
                                 <label class="ml5"></label>
								 
                           </div>
                           
                           <div class="login_limit hg40">
                                 <label><span class="f14 limitLeft">企业名称：</span>
                                  <span class="f14">$!{enterpriseName}</span>
                                 </label>
                                 <label class="ml5"></label>
                           </div>
                           
                           <div class="login_limit">
                               <label><span class="f14 limitLeft">$!{company}：</span>
                                 <input type="text" class="inputtext w232" value="" id="busCode" name="busCode">
                               </label>
                               <label class="ml5"></label>
                               <div class="mainTips ml160 error">$!{licenseNoMessage}</div>
                           </div>
                       
                       <div class="login_limit">
                           <label>
                                  <span class="f14 limitLeft">支付密码：</span>
                                  <div class="pwdiv fl"><input name="password" type="hidden" id="password" /></div>
                           </label>
                           <div class="color_b3 ml10 fl" style="padding-top:5px;"></div>
                           <div class="mainTips ml160 error" style="clear:both;">$!{payPasswordmessage}</div>
                       </div>
                   
						   <div id= "mobileMessage" class="mainTips ml160 error"></div>
                           <div class="loginAmendBtn"> <input class="btn btn_submit" type="button" value="确 认"></div>
                           </form>
               
               </div>
               
               <div class="usbKeyFaq">
                    <h4>永达盾问题：</h4>
                    <dl>
                        <dt>什么是永达盾？</dt>
                        <dd>答：永达盾是我司推出的安全产品，是为了更好的保障用户的账户资金安全，防止用户账户和资金被盗。</dd>
                    </dl>
                    <dl>
                        <dt>申请购买永达盾需要提供什么信息？</dt>
                        <dd>答：申请时除需要支付永达盾的费用外，无需提供额外的信息</dd>
                    </dl>
                    <dl>
                        <dt>永达盾可以申请多个吗？</dt>
                        <dd>答：可以，一个操作员即申请一个永达盾，假如您有3个操作员账号，您就可以申请3个永达盾。</dd>
                    </dl>
                    <div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的账户</a></div>
                </div>
          </div>
     </div>
</div>
</div>
<script>
	$(function(){
	
		var mobile = "$!{mobile}";
		if( mobile == null || mobile == "") {
			$("#mobileMessage").html("您的账户尚未绑定手机号码!");
			$(".btn_submit").attr("disabled", true).addClass("btn_disabled");
		}

        var pgeditor = newPgeditor(1,'${response.data.ocx_skey}','${response.data.ocx_enstr}');
        window.pgeCtrl = pgeditor;
        $(".pwdiv").append(pgeditor.load());
        pgeditor.pgInitialize();
		
		$(".btn_submit").click(function(){
			var btn_submit = $(this);
			btn_submit.attr("disabled", true).addClass("btn_disabled");
			$(".error").text("");
			
			var flag = checkMust($("#busCode"),$("#busCode").parent().parent().find(".error"),"请输入营业执照号");
			if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }
			//flag = isValidBusCode($("#busCode").val());
			//if(!flag) { $("#busCode").parent().parent().find(".error").text("请输入正确的营业执照号码！"); btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }

            var jsonSubmit = {
                jBtnSubmit:btn_submit,
                cssClass:"btn_disabled",
                urlGetSrandNum:"#springUrl('/ocx/generateRandomKey.htm')"
            };
            var pgeditors = [
                {
                    jPwInput:pgeditor,
                    jInput:$("#password"),
                    jTip:$(".pwdiv").parent().parent().find(".error"),
                    txtEmpty:"请输入支付密码！"
                }
            ];
            checkPgeditor({
                jsonSubmit:jsonSubmit,
                pgeditors:pgeditors,
                callback:function(){
                    $("form").submit();
                }
            });
		});
	})
</script>