<div class="wrapbg">
<div class="wrap">

    <div class="page_title safety">
        <div class="title fl">
            <i class="icon fl"></i>
            <span class="tt fl">解绑</span>
        </div>
    </div>

     <div class="safetyMain">
     
          <div class="usbKeyCon">
                
                <div class="usbConBox clearfix">
                
               <div class="usbCenter">
                           <div class="loginTipsBox ml161">
                                 <i class="tipsIcon succeed"></i>
                                 <p class="f16 bold mb10">永达盾解绑成功!</p>
                                 <p>由于您所解绑的永达盾仍然保留了您的账户信息,请你妥善保管好您的永达盾.</p>
                                 <p class="mt30">您的账户不再受到永达盾的保护,请您尽快重新<a href="${request.contextPath}/certRebind/step1.htm?certSn=$!{certSn}"><em class="red bold">绑定永达盾</em></a>继续保护您的账户安全.</p>
                                 <p class="mt5">您现在可以前往：<a class="bold" href="#springUrl('/securityCenter/safetyDetails.htm')">永达盾首页</a><a class="ml10 bold" href="#springUrl('/securityCenter/safetyIndex.htm?link=0500')">安全中心</a></p>
                            </div>
							
                </div>

            </div>
          
          
          <div class="usbKeyFaq">
                    <h4>永达盾问题：</h4>
                    <dl>
                        <dt>如何解绑永达盾？</dt>
                        <dd>答：点击解绑永达盾，按照相关操作要求输入信息后可解绑永达盾。</dd>
                    </dl>
                    <dl>
                        <dt>解绑永达盾后是否还可以重新绑定？</dt>
                        <dd>答：可以，插入永达盾，重新绑定即可。</dd>
                    </dl>
                    <div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的账户</a></div>
                </div>
          
      
     </div>
     
</div>

</div>
</div>