<div class="wrapbg">
<div class="wrap">
    <div class="page_title safety">
        <div class="title fl">
            <i class="icon fl"></i>
            <span class="tt fl">永达盾</span>
        </div>
    </div>

     <div class="safetyMain">
     
          <div class="usbKeyCon">
               
          <div class="activateTit pos_rel">
          
              <ul>
                   <li><span class="bold f16">永达盾</span><span class="ml10 color_f6">（<em class="bold">68</em>元）</span></li>
                   <li class="mt5">申请后账户安全等级为：<span class="spBar"><span style="width:125px;"></span></span><span class="f14 ml10">高</span></li>
              </ul>
              
              <span class="imgAct"><img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/shieldImg.gif" alt=""></span>
          
          </div>  
                
          <div class="usbConBox clearfix" style="padding:25px; width:870px;">
          
               <p class="bold">激活永达盾后，只有在插入永达盾的情况下，才能进行转账、提现、审核等涉及资金变动的操作。</p>
               <p class="mt20 l_h20" style="color:#858689;">支持的操作系统：Windows XP/Windows 7/Windows 8/ Windows 10/Windows Vista<br>支持的浏览器：IE内核浏览器，火狐浏览器，谷歌浏览器等</p>
               
               <ul class="actList">
                   <li style="color:#595757;">
                   <input type="hidden" id="csr" name="csr" value="">
                   <input type="button" class="btn_jhszzs" id="btn_jhszzs" value="" style="display:none">
                   <input class="saBtn_szzs" id = "saBtn_szzs" type="button" value="" ><!--若还没有永达盾，<a href="#">点击申请--></a></li>
				   <div id="errorMsg" class="mainTips error"></div>
                   <!--<li><p class="actCon_tips">支付盾暂不支持您当前的浏览器[？]</p></li>-->
                   <li><p class="actCon_tips" style="display:none"></p></li>
               </ul>
          </div>
          
          
          <div class="usbKeyFaq" style="padding:30px 70px 50px">
                    <h4>永达盾问题：</h4>
                    <dl>
                        <dt>什么是永达盾？</dt>
                        <dd>答：永达盾是我司推出的安全产品，是为了更好的保障用户的账户资金安全，防止用户账户和资金被盗。</dd>
                    </dl>
                    <dl>
                        <dt>申请购买永达盾需要提供什么信息？</dt>
                        <dd>答：申请时除需要支付永达盾的费用外，无需提供额外的信息</dd>
                    </dl>
                    <dl>
                        <dt>永达盾可以申请多个吗？</dt>
                        <dd>答：可以，一个操作员即申请一个永达盾，假如您有3个操作员账号，您就可以申请3个永达盾。</dd>
                    </dl>
                     <div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的账户</a></div>
            </div>
          	<input type="hidden" name="certificationType"  id="certificationType" value="hard"/>
          	<input type="hidden" name="certificationStatus"  id="certificationStatus" value="UNBIND"/>
     </div>
     </div>
</div>
</div>
<OBJECT id="ukeyadmin_ie" classid="clsid:05395F06-244C-4599-A359-5F442B857C28"></OBJECT>
<embed id="ukeyadmin_firefox" type="application/Itrusukeyadmin.ukeyadmin.1" width="0" height="0"/>		
<form id="form2" action="#springUrl('/certActive/step1.htm')" method="post"></form>
<form id="form3" action="#springUrl('/certRebind/step1.htm')" method="post"><input type="hidden" id="rebindcertSn" name="certSn" /></form>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/jquery.cookie.js"></script>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/xenroll.js"></script>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/pta.js"></script>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/cert.js"></script>
<script>
function isRightKey(){
	//$(".actCon_tips").text("").hide();
	jQuery.ajax({
        type: 'GET',
        url: "#springUrl('/certActive/getCertSns.htm')" ,
        data: "status=" + $("#certificationStatus").val() + "&type=" + $("#certificationType").val() ,
		
        success: function(response) {
         if(response.success) {
			var certSns = response.data.certSns;
         	var certSn = null;
         	for(var i = 0; i < certSns.length; i++){
         		certSn = filterCerts("",0,certSns[i]);
				
         		if(certSn != null && certSn.length >= 1) {
					$("#btn_jhszzs").show();
        			$("#saBtn_szzs").hide();
					return;
         		}
         	}
			$(".actCon_tips").text("请插入原永达盾").show();
			$(".btn_jhszzs").hide();
			$(".saBtn_szzs").show();
         } else {
            //检测是否插入了永达盾
        	var ret = checkKeySeriaNo();
        	if(ret == 1) {
        		$("#btn_jhszzs").show();
        		$("#saBtn_szzs").hide();
        		$(".actCon_tips").text("").hide();
        	}else {
        		$("#btn_jhszzs").hide();
        		$("#saBtn_szzs").show();
        		$(".actCon_tips").text("请先插入永达盾，再进行激活").show();
        	}
         }
        } ,
		cache: false,
		error: function(XMLHttpRequest, textStatus, errorThrown){
			$("#errorMsg").text(G.sysError).show();
			$(".btn_jhszzs").hide();
			$(".saBtn_szzs").show();
			window.location.href="${request.contextPath}/index.htm";
		},
        dataType: "json"
    });
}

$(document).ready(function(){

	isRightKey();
	//实时检测是否插入永达盾
	window.setInterval("isRightKey()",5000);
	
	$("#btn_jhszzs").click(function(){
		$(".actCon_tips").text("").hide();
		jQuery.ajax({
            type: 'GET',
            url: "#springUrl('/certActive/getCertSns.htm')" ,
            data: "status=" + $("#certificationStatus").val() + "&type=" + $("#certificationType").val() ,
			
            success: function(response) {
             if(response.success) {
				var certSns = response.data.certSns;
             	var certSn = null;
             	for(var i = 0; i < certSns.length; i++){
             		certSn = filterCerts("",0,certSns[i]);
             		if(certSn != null && certSn.length >= 1) {
					    $("#rebindcertSn").val(certSns[i]);
						$("#form3").submit();
						return;
             		}
             	}
				$(".actCon_tips").text("请插入原永达盾").show();
             	//$("#form2").submit();
             } else {
                $("#form2").submit();
             }
            } ,
			cache: false,
			error:function(){
				$(".actCon_tips").text(G.sysError).show();
    			$(".btn_jhszzs").hide();
    			$(".saBtn_szzs").show();
			},
            dataType: "json"
        });
	});
	
});
</script>
