#parse("main/register/register-common.vm")
<div class="container">  
  <div class="wrap">
    <div class="page_title">
      <h2>$!registPageTitle</h2>
    </div>
    <div class="box_e1e1e1 w998">
      <div class="reg_tab"><a href="#springUrl('/register/person/mobile/active.htm')" class="a1 cur"><i ></i></a><a href="#springUrl('/register/enterprise/email/active.htm')" class="a2"><i ></i></a></div>
      <div class="reg_content_wrap" style="display:block;" >
        <div class="login_content clearfix">
          <form id="register-index-form1" name="register-index-form1" action="#springUrl('/register/person/mobile/active.htm')" method="post">
            <div class="row">
              <label class="row_label" for="">账户名：</label>  
              <div class="row_con">
                <input id="username1" name="username1" type="text" data-placeholder="请输入注册手机号" class="input_198_26 placeholder " value="$!{response.data.username}">
              </div>
              <div class="clear"></div>
              <div class="row_tip error"></div>
            </div>
            <div class="row row_yzm">
              <label class="row_label" for="">验证码：</label>
              <div class="row_con">
                <div class="yzm_i">
                  <input id="yzm1" name="yzm1" type="text" data-placeholder="请输入验证码" class="placeholder yzm" data-input="yzm_i" AUTOCOMPLETE="off">
                  <i class="yzm_rw"></i><input type="hidden" class="yzm_id" AUTOCOMPLETE="off"/> </div>
                <img src="#springUrl('/pvc.htm')" alt="验证码" title="点击更新验证码" class="yzm_img"></div>
              <div class="row_tip error"></div>
            </div>
            <div class="row row_yzm">
              <label class="row_label" for="">校验码：</label>
              <div class="row_con">
                <div class="yzm_i">
                  <input id="jym1" name="otpValue" type="text" data-placeholder="请输入校验码" class="placeholder jym" data-input="jym_i" >
                  <i class="yzm_rw"></i> </div>
                <input class="btn_mfhq" type="button" value="" id="btn_mfhq1">
              </div>
              <div class="row_tip error"></div>
            </div>
            <div class="row mb10">
              <div class="checkbox pdlf170">
                <label>
                  <input type="checkbox" class="agree_xieyi" id="agree_xieyi1" >
                  <span>我已阅读并同意<a href="javascript:;" class="blue xieyi">《永达互联网金融服务协议》</a></span></label>
                <div class="error h18"></div>
              </div>
            </div>
            <div class="error pdlf170">$!{response.message}</div>
            <div class="btn pdlf170">
              <input class="btn_next btn_submit" id="btn_submit1" type="button" value="">
            </div>
            <div class="pdlf170 mt30"><a href="#springUrl('/register/person/email/active.htm')" id="reg_email" class="blue"></a></div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  <script>
  window.onload=function(){
      var flag="$!registPageTitle";
	  var fl=flag.substring(2,4);
	  $(".a1").html(fl+"个人会员<i ></i>");
	  $(".a2").html(fl+"企业会员<i ></i>");
	  $("#reg_email").html("使用邮箱"+fl);
	}
	function iframeOk(){
		initYes();
		closeSW();
	}
	function iframeCancel(){
		initNo();
		closeSW();
	}
	function initNo(){
		$(".agree_xieyi").attr("checked", false);
		$(".btn_submit").attr("disabled", true).addClass("btn_next_disabled");
	}
	function initYes(){
		$(".agree_xieyi").attr("checked", true);
		$(".btn_submit").attr("disabled", false).removeClass("btn_next_disabled");
	}
	$(function(){
		
		initYes();
		
		$(".xieyi").click(function(){
			showWin("iframe","/view/xieyi/ServiceAgreement.html","",960,600,"请阅读：《永达互联网金融服务协议》");
		});
		
		$(".agree_xieyi").click(function(){
			if($(this).is(":checked")){
				$(".btn_submit").attr("disabled", false).removeClass("btn_next_disabled");
			}else {
				$(".btn_submit").attr("disabled", true).addClass("btn_next_disabled");
			}
		});
		
		/*$(".reg_tab a").each(function(index, element) {
			var jRTA = $(".reg_tab a");
            var jThis = $(this);
			jThis.click(function(){
				jRTA.removeClass("cur");
				jThis.addClass("cur");
				$(".reg_content_wrap").hide().eq(index).show();
				initYes();
			});
        });*/
		
		$("#username1").blur(function(){
    		var username = $(this).val();
			username = username == $(this).attr("data-placeholder") ? "" : username;
			var usernameTipObj = $(this).parent().parent().find(".error");			
			checkAccount({cmd:"register", username:username, tipObj:usernameTipObj, async:true, url:"#springUrl('/login/checkLoginName.htm')", type:2});//type 2 手机
		});
		
		$(".yzm").blur(function(){
			var jThis = $(this);
			var code = jThis.val();
			code = code == jThis.attr("data-placeholder") ? "" : code;
			var jCodeId = jThis.parent().find(".yzm_id");
			//.val("");
			checkVerificationCode({code:code, tipObj:jThis.parent().parent().parent().find(".error"), imgTipObj:jThis.parent().find(".yzm_rw"), async:true, url:"#springUrl('/register/checkCaptcha.htm?token=')"+jThis.parent().find(".yzm_id").val(), yzmObj:jThis.parent().parent().find(".yzm_img"), success:function(data){jCodeId.val(data.code);}, error:function(data){jCodeId.val("");}});
		});
		
		$("#btn_mfhq1").click(function(){		 
			var jUsername = $("#username1");
			var username = jUsername.val();
			username = username == jUsername.attr("data-placeholder") ? "" : username;
			var jTip = jUsername.parent().parent().find(".error");
			var flag = checkAccount({cmd:"register", username:username, tipObj:jTip, async:false, url:"#springUrl('/login/checkLoginName.htm')", type:2});
			if(flag)
			{
				var jYzm = $("#yzm1");
				var code = jYzm.val();
				code = code == jYzm.attr("data-placeholder") ? "" : $.trim(code);
				jTip = jYzm.parent().parent().parent().find(".error");
				var jTipImg = jYzm.parent().find(".yzm_rw");
				flag = checkVerificationCode({code:code, tipObj:jTip, imgTipObj:jTipImg, async:false, url:"", yzmObj:jYzm.parent().parent().find(".yzm_img")});
				
				if(flag){
					var jYzmId = jYzm.parent().find(".yzm_id");
					var codeId = jYzmId.val();
					if(codeId == ""){
						jTip.text("您输入的验证码不正确！");
						jTipImg.removeClass("right").addClass("wrong");
					}
					else {
						countDown($(this),60,"");
						jTip = $("#jym1").parent().parent().parent().find(".error");
						$.ajax({
							url: '#springUrl('/register/sendMobileMessage.htm')',
							type: 'post',
							data: { mobile: $("#username1").val(),captcha_value: codeId },
							dataType: "json",
							success: function(result) {
								if (!result || !result.success) {
									jTip.text(result.message);
									jYzm.parent().parent().find(".yzm_img").click();
								} else {
									jTip.text('校验码发送成功!');	
									$(".yzm").blur();								
								}
							},
							error: function(){
								jTip.html(G.sysError);
								jYzm.parent().parent().find(".yzm_img").click();
							}
						});
					}
				}
			}
		});
		
		$("#btn_submit1").click(function(){
			var btn_submit = $(this);
			btn_submit.attr("disabled", true).addClass("btn_next_disabled");
			$(".error").text("");
			
			var jUsername = $("#username1");
			var username = jUsername.val();
			username = username == jUsername.attr("data-placeholder") ? "" : username;
			var jTip = jUsername.parent().parent().find(".error");
			var flag = checkAccount({cmd:"register", username:username, tipObj:jTip, async:false, url:"", type:2});
			if(!flag){
				btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false;
			}
			
			var jYzm = $("#yzm1");
			var code = jYzm.val();
			code = code == jYzm.attr("data-placeholder") ? "" : code;
			jTip = jYzm.parent().parent().parent().find(".error");
			var jTipImg = jYzm.parent().find(".yzm_rw");
			flag = checkVerificationCode({code:code, tipObj:jTip, imgTipObj:jTipImg, async:false, url:"", yzmObj:jYzm.parent().parent().find(".yzm_img")});
			if(!flag){
				btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false;
			}
			
			var jJym = $("#jym1");
			code = jJym.val();
			code = code == jJym.attr("data-placeholder") ? "" : code;
			jTip = jJym.parent().parent().parent().find(".error");
			if($.trim(code) == ""){
				jTip.text("请输入校验码！");
				btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false;
			}
			
			var agree_xieyi = $("#agree_xieyi1");
			if(agree_xieyi.attr("checked") != "checked"){
				agree_xieyi.parent().parent().find(".error").text("请阅读并同意《永达互联网金融服务协议》");
				btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false;
			}
			
			$("#register-index-form1").submit();
			
		});
		
		$("#reg_email").click(function(){
			$(".reg_content_wrap").hide().eq(2).show();
		});
		$("#reg_mobile").click(function(){
			$(".reg_content_wrap").hide().eq(0).show();
		});
		
		$("#username2, #username3").blur(function(){
    		var username = $(this).val();
			username = username == $(this).attr("data-placeholder") ? "" : username;
			var usernameTipObj = $(this).parent().parent().find(".error");
			
			checkAccount({cmd:"register", username:username, tipObj:usernameTipObj, async:false,url:"#springUrl('/login/checkLoginName.htm')", type:1});//type 2 邮箱
		});		
		
	})
</script>
 