 #parse("main/register/register-common.vm")
 <style type="text/css">

##.reg_pro1 span { float:left; display:inline; height:35px; line-height:36px; text-align:center; color:#fff;}
.reg_pro1{background:url(${WEB_RESOURCE.staticAddress}wallet/common/images/reg_pro2.gif) no-repeat;height: 38px;   width: 528px;margin:38px auto;}
.reg_pro1 span{display: block;float: left;width: 120px;margin-left: 45px; text-align: center; color: #FFFFFF;font-family:"微软雅黑";  line-height: 38px;}
</style>
 <div class="wrap">
    <div class="page_title">
      <h2>$!registPageTitle</h2>
    </div>
    <div class="box_e1e1e1 w998">
      <div class="reg_pro1">
      	<span class="s1">1 验证邮箱地址</span>
        <span class="s2">2 设置帐号密码</span>
        ##<span class="s3">3 设置支付方式</span>
        <span class="s4">3 完成注册</span>
		<p style="clear:both;"></p>
      </div>
      <div class="login_tips">为了给您提供更好的支付和金融服务，您需要填写真实的身份信息享受会员保障服务。身份信息一经录入不可更改，隐私信息
未经本人许可严格保密。</div>
      <div class="reg_content_wrap2">
        <div class="login_content clearfix">
          <form id="register-input-form" name="register-input-form" action="/register/active.htm" method="post">
            <div class="row">
                <label class="row_label" for="">永达互联网金融账户名</label>
                <div class="row_con">
                     <span>$!response.data.username</span>
                </div>
                <div class="clear"></div>
            </div>

            <div class="row_block">
                 
                 <div class="row">
                      <label class="row_label" for=""><span class="f14 color_f60 bold">设置登录密码</span></label>
                     <div class="row_con">
                           <span class="f12 color_b3">登陆时需验证，保护账户信息</span>
                      </div>
                      <div class="clear"></div>
                 </div>

                 <div class="row" id="login_pw_div">
                      <label class="row_label" for="">登录密码：</label>
                      <div class="row_con">
                           <div class="pwdiv pwdiv_login_pw fl"><input name="login_pw" type="hidden" id="login_pw" data-type="1" /></div>
                           <em class="f12 color_b3 fl ml5">请输入7~23位数字、字母或特殊符号相结合的登录密码，空格除外！</em>
                      </div>
                      <div class="clear"></div>
                      <div class="grade" style="margin-left:166px;"><span class="gradeIcon g1"></span><span class="gradeText">弱</span></div>
                      <div class="row_tip error" style="top:48px;"></div>
                 </div>

                 <div class="row" id="re_login_pw_div">
                      <label class="row_label" for="">确认登录密码：</label>
                      <div class="row_con">
                           <div class="pwdiv pwdiv_re_login_pw fl"><input name="re_login_pw" type="hidden" id="re_login_pw" data-type="1" /></div>
                      </div>
                      <div class="clear"></div>
                      <div class="row_tip error"></div>
                 </div>

            </div> 
			
			<div class="row_block pdt50">
                     
				 <div class="row">
					  <label class="row_label" for=""><span class="f14 color_f60 bold">设置支付密码</span></label>
					 <div class="row_con">
						   <span class="f12 color_b3">资金变动或账户信息变更时需验证，安全级别更高</span>
					  </div>
					  <div class="clear"></div>
				 </div>

				 <div class="row" id="pay_pw_div">
					  <label class="row_label" for=""><i class="red">*</i>支付密码：</label>
					  <div class="row_con">
						   <div class="pwdiv pwdiv_pay_pw fl"><input name="pay_pw" type="hidden" id="pay_pw" data-type="2" /></div>
						   <em class="f12 color_b3 fl ml5">请输入7~23位数字、字母或特殊符号相结合的支付密码，空格除外！</em>
					  </div>
					  <div class="clear"></div>
					  <div class="grade" style="margin-left:166px;"><span class="gradeIcon g1"></span><span class="gradeText">弱</span></div>
					  <div class="row_tip error w700" style="top:48px; width:auto;"></div>
				 </div>

				 <div class="row" id="pay_pw2_div">
					  <label class="row_label" for=""><i class="red">*</i>确认支付密码：</label>
					  <div class="row_con">
						   <div class="pwdiv pwdiv_pay_pw2 fl"><input name="pay_pw2" type="hidden" id="pay_pw2" data-type="2" /></div>
					  </div>
					  <div class="clear"></div>
					  <div class="row_tip error w700"></div>
				 </div>

			</div>
         
            <div class="error pdlf170" id="sError"></div>
            <div class="btn pdlf170" style="padding-bottom:55px;">
                  <input class="btn_next  btn_submit" type="button" value="">
            </div>
            <input id="isEmail" name="isEmail" type="hidden" value="$!response.data.isEmail"/>
            <input id="username" name="username" type="hidden" value="$!response.data.username"/>
            <input class="text" type="hidden" name="memberIdentity" id="memberIdentity" />
            <input class="text" type="hidden" name="memberType" id="memberType" value="personal" />
             <input class="text" type="hidden" name="token" id="token" value="$!response.data.token" />
          </form>
        </div>
      </div>
    </div>
  </div>
  
    <script>

var un=[
		["a","奡靉叆"],["b","仌昺竝霦犇愊贲琲礴埗別骉錶"],["c","旵玚棽琤翀珵楮偲赪瑒篪珹捵茝鷐铖宬査嶒"],["d","耑昳菂頔遆珰龘俤叇槙璗惇"],["e","峩"],["f","仹汎沨昉璠雰峯洑茀渢棻棻頫"],["g","玍冮芶姏堽粿筦嘏釭"],["h","郃浛訸嗃瓛翃隺鋐滈翚翯竑姮葓皜袆淏皞翙銲鉷澒澔閤婳黃峘鸻鈜褘锽谹嫮"],["i",""],["j","冏泂劼莙濬暕珒椈珺璟競煚傑玦鑑瑨瑨琎勣寯烱浕斚倢瑴畯雋傢峤"],["k","凱堃蒯鹍崑焜姱衎鵾愷鎧"],["l","玏呂俍冧倞琍綝壘孋瓅璘粦琍麗樑秝鍊崚链镠皊箖菻竻鸰琭瓈騄浬瑠嶺稜欐昽"],["m","劢忞旻旼濛嫚媺铓鋩洺媌媔祃牻慜霂楙媄瑂"],["n","婻寗嫟秾迺柟薿枏"],["o",""],["p","芃玭玶罴毰珮蘋慿弸掽逄砯"],["q","玘佺耹踆骎啟蒨慬勍嵚婍璆碏焌駸綪锜荍釥嶔啓"],["r","汭瑈瑢讱镕婼叡蒻羢瀼"],["s[sh]","屾昇妽珅姼甡湦骦塽挻甦鉥燊遂陞莦湜奭佀聖骕琡"],["t","沺凃禔慆弢颋譚曈榃湉珽瑱橦镋渟黇頲畑媞鰧"],["u",""],["v",""],["w","卍彣炆溦娬韡暐偉湋妏硙珷娒"],["x","仚旴忺炘昍烜爔斅豨勲敩虓鈃禤燮瑄晞賢翾譞諕璿琇晛焮珣晅郤禼皛哓肸谞迿咲婞昫缐姁猇欻箮翛暁"],["y","乂冘弌贠伝伃杙沄旸玙玥垚訚堯溁嫈澐颺熤儀赟祎瑀湧燚嬿鋆嫄愔贇彧崟韻龑颙晹媖顒禕羕炀弇湲霙嫕浥飏峣曣億雲愔洢暘钖垟詠燿鹓歈貟瑩燏暎畇娫矞祐溳崯颍煬靷谳異軏繄"],["z[zh]","烝梽喆禛誌曌衠淽枬詟炤昝珘赒"]
		];
	$(function(){
		//生僻字
    	int();
		
    	$("#unfamiliarLink").click(function(){
    		var top=$(this).offset().top;
    		var left=$(this).offset().left;
    		$(".unfamiliar").css({"left":left-200,"top":top+11}).show();
    		$(".unfamiliar-spells a:first").addClass("selected");
    		return false;
    	})
    	
    	$(".unfamiliar-spells a").live("hover",function(){
    		$(this).addClass("selected").siblings().removeClass("selected");
    		$(".unfamiliar-words").empty();
    		var id=$(this).attr("data-id");
    		var str=un[id][1];
    		for(i=0;i<str.length;i++){
    			var html='<a style="z-index:10;" class="unfamiliar-word" href="javascript:void(0)">'+str.charAt(i)+'</a>'
    			$(".unfamiliar-words").append(html)			
    		}
    		return false;
    	})
    	$(".unfamiliar-words a").live("click",function(){
    		var v=$(this).text();
    		var t=$("#realname").val();
    		var newval=t+v;
    		$(".unfamiliar").hide();
    		$("#realname").val(newval);
			$("#realname").trigger("keyup");
    	})
    	$(document).bind('click',function(e){
    		var e = e || window.event; //浏览器兼容性
    		var elem = e.target || e.srcElement;
    		while (elem) { //循环判断至跟节点，防止点击的是div子元素
    			if (elem.id && elem.id=='unfamiliar') {return;}
    			elem = elem.parentNode;
    		}
    		
    		$('.unfamiliar').hide(); //点击的不是div或其子元素
    	}); 
		
		var pgeditor = newPgeditor(1,'${response.data.ocx_skey}','${response.data.ocx_enstr}');
		window.pgeCtrl = pgeditor;
		$(".pwdiv_login_pw").append(pgeditor.load());
		pgeditor.pgInitialize();
		
		var pgeditor1 = newPgeditor(2,'${response.data.ocx_skey}','${response.data.ocx_enstr}');
		$(".pwdiv_re_login_pw").append(pgeditor1.load());
		pgeditor1.pgInitialize();
		
		var pgeditor2 = newPgeditor(3,'${response.data.ocx_skey}','${response.data.ocx_enstr}');
		$(".pwdiv_pay_pw").append(pgeditor2.load());
		pgeditor2.pgInitialize();
		
		var pgeditor3 = newPgeditor(4,'${response.data.ocx_skey}','${response.data.ocx_enstr}');
		$(".pwdiv_pay_pw2").append(pgeditor3.load());
		pgeditor3.pgInitialize();
		
		window.setInterval(function(){checkPwStrongPG(pgeditor, $('#login_pw_div').find('.error'), $('#login_pw_div').find('.gradeIcon'), $('#login_pw_div').find('.gradeText'));},1000); //实时显示密码强度
		window.setInterval(function(){checkPwStrongPG(pgeditor2, $('#pay_pw_div').find('.error'), $('#pay_pw_div').find('.gradeIcon'), $('#pay_pw_div').find('.gradeText'));},1000); //实时显示密码强度
		
		$("#realname").blur(function(){
			var jThis = $(this);
			checkMust(jThis,jThis.parent().parent().find(".error"),"请输入真实姓名！");
		})
		
		/*$("#login_pw, #pay_pw").keyup(function(e){
			var $thisobj = $(this);
			var value = $thisobj.val();
			var len = value.length;
			var $gradeIcon = $thisobj.parent().parent().find(".gradeIcon");
			var $gradeText = $thisobj.parent().parent().find(".gradeText");
			var $tip = $thisobj.parent().parent().find(".error");
			
			switch(checkStrong(value)){
				case 1: 
				case 2: if(len>=6&&len<=10) { $gradeIcon.addClass("g1").removeClass("g2").removeClass("g3"); $gradeText.text("弱"); } else if(len>=11&&len<=23) { $gradeIcon.addClass("g2").removeClass("g1").removeClass("g3"); $gradeText.text("中"); } break;
				case 3: if(len>=6&&len<=15) { $gradeIcon.addClass("g2").removeClass("g1").removeClass("g3"); $gradeText.text("中"); } else if(len>=16&&len<=23) { $gradeIcon.addClass("g3").removeClass("g1").removeClass("g2"); $gradeText.text("强"); } break;
				case 4: if(len>=6&&len<=13) { $gradeIcon.addClass("g2").removeClass("g1").removeClass("g3"); $gradeText.text("中"); } else if(len>=14&&len<=23) { $gradeIcon.addClass("g3").removeClass("g1").removeClass("g2"); $gradeText.text("强"); } break;
				case 12: $tip.text("密码不能包含空格"); $gradeIcon.addClass("g1").removeClass("g2").removeClass("g3"); $gradeText.text("弱"); break;
				default: $tip.text(""); $gradeIcon.addClass("g1").removeClass("g2").removeClass("g3"); $gradeText.text("弱");
			}
		});*/
		
		function _submit(){
			var btn_submit = $(".btn_submit");
			jQuery.ajax({
    			url:"#springUrl('/register/do-regiseter.htm')",
    			type:'post',
    			dataType:'json',
    			data:$("#register-input-form").serialize(),
    			success:function(data, textStatus, jqXHR){
    				if(data.success) {
    					window.location.href = data.redirect;
                    } else {
                    	$("#sError").text(data.message);
    					btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
    					return false;
    				}
    			},
    			error:function(XMLHttpRequest, textStatus, errorThrown){
    				btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
    				return false;
    			}
    		});
		}
		
		$(".btn_submit").click(function(){
			var btn_submit = $(this);
			btn_submit.attr("disabled", true).addClass("btn_next_disabled");
			$(".error").text("");
			
			if(pgeditor.osBrowser == 10 || pgeditor.osBrowser == 11){
				var wid = pgeditor.settings.pgeWindowID;
				var wid1 = pgeditor1.settings.pgeWindowID;
				var wid2 = pgeditor2.settings.pgeWindowID;
				var wid3 = pgeditor3.settings.pgeWindowID;
				pgeditor.pwdLength(function(){
					if(outs[wid].length == 0){
						$("#login_pw_div").find(".error").text("请输入登录密码！");
						btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
						return false;
					}
					
					pgeditor.pwdStrength(function(n){
						if(n <= 2){
							$("#login_pw_div").find(".error").text("对不起， 您输入的密码不符合规定，请输入7~23位数字、字母或特殊符号相结合的登录密码，空格除外！");
							btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
							return false;
						}
						
						pgeditor1.pwdLength(function(){
							if(outs[wid1].length == 0){
								$("#re_login_pw_div").find(".error").text("请输入登录密码！");
								btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
								return false;
							}
							
							pgeditor.pwdHash(function(){
								pgeditor1.pwdHash(function(){
									if(outs[wid].hash != outs[wid1].hash){
										$("#re_login_pw_div").find(".error").text("您输入的两次登录密码不一致，请重新输入！");
										btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
										return false;
									}
									
									pgeditor2.pwdLength(function(){
										if(outs[wid2].length == 0){
											$("#pay_pw_div").find(".error").text("请输入支付密码！");
											btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
											return false;
										}
										
										pgeditor2.pwdStrength(function(n){
											if(n <= 2){
												$("#pay_pw_div").find(".error").text("对不起， 您输入的密码不符合规定，请输入7~23位数字、字母或特殊符号相结合的支付密码，空格除外！");
												btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
												return false;
											}
											
											pgeditor3.pwdLength(function(){
												if(outs[wid3].length == 0){
													$("#pay_pw2_div").find(".error").text("请输入支付密码！");
													btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
													return false;
												}
												
												pgeditor2.pwdHash(function(){
													pgeditor3.pwdHash(function(){
														if(outs[wid2].hash != outs[wid3].hash){
															$("#pay_pw2_div").find(".error").text("您输入的两次支付密码不一致，请重新输入！");
															btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
															return false;
														}
														
														if(outs[wid].hash == outs[wid2].hash){
															$("#pay_pw_div").find(".error").text("支付密码不能与登录密码相同，请重新输入！");
															btn_submit.attr("disabled", false).removeClass("btn_next_disabled");
															return false;
														}
														
														getSrandNum("#springUrl('/ocx/generateRandomKey.htm')",[pgeditor,pgeditor1,pgeditor2,pgeditor3],function(){
															setPwdResult(pgeditor,$('#login_pw'),function(){
																setPwdResult(pgeditor1,$('#re_login_pw'),function(){
																	setPwdResult(pgeditor2,$('#pay_pw'),function(){
																		setPwdResult(pgeditor3,$('#pay_pw2'),function(){
																			_submit();
																		});
																	});
																});
															});
														});
													});
												});
											});
										});
									});
								});
							});
						});
					});
				});
			}
			else{
				if(pgeditor.pwdHash() == 0) { $("#login_pw_div").find(".error").text("请输入登录密码！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor.pwdStrength() <= 2) { $("#login_pw_div").find(".error").text("对不起， 您输入的密码不符合规定，请输入7~23位数字、字母或特殊符号相结合的登录密码，空格除外！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor1.pwdHash() == 0) { $("#re_login_pw_div").find(".error").text("请输入登录密码！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor.pwdHash() != pgeditor1.pwdHash()) { $("#re_login_pw_div").find(".error").text("您输入的两次登录密码不一致，请重新输入！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				
				if(pgeditor2.pwdHash() == 0) { $("#pay_pw_div").find(".error").text("请输入支付密码！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor2.pwdStrength() <= 2) { $("#pay_pw_div").find(".error").text("对不起， 您输入的密码不符合规定，请输入7~23位数字、字母或特殊符号相结合的支付密码，空格除外！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor3.pwdHash() == 0) { $("#pay_pw2_div").find(".error").text("请输入支付密码！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				if(pgeditor2.pwdHash() != pgeditor3.pwdHash()) { $("#pay_pw2_div").find(".error").text("您输入的两次支付密码不一致，请重新输入！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				
				if(pgeditor.pwdHash() == pgeditor2.pwdHash()) { $("#pay_pw_div").find(".error").text("支付密码不能与登录密码相同，请重新输入！"); btn_submit.attr("disabled", false).removeClass("btn_next_disabled"); return false; }
				
				getSrandNum("#springUrl('/ocx/generateRandomKey.htm')",[pgeditor,pgeditor1,pgeditor2,pgeditor3]);
				setPwdResult(pgeditor,$('#login_pw'));
				setPwdResult(pgeditor1,$('#re_login_pw'));
				setPwdResult(pgeditor2,$('#pay_pw'));
				setPwdResult(pgeditor3,$('#pay_pw2'));
				
				_submit();
			}
		});
		
		
	})
function int(){
	var html='<div class="unfamiliar" id="unfamiliar" style="width: 500px; z-index: 700; position: absolute; l"><div class="unfamiliar-spells"></div><div class="unfamiliar-words"></div></div>';
	$("body").append(html);
	$(un).each(function(i,items){
		var html='<a data-id="'+i+'" title="'+items[0]+'" class="unfamiliar-spell" href="javascript:void(0)">'+items[0]+'</a>'
		$(".unfamiliar-spells").append(html);
	});
	var str=un[0][1];
	for(i=0;i<str.length;i++){
		var html='<a style="z-index:10;" class="unfamiliar-word" href="javascript:void(0)">'+str.charAt(i)+'</a>'
		$(".unfamiliar-words").append(html)			
	}
}
</script>
  