 
 <link href="${WEB_RESOURCE.staticAddress}wallet/common/css/account2.css" rel="stylesheet" type="text/css">
 <!-- S 主要内容 -->
  <div class="wrap">
		<div class="page_title"><h2>支付密码找回</h2></div>
		<div class="safetyMain">
			<div style="text-align: center;line-height: 28px;">您正在为账户 <span class="b">$!response.data.loginName</span> 找回支付密码，请选择找回方式：</div>
			<div >
			    <div class="dlmm_chtype" style="width:80%;margin-left: auto;margin-right: auto;">
					<i class="typeicon messageicon"></i>
                	<span class="p1">通过验证短信</span>
                    <span class="p2">如果您的$!response.data.mobile手机还在正常使用，请选择此方式</span>
                    <a href="${request.contextPath}/my/go-get-paypasswd-phone-first.htm" class="btn_ljzh"></a>
			    </div>    
				<div class="dlmm_chtype" style="width:80%;margin-left: auto;margin-right: auto;">
					<i class="typeicon emailicon"></i>
                	<span class="p1">通过验证电子邮箱</span>
                    <p class="p2">如果您的$!response.data.email邮箱还在正常使用，请选择此方式</p>
                    <a href="${request.contextPath}/my/go-get-paypasswd-email-send.htm" class="btn_ljzh"></a>
			  </div>      
      </div>
    </div>
  </div>