<div id="money_cz" class="wrap">
<div class="page_title"> </div>
	<div class="pagebox">
    <form id="form_search" action="${request.contextPath}/my/all-audit.htm" method="post">
		<input type="hidden" name="currentPage" id="currentPage" value="$!response.data.page.currentPage">
		<input type="hidden" name="auditType" id="auditType" value="payoff">
		<div class="search_row pl30 mt10">
			<div class="select_div mr16 fl"><select name="queryByTime"><option value="gmtCreated" #if($!response.data.queryByTimeType == "gmtCreated") selected = "selected" #end>申请时间</option><option value="gmtModified" #if($!response.data.queryByTimeType == "gmtModified") selected = "selected" #end>审核时间</option></select></div>
            <div class="data_div mr16 fl"><input class="datapick" type="text" value="$!response.data.startDate"  name="startDate" id="startDate" readonly><span>至</span><input class="datapick" type="text" value="$!response.data.endDate" name="endDate" id="endDate" readonly></div>
            <ul class="data_range fl"><li class="data_range_week">一周内</li><li class="data_range_month">一个月内</li><li class="data_range_quarter">三个月内</li><input type="hidden" class="data_range_value"></ul>
        </div>
        <div class="search_row">
            <dl class="search_dl">
            <dt>应用类型：</dt>
            <dd #if($!response.data.auditType == "payoff") class="cur" #end>代发工资</dd>
			##<dd data-value="daifu" #if($!response.data.auditType == "daifu") class="cur" #end>代付订单</dd>
            <input type="hidden"class="search_dl_value" name="auditType" value="$!response.data.auditType">
            </dl>
        </div>
        <div class="search_row">
            <dl class="search_dl">
            <dt>审核状态：</dt>
            <dd #if(!$!response.data.shStatus) class="cur" #end>全部</dd>
            <dd data-value="1" name="shStatus"  #if($!response.data.shStatus == "1") class="cur" #end>待审核</dd>
            <dd data-value="2" name="shStatus"  #if($!response.data.shStatus == "2") class="cur" #end>审核通过</dd>
            <dd data-value="3" name="shStatus"  #if($!response.data.shStatus == "3") class="cur" #end>审核拒绝</dd>
            <input type="hidden" class="search_dl_value" name="shStatus" value="$!response.data.shStatus">
            </dl>
        </div>
        <div class="search_row">
        	<label class="label1 fl">关 键 字：</label>
            <div class="select_div mr16 fl"><select name="selectType">
				<option value="tranVoucherNo" name="tranVoucherNo" #if($!response.data.selectType == "tranVoucherNo") selected = "selected" #end>批次号</option>
			</select></div>
            <input class="inputtext w177" type="text" value="$!response.data.value" name="value">
        </div>
        <div class="search_row">
        	<input type="button" value="" class="btn_chaxun ml30">
        </div>
        <div class="tools"><a href="#" class="tools_dc gray1 fr">导出下载</a></div>
        </form>
        <div class="table_div">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
          <tr>
            <th width="55" class="td_left pl15"><label><input type="checkbox" class="checkbox_all" style="float:left;margin:12px 5px 0 0;"> <em>全选</em></label></th>
            <th width="70">审核状态</th>
            <th width="160">批次号</th>
            <th width="90">申请时间</th>
            <th width="115">金额<em>（元）</em></th>
            <th width="110">服务费<em>（元）</em></th>
            <th width="120">申请人</th>
            <th width="160">收款账户</th>
            <th width="50">操作</th>
          </tr>
        </table>
        </div>
		<form id="form_batchAudit" action="${request.contextPath}/my/batchAudit.htm" method="POST">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
			#foreach ($!tradeInfo in $!response.data.page.infos)
        <tr>                                      
           <td width="55" class="td_left pl15">
        		#if($!tradeInfo.shStatus == "1")
        			<input type="checkbox" name="id" value="$!tradeInfo.id" class="checkbox">
        		#end
			</td>
			<td width="70">
			 #if($!tradeInfo.shStatus == "1")
            <span>待审核</span>
		    #elseif($!tradeInfo.shStatus == "2")
			<span>审核通过</span>
			 #elseif($!tradeInfo.shStatus == "3")
			<span>审核拒绝</span>
			 #end
			</td>
           <td width="160">$!tradeInfo.transId</td>
           <td width="90">$!tradeInfo.gmtCreated</td>
           <td width="115"><span class="orange  f14 bold">-$!tradeInfo.amount</span></td>
           <td width="110"><span class="orange  f14 bold">$!tradeInfo.fee</span></td>
           <td width="120">$!tradeInfo.operatorName</td>
           <td width="160"><p>$!tradeInfo.payeeBankInfo</p>$!tradeInfo.payeeNo</td>
           <td width="50"><a href="${request.contextPath}/$!tradeInfo.skipURL?id=$!tradeInfo.id">查看详情</a></td>
        </tr>
			#end
			#if(!$response.data.page.infos || $!response.data.page.infos.size()<=0)
        <tr>
        	<td colspan="9">无代发工资审核信息！</td>
        </tr>
		 #end
        <tr class="nbb">
           <td colspan="9">
           	<div class="fl table1_bottom_left2"><input type="button" value="" class="btn_shenhe"></div>
            <div class="nav_page mt16">#parse("common/control/paginator_1.vm")</div>
           </td>
        </tr>
        </table>
    </form>
	<form id="payoffForm" name="payoffForm" action="${request.contextPath}/my/downloadExaExcel.htm" method="post">
		<input type="hidden" name="auditType" id="auditType" value="$!response.data.auditType">
		<input type="hidden" name="startDate" id="startDate" value="$!response.data.startDate">
		<input type="hidden" name="endDate" id="endDate" value="$!response.data.endDate">
		<input type="hidden" name="shStatus" id="shStatus" value="$!response.data.shStatus">
		<input type="hidden" name="currentPage" id="currentPage" value="$!response.data.page.currentPage">
		<input type="hidden" name="selectType" id="selectType" value="$!response.data.selectType">
		<input type="hidden" name="value" id="value" value="$!response.data.value">
    </form>
    </div>
    
</div>
<a id="fix_online_kf" href="#"></a> 
<script>
function toQuerySubmit(currentPage){
        $("#currentPage").val(currentPage);
        $("#form_search").submit();
}
var dayRang = 92;
function doSearch() {
	var beginDateObj = $('#startDate');
	var endDateObj = $('#endDate');
	var beginDateValue = beginDateObj.val();
	var endDateValue = endDateObj.val();
	if (beginDateValue != "" || endDateValue != "") {
		if (beginDateValue == "") { alert("开始时间为空！"); return false; }
		else if (endDateValue == "") { alert("结束时间为空！"); return false; }
		else {
			if (compareDate(beginDateValue, endDateValue) < 0) {
				alert("起始时间不能大于结束时间！");
				return false;
			}
			else {
				var maxdate = GetDateRangStr(((beginDateValue).split(" "))[0], dayRang-1);
				maxdate = getDateValue(maxdate);
				var enddate = getDateValue(((endDateValue).split(" "))[0]);
				if (compareDate(enddate, maxdate) < 0) {
					alert("请选择一年内您要查询的记录！");
					return false;
				}
			}
		}
	}
	$("#form_search").submit();
}

$(function(){
	setClearStartDate('#startDate', '#endDate', dayRang);
	setClearEndDate('#startDate', '#endDate', dayRang);
	
	$(".btn_chaxun").click(function(){
		doSearch();
	});
	
	$(".checkbox_all").click(function(){
		var $thisobj = $(this);
		var isCheck = $thisobj.attr("checked");
		if(isCheck == "checked") $(".checkbox").attr("checked", true);
		else $(".checkbox").attr("checked", false);
	});
	$(".checkbox").click(function(){
		var $thisobj = $(this);
		var isCheck = $thisobj.attr("checked");
		if(isCheck == "checked") { var len = $(".checkbox").length; var flag = true; for(var i = 0; i < len; i++){ if($(".checkbox").eq(i).attr("checked") != "checked") { $(".checkbox_all").attr("checked", false); flag = false; break; } } if(flag) $(".checkbox_all").attr("checked", true);}
		else { $(".checkbox_all").attr("checked", false);}
	});
	
	$(".btn_chaxun ml30").click(function(){
		$("#form_search").submit();
	});
	
	$(".btn_shenhe").click(function(){
		if($(".checkbox:checked").length == 0) { alert("请选择您要审核的内容！"); return false; }
		$('#form_batchAudit').submit();
	});
	
	$(".tools_dc").click(function(){
		$('#payoffForm').submit();
	});
})
</script>