<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>永达互联网金融服务协议</title>
<link href="https://static.kjtpay.com/enterpriseWallet/common/css/style.css" rel="stylesheet" type="text/css">
<link href="https://static.kjtpay.com/enterpriseWallet/common/css/xieyi.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>永达互联网金融服务协议</h1>
<div class="content">
    <p>本《永达互联网金融服务协议》（以下简称“本协议”）是由您与永达互联网金融信息服务有限公司（以下简称“本公司”）签订的关于使用永达互联网金融互联网支付服务（以下简称“本服务”）的法律协议。</p>
    <p>为保障您的合法权益，请于注册成为永达互联网金融用户前，仔细阅读本协议所有内容，尤其注意以<strong>粗体下划线</strong>格式标注的内容。当您注册或使用本服务时，即表示您已充分阅读、理解并同意接受本协议之所有内容。</p>
    <p>本公司保留随时修改本协议之权利，并将于前述修改生效前30日通过永达互联网金融网站（www.kjtpay.com）（以下简称“本网站”）公布最新变更事项，而无需另作个别通知。若您在本协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容；若您不同意修改后的协议内容，您应立即停止使用本服务。</p>
    <p>&nbsp;</p>
    
    <div>一、声明与承诺<br />
    （一）您保证，您是具有完全民事行为能力的自然人或是依法成立的企业、机关事业单位或者其他组织，您同意注册永达互联网金融账户成为本网站的用户。<br />
    （二）您同意遵守所有与本服务相关之国内国际法律及规定，并同意不冒用或盗用他人的身份或者干扰他人使用本服务。<br />
    （三）您保证按照本网站的提示提供您最新、真实、有效且完整的资料，并保证不利用他人或虚假的资料注册永达互联网金融账户或进行永达互联网金融账户实名认证。<br />
    （四）您了解并同意，注册永达互联网金融账户是您使用本服务的必要但非全部条件。本公司有权依据其相关规定及自身独立判断，决定是否接受您成为永达互联网金融的用户。若您为非自然人用户，<strong>您可能需要同本公司另行签订纸质服务协议</strong>。<br />
    （五）您了解并同意，本公司并非金融机构，本服务非金融业务，<strong>所有通过和使用本服务进行流转、存放、提现的资金，在任何情况下均不产生任何形式的利息</strong>，您须自行承担上述资金在使用本服务期间的贬值风险。
    </div>
    <p>&nbsp;</p>
    
    <div>二、您的权利与义务<br />
    （一）您应当以您真实有效的电子邮箱地址或手机号码作为用户名，该用户名是您区别于本网站其他用户的唯一编号。<br />
    （二）您有义务在对永达互联网金融账户进行注册、实名认证或挂失等情形下，按照本网站提示提供您的最新、真实、有效且完整的资料，并有义务维护并立即更新您的资料（包括但不限于姓名、名称、地址等一切注册与实名认证等之必要信息）。<br />
    （三）<strong>您了解并同意，本公司有权核验您的身份信息与银行账户信息的真实性，且当本公司有合理理由怀疑或确认您提供的资料错误、不实、过时或不完整的，本公司有权要求您在指定期间提供指定资料，并有权视情形采取限制交易额度、暂停部分服务或终止您的永达互联网金融账户等措施，且不承担由此产生的一切损失。</strong><br />
    （四）您应保证您利用本服务进行的所有活动均合法合规。<br />
    （五）您的永达互联网金融账户不可转让、不可赠与、不可继承。当您的永达互联网金融账户需要终止时，您应及时将该永达互联网金融账户下的余额全部提现。您同意，若您丧失全部或部分民事权利能力或民事行为能力，本公司有权根据有效法律文书处置与您的永达互联网金融账户有关款项。<br />
    （六）您同意本公司通过您的注册电子邮箱或注册手机号码等方式向您发送通知或其他商业信息。<br />
    （七）您应保证您的连线设备具备良好的性能与状态。若因您的连线设备损坏或故障，造成您与本服务连接时所进行的交易和提现记录丢失的，本公司将不承担您因此遭受的任何损失。
    </div>
    <p>&nbsp;</p>
    
    <div>三、本公司的权利与义务<br />
    （一）本公司有权就本服务向您收取相应服务费用，并有权制定及调整服务费标准，具体服务费用以本网站公示标准及您与本公司签订的纸质支付服务协议为准。<br />
    （二）本公司有权自行决定对本公司系统与服务进行改动和升级。本公司有权根据系统升级等需要暂时中止提供本服务，但一般应提前三个自然日在本网站公示，并预告恢复日期。因银行、电信、电力供应或不可抗力等原因造成本服务突发性中止的，提前公示期限不受前述约束。<br />
    （三）任何情况下，您的资金始终独立于本公司资金之外，本公司不会将您的资金用于非您指示的用途上。<br />
    （四）本公司负责本服务平台的建设、运营和管理，并有权制订和修改相应的管理规则。<br />
    （五）本公司有义务接受和处理因本服务系统本身出现问题而产生的投诉和纠纷，但不参与您与第三方之间的具体交易过程，也不对您与第三方之间的纠纷承担责任。<br />
    （六）本公司对您通过永达互联网金融平台并使用安全产品、密码、电子签名进行的支付指令提供专业的服务。<br />
    （七）<strong>您同意本公司基于自身之独立判断，在发现以下情形时，有权要求您在指定期间提供相关信息资料等，并有权不经通知先行对您的永达互联网金融账户采取限制交易额度或次数、冻结资金、暂停部分服务或终止等措施，本公司不承担因此造成的任何损失：</strong><br />
    <p class="subp">1、您存在高风险交易、异常交易、可疑交易或违法交易的；</p>
    <p class="subp">2、您涉嫌违反本协议约定或精神的；</p>
    <p class="subp">3、银行、银联或有关国家监管部门等的合法指示和要求；</p>
    <p class="subp">但是上述风险判断与控制并不构成本公司对您的一项义务或责任。</p>
    （八）如果您有以下情形之一的，本公司有权立即终止本协议，并有权追偿因此情形导致的全部损失：<br />
    <p class="subp">1、反对宪法所确定的基本信息服务； </p>
    <p class="subp">2、危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
    <p class="subp">3、损坏国家荣誉和利益的； </p>
    <p class="subp">4、煽动民族仇恨、民族岐视、破坏民族团结的； </p>
    <p class="subp">5、破坏国家民族宗教政策，宣扬邪教和封建迷信的； </p>
    <p class="subp">6、散布谣言，扰乱社会秩序，破坏社会稳定的； </p>
    <p class="subp">7、散布谣言、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
    <p class="subp">8、侮辱或者诽谤他人，侵害他人合法权益的； </p>
    <p class="subp">9、经营网站含有法律、行政法规禁止的其他内容的； </p>
    <p class="subp">10、从事伪造或是偷窃物品之交易；</p>
    <p class="subp">11、从事任何与赌博性商品或行为有关之交易； </p>
    <p class="subp">12、侵害第三者之著作权、专利权、知识财产权、商标或商业机密之交易；</p>
    <p class="subp">13、从事洗钱、套现、恐怖融资、诈骗等任何违法之行为； </p>
    <p class="subp">14、从事任何有关色情交易； </p>
    <p class="subp">15、从事任何可能含有电脑病毒或是任何可能侵害本服务系统、功能、资料之行为；</p>
    <p class="subp">16、任何可能对本服务造成部份或全部妨害之行为； </p>
    <p class="subp">17、不履行相关义务导致本协议不能履行或不能实际履行；</p>
    <p class="subp">18、故意诋毁或损害本公司的声誉；</p>
    <p class="subp">19、因各种原因导致无法继续经营、停业、或进入破产清算程序的；</p>
    <p class="subp">20、协议有效期内发生的其他严重违反本协议约定的行为；</p>
    <p class="subp">21、从事任何违反中华人民共和国相关法律，法规和规定的不正当交易；</p>
    <p class="subp">22、违反法律法规规定的其他情形。</p>
    <p>&nbsp;</p>
    
    <div>四、服务条款<br />
    （一）交易风险：若您或对方未遵守本协议或本网站提示的操作步骤或规定条件（包含任何不合法或未经许可之交易），本公司不承诺交易会顺利或者正确完成，且本公司不承担任何责任。若在上述情形下相关款项已先行划入您的永达互联网金融账户的，本公司有权且无需附加任何条件而向您取回该款项。<br />
    （二）充值：您可以利用银行转账等方式向您自身的永达互联网金融帐户汇入一定金额的款项。<br />
    （三）付款：您可以利用本服务向其他永达互联网金融用户支付各类款项。您同意本公司将与银行、第三方支付机构合作，共同完成有关付款服务。<br />
    （四）收款：您可以利用本服务代为收取其他永达互联网金融用户向您支付的各类款项。您同意本公司将与银行、第三方支付机构合作，共同完成有关收款服务。<br />
    （五）提现：您可以要求本公司将您永达互联网金融账户内的资金提出到您的银行账户中，该银行账户应该是同您认证的信息严格一致的有效的中国大陆银行账户。<br />
    （六）查询：您可以查询您的永达互联网金融账户90日内的交易信息。<br />
    （七）退回：当您使用本服务进行付款时，可能由于您提供的账户信息有误、银行方面原因或其他因素造成交易无法完成，此时本公司将在确认后将付款金额按原支付路径退回至您的永达互联网金融账户或银行卡账户中。
    </div>
    <p>&nbsp;</p>
    
    <div>五、权利保证<br />
    （一）本公司拥有“永达互联网金融软件”及相关产品和服务的一切权利，包括但不限于：商标、文字、软件、声音、图片、录像、图表、广告中的全部内容、本公司电子邮件的全部内容、本网站全部内容等，所有这些内容均受法律的保护，未经本公司授权不得擅自使用，否则您将赔偿因此给本公司造成的全部损失。<br />
    （二）您应保证不侵犯任何第三方的知识产权等权益，如本公司因此而被任何第三方主张权利（无论基于何种形式），您应赔偿本公司遭受的全部损失。
    </div>
    <p>&nbsp;</p>
    
    <div>六、隐私保护<br />
    本公司重视对用户隐私的保护，对用户资料的收集，遵守永达互联网金融《隐私保护声明》之规范。
    </div>
    <p>&nbsp;</p>
    
    <div>七、安全条款<br />
    （一）您应妥善保管您的永达互联网金融账户、密码和本公司提供的一切安全产品，并保证只在安全环境下与只有经您授权的人可使用您的永达互联网金融账户，不向其他任何人透露或允许使用您的上述安全信息。<strong>由于您的原因导致上述安全信息被他人知悉或使用，进而造成您的损失的，本公司不承担任何责任。</strong><br />
    （二）当您发现您的永达互联网金融账户、密码以及本公司提供的安全产品等泄露、遗失或被第三人冒用、盗用等其他任何未经合法授权的异常情形的，您应立即通知本公司，并按照本网站提示向本公司提交必要证明资料以便本公司及时确认。<strong>在确认上述事实前，您的永达互联网金融账户已发生的登录或交易结果均须由您独自承担</strong>，除非可证明本公司对上述安全信息之泄露、遗失及未经合法授权之情形存在故意或重大过失。若您延迟通知或不按照本网站提示提交资料的，则本公司对延迟期间产生的损失不承担任何责任。<br />
    （三）如果您不小心泄漏了您的密码，请立即登录您的永达互联网金融账户更改您的密码。设置的密码应方便您的记忆而不易破解，避免选择一些显而易见的词或者日期，比如：英文名字、出生日期、电话号码等。<br />
    （四）尽量不要把您在其他网站的密码用在这里，在多个网站使用同一密码，会提高您输入同一密码的几率，这样您的密码就很容易被别人窃取。<br />
    （五）只有在浏览器的URL是以https://www.kjtpay.com/开头时，您才可在网页上输入密码。有的网站包含本网站的字符串，其目的是哄骗您输入密码，然后侵犯您的账户。<br />
    （六）请审慎选择电子邮件中包含的链接，该链接可能会将您错误的导向一些网页，引诱您输入您的私人信息，请您特别小心。
    </div>
    <p>&nbsp;</p>
    
    <div>八、免责条款与赔偿范围<br />
    （一）因不可抗力或本公司不能控制的原因导致您无法使用本服务或造成您损失的，本公司不承担任何责任，但将尽力减少因此给您造成的损失和影响。上述不可抗力与本公司不能控制的原因包括但不限于以下情形：<br />
    <p class="subp">1、台风、地震、海啸、洪水、战争等。</p>
    <p class="subp">2、黑客攻击、计算机病毒侵入或发作； </p>
    <p class="subp">3、计算机系统遭到破坏、瘫痪或无法正常使用而导致信息或记录的丢失等的； </p>
    <p class="subp">4、电信部门技术调整导致之重大影响；</p>
    <p class="subp">5、电信机线设备原因以致发生错误、迟滞中断或不能传递；</p>
    <p class="subp">6、因政府管制而造成的暂时性关闭等；</p>
    <p class="subp">7、出于您与交易相对方、银行、电信、网络、设备及供电故障等其他不可抗力或其他不可归责于本公司的事由。</p>
    （二）<strong>您了解并认可，您使用本服务将存在一定的风险，该等风险包括但不限于：您的永达互联网金融账户和密码被他人冒用、盗用、或有其他任何未经合法授权之情形发生；或不法分子盗用您的银行卡；或对方拒绝付款等。这些风险均会给您造成经济损失，除非可证明本公司对损失的形成存在故意或重大过失，本公司将不承担任何责任。</strong><br />
    （三）<strong>您同意，您使用本服务所存在的风险及后果将完全由您独自承担，本公司对您的交易行为及其影响不承担任何责任。</strong><br />
    （四）本公司不保证本网站设置的外部链接的准确性和完整性，也不对该等外部链接指向的不由本公司实际控制的任何网页上的内容承担任何责任。<br />
    （五）本公司不对本服务提供任何形式的保证，包括但不限于以下事项：<br />
    <p class="subp">1、本服务完全符合您的需求；</p>
    <p class="subp">2、本服务不受干扰、及时提供或免于出错。</p>
    <p>&nbsp;</p>
    
    <div>九、违约责任<br />
    （一）如果您违反有关法律、法规或本协议项下的任何条款而给本公司或任何第三方造成损失的，您应承担由此造成的损害赔偿责任。<br />
    （二）如果本公司违反本协议约定致使您的资料对外泄露的，本公司将赔偿您因此所造成的直接经济损失，并且将采取积极的办法做出补救；如果您违反本协议约定致使您或本网站其他用户的资料被他人获取、破坏、对外泄露的，应当赔偿本公司因此遭受的直接经济损失。
    </div>
    <p>&nbsp;</p>
    
    <div>十、法律适用与管辖法院</div>
    <p>本协议的订立、效力、解释、履行和争议的解决等均适用中华人民共和国法律，并应以本公司所在地有管辖权的人民法院为一审管辖法院。</p>
    <p>&nbsp;</p>
    
    <div>十一、其他事项<br />
    （一）本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。除非经本公司书面同意，您无法转移任何权利和义务。  <br />
    （二）不论本协议中的任何条款因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。<br />
    （三）本协议与纸质服务协议具有同等法律效力。如本协议与纸质服务协议约定不一致的，优先适用纸质服务协议的约定。<br />
    （四）若您在使用永达互联网金融账户的同时还涉及到本公司的其它产品或服务的，您同时还须遵守本公司其它产品和服务的规定。
    </div>
    <div style="padding:20px;text-align:center;"><input type="button" value="同意" style="padding:10px 20px;cursor:pointer;background:blue;color:#fff;" onclick="window.parent.iframeOk();" />&nbsp;&nbsp;<input type="button" value="拒绝" style="padding:10px 20px;cursor:pointer;" onclick="window.parent.iframeCancel();" /></div>
    <script>
	var cur_url = window.location.href;
	if( !( cur_url.indexOf("localhost") >=0 || cur_url.indexOf("127.0.0.1") >= 0 || cur_url.indexOf("192.168") >= 0 ||cur_url.indexOf("kjtpay.com") >= 0) )
		document.domain = "kjtpay.com";
	</script>
    
</div>
</body>
</html>
