<div class="wrapbg">
    <div id="money_cz" class="wrap">
        <div class="page_title transaction">
            <div class="title fl">
                <i class="icon fl"></i>
                <span class="tt fl">退货详情</span>
            </div>
        </div>
        <div class="pagebox ">
            <div class="table_div">
                <h3>退款信息</h3>
            </div>
            <table class="Detail_tab">
                #foreach($info in $response.data.list.baseInfoList)
                <tr>
                    <td class="tab_w">退款交易号</td>
                    <td class="tab_w2">$!{info.tradeVoucherNo}<br></td>
                    <td class="tab_w">退款金额（元）</td>
                    <td class="Detail_tab_no tab_w2">$!{info.serialNumber}</td>
                </tr>
                <tr>
                    <td class="tab_w">创建时间</td>
                    <td class="tab_w2">$!{info.tradeVoucherNo}<br></td>
                    <td class="tab_w">完成时间</td>
                    <td class="Detail_tab_no tab_w2">$!{info.serialNumber}</td>
                </tr>
                #if(${info.orderState} == "100")

                #set($tradeStatus="待支付")##待支付
                #set($moneycolor="money")
                #elseif(${info.orderState} == "110" || ${info.orderState}=="111" || ${info.orderState} == "121")
                #set($tradeStatus="处理中")##
                #elseif(${info.orderState} == "201")
                #set($tradeStatus="支付成功")##   付款成功=支付成功
                #elseif($info.orderState == "999")
                #set($tradeStatus="交易失败")##   交易关闭视为交易失败
                #end

                #if($info.tradeType == "INSTANT_TRASFER")
                #if($info.orderState == "301" || $info.orderState == "401")
                #set($tradeStatus="交易结束")##转账成功视为交易 成功
                #end
                #if($info.orderState == "998")
                #set($tradeStatus="交易失败")##转账失败视为交易失败
                #end
                #else
                #if($info.orderState == "301")
                #set($tradeStatus="交易成功")##交易成功
                #elseif($info.orderState == "401")
                #set($tradeStatus="交易结束")##交易结束视为交易成功
                #end
                #end  ##  #待支付 #处理中 退款中  #交易成功  失败  退款失败      已退款    #等待发货       #等待确认收货
                #if($info.memberId == $info.buyerId)
                #set($plusminus ="-")
                #set($moneycolor="orange f14 bold")
                #elseif($info.memberId == $info.sellerId)
                #set($plusminus ="")
                #set($moneycolor="green  f14 bold")
                #end
                <tr class="cl">
                    <td>退款状态</td>
                    <td>$!{tradeStatus}</td>
                    <td></td>
                    <td></td>
                </tr>
                #end

            </table>
            <div class="table_div">
                <h3>订单信息</h3>
            </div>
            <table class="Detail_tab">
                #foreach($info in $response.data.list.baseInfoList)
                <tr>
                    <td class="tab_w">交易订单号</td>
                    <td class="tab_w2">$!{info.tradeVoucherNo}<br></td>
                    <td class="tab_w">商户订单号</td>
                    <td class="Detail_tab_no tab_w2">$!{info.serialNumber}</td>
                </tr>
                #if($info.TradeType=="INSTANT_TRASFER")
                #set($tradeType ="普通转账交易")
                #elseif($info.TradeType=="INSTANT_ACQUIRING")
                #set($tradeType ="即时到账收单交易")
                #elseif($info.TradeType=="ENSURE_ACQUIRING")
                #set($tradeType ="担保收单交易")
                #elseif($info.TradeType=="PREPAY_ACQUIRING")
                #set($tradeType ="下订收单交易")
                #elseif($info.TradeType=="REFUND_ACQUIRING")
                #set($tradeType ="收单退款交易")
                #else
                #set($tradeType =$info.TradeType)
                #end
                <tr class="cl">
                    <td>创建时间</td>
                    <td>$!dateUtil.getNewFormatDateString(${info.gmtSubmit})</td>
                    <td>交易类型</td>
                    <td class="Detail_tab_no">$tradeType</td>
                </tr>
                <tr>
                    <td>交易金额（元）</td>
                    <td>$moneyUtil.getAmount($!info.payAmount)</td>
                    <td>原始订单服务费（元）</td>
                    <td class="Detail_tab_no">$!{moneyUtil.getAmount($!info.payeeFee)}</td>##数据暂缺
                </tr>
                <tr  class="cl">
                    <td>支付时间</td>
                    <td>$!dateUtil.getNewFormatDateString(${info.gmtpaid})</td>
                    <td></td>
                    <td class="Detail_tab_no"></td>
                </tr>
                #end

            </table>

            <!--<div class="fun_btn relative">
                <a href="javascript:history.back(-1);return false;" class="btn btn-bg recenternoml" style="margin-left: -50px;">返 回</a>
            </div>-->
        </div>
    </div>
</div>