<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>永达互联网金融转账到银行卡服务协议</title>
<link href="https://static.kjtpay.com/enterpriseWallet/common/css/style.css" rel="stylesheet" type="text/css">
<link href="https://static.kjtpay.com/enterpriseWallet/common/css/xieyi.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>永达互联网金融转账到银行卡服务协议</h1>
<div class="content">
	<div class="p"><strong>第一条 总则</strong></div>
	<p>为明确双方的权利和义务，规范双方行为，甲方(用户)、乙方(永达互联网金融信息服务有限公司)本着平等互利的原则，就转账到银行卡服务的相关事宜达成《永达互联网金融转账到银行卡服务协议》(以下简称本协议) 。 </p>
	<p>甲方理解并确认，在正式签署本协议之前，已对全文进行阅读并同意按照协议的约定使用本产品并遵守相关约定，尤其包括<em>粗体下划线</em>标注的内容。 </p>
	<p>转账到银行卡的定义：指由乙方提供的，可供甲方将其永达互联网金融账户中支持转账到银行卡的余额、相关借记卡的款项支付到甲方或其他第三方的银行借记卡或存折账户的服务。 </p>
    
	<div class="p"><strong>第二条 甲方权利、义务</strong></div>
	<p>（一）甲方确认在使用本服务的意思表示出自其真实意愿；同时甲方对使用本服务过程中发出的指令的真实性及有效性承担全部责任，该指令不可变更或撤销。<em>甲方承诺，乙方依照甲方指令进行操作的一切风险以及因甲方原因导致转账到银行卡失败的责任均由甲方承担。</em></p>
	<p>（二）甲方同意承诺不会利用本服务从事任何非法的或违反本协议目的或者侵犯其他第三方权益的行为，否则乙方有权立即单方面终止提供本服务，并不承担任何责任；因此给乙方造成损失的，甲方应承担全部赔偿责任。 </p>
	<p>（三）甲方在使用转账到银行卡过程中所填写的相关信息真实准确，包括但不限于收款方银行卡或存折账户信息，否则因信息填写错误导致的所有责任均由甲方自行承担。亦包括因甲方填写的收款方信息错误导致付款对象错误，乙方不介入调账相关事宜，所有因此导致的问题均由甲方自行解决。 </p>
	<p>（四）<em>甲方授权乙方在甲方使用本服务期间或乙方终止提供本服务后，有权保留甲方使用本服务期间所形成的相关信息数据，同时该授权不可撤销。</em></p>
	<p>（五）<em>甲方授权乙方可基于更好为甲方服务目的，向其他第三方提供上述保存信息数据，且授权期限无限制，并不因为此协议提前终止或届满而终止授权。</em></p>
	<p>（六）甲方在使用乙方提供的本项服务时，必须同时遵守乙方网站不时公布的《永达互联网金融服务协议》及相关附属规则，以及各家银行的相关业务规定。否则因此导致责任，均由甲方自行承担。 </p>
	<p>（七）除因甲方原因导致转账到银行卡失败的，针对非甲方原因导致使用本服务不成功的情形，乙方将退还已经收取的相关服务费。<em>但针对非因乙方原因导致转账到银行卡失败的所有损失，乙方不承担任何责任。</em></p>
	<p>（八）<em>甲方理解并同意，针对乙方提供的本项服务，因乙方原因导致付款迟延或失败而给甲方造成直接损失的，乙方以其针对该次转账到银行卡服务过程中所收取的服务费为限承担赔偿责任。</em></p>
	<p>（九）<em>甲方理解并同意，针对乙方提供的转账到银行卡服务，乙方仅负责在页面承诺的时限内向相应银行发送付款指令，由银行按照页面约定时限进行付款操作；乙方并不保证在规定时限内一定能够付款到账</em>（如乙方在本服务界面提示2小时内到账的，乙方仅负责在2小时内向银行发送付款指令并由银行协作在2小时的时限内完成付款工作）。因银行方面原因致使到账延误的，乙方有义务协助进行处理。收款方如因上述原因未收到上述款项的，可凭相关银行对账单要求乙方向银行查询并在5个工作日内进行处理。</p>
	<p><em>甲方理解并同意，其使用本项服务的前提是对该笔转账到银行卡并不具备很严格的时限要求，同时也不会基于转账到银行卡迟延而要求乙方或银行承担任何责任。</em></p>
	<p>（十）甲方应遵守本服务的相关使用规则及要求，具体以乙方不时在页面提示的使用规则及限制为准。 </p>
	<p>（十一）甲方在使用本服务过程中，非因乙方原因导致最终付款失败的，乙方原先提供的免费付款额度将不予恢复，视该额度已经使用。甲方不得据此要求乙方提供额外免费付款额度。 </p>
	<p>（十二）甲方在使用转账到银行卡业务时，还将受到付款来源银行对其单笔转账最高金额和每日累计转账最高金额的限制，具体限额请自行联系相关银行沟通确认。因该限制导致的还款失败，乙方不承担责任。 </p>
	<p>（十三）甲方对乙方转账到银行卡服务如有疑问、建议或意见时，可拨打乙方客服电话或登录乙方网站进行咨询和投诉。 </p>
    
	<div class="p"><strong>第三条 乙方权利、义务</strong></div>
	<p>（一）乙方有权对甲方的注册资料及付款行为进行审核，发现甲方填写的使用信息或转账到银行卡的行为违反国家相关法律法规、规章或侵权其他第三方权益的情况下，有权要求甲方提供相关材料予以说明或直接对相关转账到银行卡行为作出包括但不限于暂停/中止/终止处理或冻结相应款项的处理。<em>同时针对因乙方核查需要导致该笔转账到银行卡迟延/中止/终止的，甲方不得据此要求乙方承担责任。</em></p>
	<p>（二）<em>乙方有权随时根据自身业务的发展增加、减少或撤消转账到银行卡所支持的银行以及该行发行的银行卡或存折种类或者调整转账到银行卡服务的内容，包括但不限于对该服务进行升级、改造、调整收费方式及价格，具体以乙方届时提供的服务为准。甲方若不能接受相关变更、调整的，应立即停止使用本服务，否则即视为同意。</em></p>
	<p>（三）乙方可以在法律法规许可和甲方授权的范围内使用甲方的资料和交易记录，甲方在此确认乙方有权使用甲方在使用本服务过程中产生的所有信息。 </p>
	<p>（四）乙方有义务在技术上确保转账到银行卡系统的安全、有效、正常运行，保证甲方正常使用的顺利进行，并及时向甲方提供查询相关使用记录、资金状态、账户状态等服务。但不承担因通讯、停电故障、黑客攻击、银行问题、不可抗力等非乙方原因所引起转账到银行卡中止或失败而引起的责任。 </p>
	<p>（五）<em>因为银行稽查方面原因导致该笔交易中止/终止的，甲方有义务配合乙方向银行提供相关证明材料，否则因此导致的所有责任均由甲方自行承担。同时因为银行稽查方面原因导致甲方付款迟延的，甲方不得就此要求乙方或银行承担任何责任。</em></p>
	<p>（六）乙方对甲方的注册信息及在使用本服务过程中产生的付款记录负有保密义务，但乙方根据法律法规规定向有权查询的相关政府机关，<em>或为完成本次转账到银行卡服务及基于更好为甲方提供服务目的，可视需要向其他第三方提供。</em></p>
	<p>（七）<em>除本协议另有规定外，乙方在提前3个日历天邮件通知甲方或在网站公告的情况下，可以单方面终止向甲方提供本服务，并不承担任何赔偿责任。</em>乙方在终止提供本服务后，若发现甲方之前存在违法或违反本协议目的的使用行为，给乙方造成损失的，则乙方仍可据此要求甲方承担相应赔偿责任并保留通过司法途径予以解决的权利。 </p>
	<p>（八）乙方负责向甲方提供转账到银行卡业务咨询服务，并在乙方网站公布功能介绍、热点解答、使用规则等内容。 </p>
	<p>（九）乙方承诺不会以任何形式挪用甲方用以付款的资金，否则一经发现，甲方有权据此要求乙方承担相应的违约责任。 </p>
	<p>（十）乙方有权根据自身业务情况决定是否向甲方提供相应的免费付款额度及免费额度的大小；但乙方并不承诺该免费付款额度一定提供以及该免费额度在甲方使用前不会进行调整。 </p>
    
	<div class="p"><strong>第四条 协议修改</strong></div>
	<p>（一）乙方将有权随时修改本协议的有关条款，一旦相关内容发生变动，永达互联网金融公司将会通过网站公告方式向甲方提示修改内容。 </p>
	<p>（二）<em>如果甲方不同意乙方对本协议相关条款所做的修改或者乙方不时公布的《永达互联网金融服务协议》及相关附属规则，甲方应立即停止使用乙方提供的本项服务。如果甲方继续使用乙方提供的服务，则视为其同意本协议相关条款的修改及乙方不时公布的《永达互联网金融服务协议》及相关附属规则。</em></p>
    
	<div class="p"><strong>第五条 争议的解决</strong></div>
	<p><em>双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均向乙方所在地人民法院提起诉讼。</em></p>
    
	<div class="p"><strong>第六条 协议的解释</strong></div>
	<p>本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，应适用永达互联网金融公司制定的业务规则和通行的商业惯例。本服务协议未规定部分依照《永达互联网金融服务协议》及相关附属规则予以履行；本协议与《永达互联网金融服务协议》及相关附属规则相冲突的，以本协议为准。</p>
	<div style="padding:20px;text-align:center;"><input type="button" value="同意" style="padding:10px 20px;cursor:pointer;background:blue;color:#fff;" onclick="window.parent.iframeOk();" />&nbsp;&nbsp;<input type="button" value="拒绝" style="padding:10px 20px;cursor:pointer;" onclick="window.parent.iframeCancel();" /></div>
    <script>
	var cur_url = window.location.href;
	if( !( cur_url.indexOf("localhost") >=0 || cur_url.indexOf("127.0.0.1") >= 0 || cur_url.indexOf("192.168") >= 0 ) )
		document.domain = "kjtpay.com";
	</script>

</div>
</body>
</html>
