<div class="wrap">
	<div class="page_title">
    	<div class="fr page_title_right"></div>
    	<h2></h2>
    </div>
    <div class="account_set_wrap" style="display:inline-block;">
    
    	<div class="account_set_left account_set_left_standard" style=" ">
     	  	   <ul>
     	  	   	    <li>
     	  	   	         <a href="#springUrl('/static/wyzf.htm')" class="subBlock ">
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">网银支付</span>
     	  	   	         </a>
     	  	   	    </li>
                    <li>
     	  	   	         <a href="#springUrl('/static/jsdz.htm')" class="subBlock">
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">即时到账</span>
     	  	   	         </a>
     	  	   	    </li>
					<!--
						<li>
     	  	   	         <a href="#springUrl('/static/dfgz.htm')" class="subBlock selected">
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">代发工资</span>
     	  	   	         </a>
     	  	   	   		</li>
					-->
                    <li>
     	  	   	         <a href="#springUrl('/static/plzz.htm')" class="subBlock">
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">批量转账</span>
     	  	   	         </a>
     	  	   	    </li>
     	  	   </ul>
     	  </div>
          <div class="account_set_right">
     	  	   
     	  	   <div class="account_set_right_h1">代发工资</div>
     	  	   <div class="account_set_right_main clearfix" style=" padding-top:32px; padding-left:25px; padding-right:25px;">
     	  	   	   
				<div style="display:inline-block;">	
                   <div class="appproducts_img"><img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/app/app-7.gif"></div>
                   <div class="appproducts_info">
                   		##<h3><p class="fr"><a href="#" class="addZzToKjt">下载协议</a>  <a href="#" class="addZzToKjt">上传协议</a></p><span class="yahei f22">代发工资</span></h3>
                        <h3><span class="yahei f22">代发工资</span></h3>
						<p style="line-height:24px; padding-top:3px;">不用跑银行，在线发工资</p>
                        <div class="appproducts_js" style=" display:inline-block;border-bottom:1px solid #e1e1e1;">
                        	<i class="icon_tip_g">产品介绍</i>
                            <p>是永达互联网金融推出的增值服务，是指您可以通过永达互联网金融账户来为您公司员工发放工资、奖金等薪资的服务。</p>
                        </div>
                         <div class="appproducts_sq" style="display:none">
                        	<i class="icon_tip_b">申请条件</i>
                            <p>无</p>
                        </div>
                   
                   
                   </div>
                   
                   </div>
                   
                   
                   
                   <div class="appproducts_cont" style="padding-top:35px;">
                   	<h3 class="payment_tit">
                    	<p>
                        <a class="cur" href="javascript:void(0)">使用流程</a>
                        <a href="javascript:void(0)" class="none">收费标准</a>
                        </p>
                    </h3>
                    <div class="appproducts_cont1">
                        <p class="color_b3" style=" padding:22px 0 0 0;">本流程仅为示例，卖家可根据自身网站进行调整</p>
						
                        <h3 class="cl">01 登录永达互联网金融网站，输入用户名、密码和验证6-1-1码</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/6-1-1.jpg">
                        <h3 class="cl">02 点击应用中心</h3>
						<img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-1.jpg">
                        <h3 class="cl">03 选择代发工资，下载代发工资模版</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-2.jpg">
                        <h3 class="cl">04 下载模版</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-3.jpg">
                        <h3 class="cl">05 在模版中填写好相关信息</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-4.jpg">
						<h3 class="cl">06 浏览文件到平台上，点击确认</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-5.jpg">
						<h3 class="cl">07 确认代发工资信息，输入支付密码和手机校验码，点击确认</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-6.jpg">
						<h3 class="cl">08 提交成功</h3>
                        <img src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/images/Appproducts/5-7.jpg">
                    </div>
                    <div class="appproducts_cont2" style="display:none;">
                        <h3 style="padding:20px 0;"><span class="f14 b">永达互联网金融费率标准</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="f12">商户可根据业务情况，按下表所示选择适合各自企业的费率；</span></h3>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="standard_table">
                    	<tr>
                        	<th width="74">费率类型</th>
                            <th width="212">交易流量</th>
                            <th width="77">费率标准</th>
                            <th width="77">超量费率</th>
                            <th>备注</th>
                        </tr>
                    	<tr>
                        	<td width="74">阶梯费率</td>
                            <td width="212">0-5万元（包含5万元）</td>
                            <td width="77">0.90%</td>
                            <td width="77">1.00%</td>
                            <td class="text_left">1、选择阶梯费率的商户，按实际交易量进行选择，永达互联网金融会根据商户经营情况进行判断是否符合该费率
2、超量费率是指：如您的交易量为10万，则您的费用为5万*0.9%+（10万-5万）*1.0%=0.095万元。</td>
                        </tr>
                        
                        <tr>
                        	<td></td>
                            <td>5-20万元（包含20万元）</td>
                            <td>0.84%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>20-50万元（包含50万元）</td>
                            <td>0.75%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>50-100万元（包含100万元）</td>
                            <td>0.70%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>100-200万元（包含200万元）</td>
                            <td>0.60%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>200-500万元（包含500万元）</td>
                            <td>0.50%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>500-1000万元（包含1000万元）</td>
                            <td>0.45%</td>
                            <td>1.00%</td>
                            <td class="text_left"></td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="standard_table" style="margin-top:39px;">
                    	<tr>
                        	<th width="74">费率类型</th>
                            <th width="212">交易流量</th>
                            <th width="77">费率标准</th>
                            <th width="77">超量费率</th>
                            <th>备注</th>
                        </tr>
                    	<tr>
                        	<td width="74">套餐费率</td>
                            <td width="212">0-5万元（包含5万元）</td>
                            <td width="77">420元</td>
                            <td width="77">0.84%</td>
                            <td>选择套餐费率的商户需要提前支付套餐手续费</td>
                        </tr>
                        
                        <tr>
                        	<td></td>
                            <td>5-20万元（包含20万元）</td>
                            <td>1580元</td>
                            <td>0.79%</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>20-50万元（包含50万元）</td>
                            <td>3600元</td>
                            <td>0.72%</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>50-100万元（包含100万元）</td>
                            <td>6600元</td>
                            <td>0.66%</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>100-200万元（包含200万元）</td>
                            <td>10800元</td>
                            <td>0.54%</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>200-500万元（包含500万元）</td>
                            <td>23000元</td>
                            <td>0.46%</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td>500-1000万元（包含1000万元）</td>
                            <td>42000元</td>
                            <td>0.42%</td>
                            <td></td>
                        </tr>
                    </table>
                    </div>
                   </div>
                
     	  	   </div>

     	  </div>
    </div>
    
    
  
</div>
<script>
$(function(){
	$(".payment_tit a").click(function(){
		$(".payment_tit a").removeClass("cur");
		$(this).addClass("cur");
		if($(this).index()==0){
		
			$(".appproducts_cont1").show();
			$(".appproducts_cont2").hide();
		}else if($(this).index()==1){
			$(".appproducts_cont1").hide();
			$(".appproducts_cont2").show();	
		}
	})
})
</script>