<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/style.css" rel="stylesheet" type="text/css">
<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/news.css" rel="stylesheet" type="text/css">
<!-- S 主要内容 -->
<div class="wrap mt30">
     
     <div class="newsHead">首页 &gt; 行业资讯</div>

     <div class="newsMain">
     	 
         <div class="newscontent">
              
              <h1 class="header">工信部对手机支付双频标准立项征求意见 并未放弃2.4G<span class="time">2014年08月27日</span></h1>
              
              <p>随着手机支付业务需求的日益强烈，我国需要尽快制定相关技术要求，为此，工信部昨日公开对手机支付的两个国家标准立项征求意见，以推动我国手机支付产业快速发展。该项国标由工信部电信研究院、国民技术以及三大运营商共同起草。</p>
              <p>工信部昨日就《基于13.56MHz和2.45GHz双频技术的非接触式销售点(POS)射频接口技术要求》征求意见。工信部电信研究院相关项目人士向记者透露，这将是工信部互联互通标准基于13.56MHz和2.45GHz双频技术的首个立项标准。而该标准之所以备受关注，是因为直接关系到国内移动支付产业的发展。</p>
              <p>两种手机支付技术并行</p>
              <p>据记者了解，2.45GHz手机支付技术是具有我国自主知识产权的手机支付技术。2004年，我国企业开始对该技术进行研究，并于2008年推出首批2.45GHz手机支付产品。三大运营商均分别制订了各自的2.45GHz手机支付企业标准，并已开展了一定程度的实际应用。而基于13.56MHz近场通信技术是比较成熟的技术，目前发展迅速。</p>
              <p>工信部强调，基于双频技术的POS终端能同时支持两种射频技术，能够适应双频技术的手机支付应用。该标准项目目前无相关国家标准和行业标准。</p>
              <p>根据工信部的安排，起草单位将组织三场专家讨论会，就具体事项进行深入论证，时间分别为今年8月、10月、和12月。</p>
              <p>对于双频POS国标立项，国民技术表示，双频POS技术得到采用，将推动2.45GHz手机支付技术的商用环境的建设，长期上看对公司业务有促进作用。</p>
              <p>事实上，关于移动支付的技术标准，此前一直处于2.45GHz标准和13.56MHz标准各行其道的竞争态势。直到2012年6月，中国移动与中国银联正式签署移动支付业务合作协议，被认为是向13.56MHz标准靠拢的重要信号。随后，央行发布的《中国金融移动支付系列技术标准》也采用了13.56MHz技术。</p>
              <p>技术较量背后的产业安全</p>
              <p>国民技术基于2.45GHz的手机支付技术是我国自主研发的近距通信技术，已经列入工信部互联互通行业标准范畴。而与基于13.56MHz的手机技术相比，其在安全性、成本、应用便利性方面具有优势，并已经在上海世博会“世博通”手机钱包中有所应用。</p>
              <p>值得注意的是，今年3月，来自深圳的全国人大代表曾联名递交集体建议，呼吁国家相关部门重视移动支付标准确立问题，给纯粹原创的基于2.45GHz的手机支付技术一个发展机会。而产业安全问题成为一个重要考量。公开资料显示，基于13.56MHz的手机支付技术拥有1700项专利，主要掌握国外企业手中;而基于2.45GHz的手机支付技术拥有600项技术，全部掌握在中国企业手里。而深圳代表的集体提案希望由国家相关部门共同制定国家标准，在国内实行双标准运行，让金融系统的POS机具同时支持两项技术，让市场应用实践来决定发展方向。</p>
              <p>此次工信部就两个国家标准立项征求意见，正式表明了这一市场化选择的态度。</p>
              <p>记者还从工信部电信研究院获悉，目前，除了启动双频POS立项外，基于2.45GHz的智能卡及POS相关标准也在制定过程中。</p>
              <p>国民技术相关负责人昨日对本报表示，国家对自主技术的支持也给公司极大鼓舞，国民技术将会继续推动这一主创新技术的发展和应用。公司证券事务代表于凤翔接受记者采访时介绍说，目前2.45GHz的手机支付技术可应用于公交、地铁、校园等领域，并已在深圳、哈尔滨、青岛、包头、绵阳等多个城市落地使用。根据公司《2014年半年度报告》，该项移动支付业务在公司主营业务收入中占比为13.40%。</p>
              <p>据深交所互动易显示，在今年6月和8月的两次机构调研中，国民技术的这一技术进展得到了调研机构的重点关注。</p>
         
        </div>
        
        <div class="btmBtn"><div><a class="btnLeft" href="#springUrl('/static/newscon1.htm')"></a><a class="btnCenter" href="javascript:;" style="background:none; cursor:default;"></a><a class="btnRight" href="#springUrl('/static/newscon3.htm')"></a></div></div>
          
     </div>
     
</div>
<!-- E 主要内容 -->
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/jquery-1.8.2.min.js"></script>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/js.js"></script> 
