<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/style.css" rel="stylesheet" type="text/css">
<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/news.css" rel="stylesheet" type="text/css">

<!-- S 主要内容 -->
<div class="wrap mt30">
     
     <div class="newsHead">首页 &gt; 行业资讯</div>

     <div class="newsMain">
     	 
         <div class="newscontent">
              
              <h1 class="header">二维码支付风险点已汇总至央行 领导称“可行”或下月发标准<span class="time">2014年08月25日</span></h1>
              
              <p>距离央行“叫停令”五个月后，二维码支付市场又躁动了起来。</p>
              <p>8月14日，iOS版微信发布了5.4.0.16升级版本，在该版本新增的几项功能中，最引人主意的当属扫二维码“转账给朋友”和“面对面收钱”功能，这些功能的加入，事实性地启动了微信的二维码支付。</p>
              <p>无独有偶，8月初，上海便利店全家(Family　Mart)的门口清一色贴上了支付宝钱包的广告，显示9月15日前，所有通过支付宝手机扫码完成的交易能享受九折优惠。此外世纪联华超市、可的便利店等则已经把二维码支付等扩展到数十家门店。除此以外，餐饮行业也或将成为支付宝的下一个进军目标，望湘园等餐饮知名品牌门口挂在广告条幅：8月6日-10月9日扫码买单力减15元。</p>
              <p>区别于3月的铁腕治理，这一次，央行选择了沉默观望。这是否意味着二维码支付重启时日渐进？</p>
              <p>经济观察报从接近央行支付结算司人士处获悉，央行或在9月下旬召开相关会议讨论二维码相关的技术标准及规范。</p>
              <p>支付宝、微信齐布局</p>
              <p>近一个月以来，二维码支付在线上线下的攻城略地似乎成为一个公开的秘密。然而只能做，却不能说。即使是微信、支付宝被曝出双双重启二维码支付之后，双方亦选择了沉默应对，截止经济观察报发稿，双方均未予以正式回应。</p>
              <p>不过，有接近支付宝及腾讯人士对经济观察报表示，作为一个新生事物、新领域，推二维码支付的出发点是为客户带来更好、更便捷的客户体验，其余的没想太多。</p>
              <p>事实上，从支付宝和微信二维码支付重启前后的技术模式对比来看，双方确实在安全性等环节上做了一定修复。主动模式变被动模式是最大的改变。</p>
              <p>以支付宝为例，从经济观察报在全家门店的体验来看，支付宝钱包付款的具体流程只有三步：收银员扫描商品、顾客打开支付宝钱包界面右上角付款码、收银员扫描付款码，随即支付完成。</p>
              <p>“安全性确实优于从前，但条码的有效性大约持续60秒，依然存在安全隐患。”一位致力安全研究的行业专家告诉经济观察报，“理论上如果不法分子在手机中植入病毒截屏发送到另一终端就可以实现盗码。60秒的有效时限足够完成。”</p>
              <p>然而对此，亦有业内人士评价称“但凡拥有上亿客户的平台，每天处理几千万笔交易的平台，技术瑕疵在所难免，风险的存在只要处于可控范围，不能‘因噎废食’。”</p>
              <p>事实上，在二维码支付被叫停的几个月里，市场从未放弃过以二维码驱动支付的逻辑。以支付宝为例，码上淘与社区报开展服务后，通过支付宝扫码社区报上的二维码即可直接链接至天猫商户，从而完成支付。然而，这毕竟区别于一步到位的支付体验，支付环节的烦冗甚至有可能改变消费者的支付意愿，这也是支付宝亟待打通的最后环节。</p>
              <p>银行同样蠢蠢欲动，8月初邮储银行在全国范围内正式推出二维码支付，广州分行已推出话费充值业务，尽管邮储银行对此回应称“二维码支付目前只在邮储银行内部试用，尚未面向客户”，然而其抢跑意味已经十分明显。</p>
              <p>作为同样有可能主导未来标准方向的机构主体，有接近银联人士称，二维码支付的安全技术问题始终处于研究中，应该说仍旧存在一定安全隐患，因此尚未有成型的产品和商业模式发布，即使未来二维码支付开放，银联作为平台性机构，所对接的服务主体也将包括所有收单机构。然另有市场人士评价，银联至今未有动作，或因自身体制之限。“现在政策主基调要鼓励互联网金融，这些市场巨头选在这个节点重启二维码支付也许是对央行的政策态度抱有一丝侥幸心理。”一位接近支付清算协会人士表示。</p>
              <p>央行观望</p>
              <p>不同于3月份主动出手的铁腕，二维码事实性重启的近一个月里，央行没有再行干涉，这是否意味着政策开放的时日渐进?</p>
              <p>一位接近央行支付结算司人士告诉经济观察报，短暂叫停几个月之后，一些市场主体对安全技术模式进行了自省和修复，眼下处于先行先试的状态，对此央行暂时将抱以观望态度，一方面不排除重新出面整顿的可能性，但是如果市场运行稳健，相关规范标准出台之后，或将正式予以放行。</p>
              <p>与此同时，经济观察报获悉，9月下旬，央行及支付清算协会将召开相关会议，届时相关的支付标准规范或将发布。</p>
              <p>在这场支付机构与监管机构的博弈中，市场倒逼监管提速的意味明显。</p>
              <p>7月底，在央行内部的一次会议上，支付清算协会已将各种二维码支付的模式及风险点汇总报告给央行领导，包括主管互联网金融的刘士余及主管科技司的李东荣两位副行长。</p>
              <p>“当时与会的还有不少成员机构和技术专家，对二维码支付环境评估下来，领导态度是说，可行。”经济观察报从一位与会人士处获悉，“然而可行并不意味着放行。安全标准的问题还需要进一步研究和修正。”</p>
              <p>经济观察报从可靠渠道获悉，未来有可能掌握二维码支付标准主导权的，除了支付宝、银联、腾讯以外，工信部等监管部门也或将参与进来。“人人都想做标准的前提下，谁事实性地抢占了市场，谁就事实性地获得了标准制定的主导权。”</p>
         
        </div>
        
        <div class="btmBtn"><div><a class="btnLeft" href="#"></a><a class="btnCenter" href="javascript:;" style="background:none; cursor:default;"></a><a class="btnRight" href="#springUrl('/static/newscon2.htm')"></a></div></div>
          
     </div>
     
</div>
<!-- E 主要内容 -->

<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/jquery-1.8.2.min.js"></script>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/js.js"></script> 
