<link href="https://static.yongdapay.com/enterpriseWallet/common/css/xieyi.css" rel="stylesheet" type="text/css">
<div class="wrapbg">
	<div class="wrap">
		<div class="page_title">
			<div class="title fl">
				<i class="icon fl"></i>
				<span class="tt fl">隐私保护声明</span>
			</div>
		</div>
		<div class="account_set_wrap" style="display:inline-block;">

			<div class="account_set_left account_set_left_standard" style=" ">
				<ul>
					<li>
						<a href="#springUrl('/static/service.htm')" class="subBlock">
							<span class="subNavArrows"></span>
							<span class="subNavTxt">永达互联网金融服务协议</span>
						</a>
					</li>
					<li>
						<a href="#springUrl('/static/privacy.htm')" class="subBlock selected">
							<span class="subNavArrows"></span>
							<span class="subNavTxt">隐私保护声明</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="account_set_right">


				<div class="account_set_right_main clearfix" style=" padding-top:32px; padding-left:25px; padding-right:25px;">

					<h3 class="f16 b" style=" text-align:center; ">隐私保护声明</h3>
					<div class="agreementcont content">

						<h2>第一章　总则</h2>
						<p>第一条　浙江永达互联网金融信息服务有限公司（以下简称“本公司”）注重用户个人隐私的保护，但有时本公司需要某些信息才能为用户提供相应服务，所以特对这些情况下的数据收集和使用情况进行声明。</p>
						<p>本声明的全部条款属于《永达钱包服务协议》的重要组成部分之一。请用户务必仔细阅读，以了解本公司管理个人信息的情况。</p>
						<p>&nbsp;</p>

						<h2>第二章　实施细则</h2>
						<p>第二条　信息的收集</p>
						<p>（一） 概述</p>
						<p>为了使用户在一个高效和个性化的过程中进行交易，本公司会根据需要，按照所提供的不同服务类别向用户收集不同的个人信息。</p>
						<p>有关服务包括但不限于本公司账户注册、认证、用户在本公司支付系统中的操作记录。</p>
						<p>所收集的内容包括但不限于用户的姓名、性别、居住城市、通讯地址、邮政编码、电子邮件、手机号码、电话号码、身份证资料、银行信用卡和银行来往账户的信息、商品或服务名称、交易时间、交易金额、订单信息等。</p>
						<p>（二） Cookie记录</p>
						<p>Cookie是记录用户在网上操作的一些内容并被放置在用户计算机硬盘上的文本文件。cookie使网络应用程序能够将用户的访问作为一个个体来响应，收集和记忆有关用户好恶的信息。</p>
						<p>只要用户同意（通过浏览器设置），为更好的给用户提供个性化的服务，同时节约用户的时间，本公司会在部分网页中使用cookie收集用户信息。用户可通过浏览器设置禁用cookie，但这可能会影响用户对某些服务的使用，或者是用户无法享受更加便捷、安全、顺畅、个性化的服务。</p>
						<p>&nbsp;</p>

						<p>第三条　信息的使用</p>
						<p>本公司所收集的用户信息主要用于以下方面：</p>
						<p>（一） 为用户提供有关服务</p>
						<p>包括但不限于：</p>
						<p>1、利用用户留存在本公司的通讯方式联系用户。</p>
						<p>2、为了在本公司能力所及程度和范围内保护我们的全部用户以防止可能存在的潜在欺诈行为，我们将向第三方（包括但不仅限于银行发卡机构、公安局户籍管理机关等）证实用户提供的信息。</p>
						<p>3、银行账户信息核对，本公司将通过与银行授权的安全认证和信誉记录等服务来与用户提供给本公司的有关银行账户信息进行核实，以证实该账户没有不良记录、丢失或者被偷窃。</p>
						<p>4、在用户使用账户余额支付服务时，本公司会对用户身份进行验证，包括手机验证和电子邮箱地址验证等，在验证中会使用用户的这些信息，但本公司保证这些信息仅作为验证身份时必要的验证信息来使用，不会用于其他商业用途，更不会将其公开。</p>
						<p>5、为了处理用户与他人的交易纠纷或争议等目的，本公司会与银行或第三方支付公司共享个人信息和数据。</p>
						<p>（二） 改进本公司的产品和服务</p>
						<p>为了提高本公司的服务质量，更好的满足用户的实际需求，本公司会使用作为第三方服务的提供商来完成某些特定的服务。在这种情况下，用户的某些个人资料将会被披露，披露对象包括但不限于邮件服务提供商、市场调查公司等。本公司与第三方之间签署相关法律文件，用以确保所披露的个人资料仅用于特定的服务，除非得到用户的明确同意，不得用于其他任何目的。</p>
						<p>&nbsp;</p>

						<p>第四条　用户信息的披露</p>
						<p>在出现以下情形时，本公司将披露用户信息：</p>
						<p>（一）有关法律法规要求披露的。</p>
						<p>（二）司法机关或行政机关基于法定程序要求披露的。</p>
						<p>（三）本公司为维护自己合法权益而向用户提起诉讼或者仲裁的。</p>
						<p>（四）为免除用户在生命、身体或财产方面的急迫危险而公开的。</p>
						<p>（五）其他必须披露的情况。</p>
						<p>&nbsp;</p>

						<p>第五条　信息的安全</p>
						<p>本公司使用程序上和硬件技术上的各种安全策略来保护用户的个人信息不被未经授权的访问、使用或泄漏。本公司会定期严格的测试系统，不断完善本公司的安全系统和流程。</p>
						<p>用户的信用卡和银行来往账户信息将以加密的形式保存在计算机里，本公司将采用物理、电子以及流程等形式来保护用户的私人信息。</p>
						<p>用户的本公司账户的相关密码（登录密码、支付密码等）是以加密的格式保存在本公司的机器上，本公司工作人员不知道用户的密码，也不会向用户索取密码。请用户谨慎的保管好有关密码信息，尤其不要把密码告诉他人。如果用户不小心泄漏了密码，请立即联系本公司或访问本公司网站，更改密码。</p>
						<p>&nbsp;</p>

						<p>第六条　免责声明</p>
						<p>就下列相关事宜的发生，本公司不承担任何法律责任：</p>
						<p>1、根据第三条的规定披露用户的信息。</p>
						<p>2、在用户注册为本公司用户时，用户需设置账户名和密码。用户仅可通过设置的有效密码来使用该账户，如果由于用户泄漏了密码，可能会造成用户信息的丢失，并可能导致对用户不利的后果。当账户和密码因任何原因受到潜在或现实危险时，用户应该立即和本公司取得联系，在本公司采取行动前，本公司对此不负任何责任。</p>
						<p>3、任何第三方根据本公司各服务条款及声明中所列明的情况使用用户的个人信息，由此所产生的纠纷。</p>
						<p>4、任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭。</p>
						<p>5、因不可抗力导致的任何后果。</p>
						<p>6、本公司网站设有其他网站的链接，但本公司对其他网站的隐私保护措施不负任何责任。本公司可在任何需要的时候增加商业伙伴或集团旗下公司的网站。</p>
						<p>7、本公司允许在本公司网页上发布广告的公司在部分网页中使用cookie，但本公司并不对这类cookie进行监控，也不承担使用此类cookie所产生的任何责任。</p>
						<p>8、本公司在各服务条款及声明中列明的使用方式或免责情形。</p>
						<p>&nbsp;</p>

						<p>第七条　变更通知</p>
						<p>业务变更时，本公司会更新《隐私保护声明》，同时将以网站公告的方式予以公布，而不会单独通知用户，用户可定期查阅本声明。更新的《隐私保护声明》将在公布时即时生效。若您在《隐私保护声明》变更后继续访问永达钱包网站及或使用永达钱包服务，您确认这代表您已充分阅读、理解并接受修改后的《隐私保护声明》。</p>

					</div>

				</div>
			</div>



		</div>
	</div>
</div>