<div class="wrapbg">
<div id="money_zz" class="wrap">
    <div class="page_title transfer">
        <div class="title fl">
            <i class="icon fl"></i>
            <span class="tt fl">转账</span>
        </div>
        <div class="right fr"><a href="#springUrl('/my/TransactionRecords.htm?link=0401&txnType=4')">转账记录</a> | <a href="#springUrl('/help/faq.htm?=FAQ_7_3.html&6,2')">转账常见问题</a></div>
    </div>
    <div class="zz_tab_link"><a href="${path}/transfer/toTransferKjt.htm?link=0204" class="tab_zz_kjt fl cur">转账到永达账户</a>
		<a href="${path}/bTransfer/toTransferBank.htm" class="tab_zz_yh fl ">转账到银行账户</a></div>
    <div class="pagebox pagebox1 pagezz relative">
        <div class="step-wrap step-wrap2">
            <span class="step-index">1</span>
            <span class="step-name">转账信息</span>
            <span class="s"></span>
            <span class="step-index step-index-cur">2</span>
            <span class="step-name step-name-cur">转账审核</span>
            <span class="s"></span>
            <span class="step-index">3</span>
            <span class="step-name">转账成功</span>
        </div>
        <div class="bank_cooper_title">转账信息错误：</div>
        <form class="zz_form_1">
            <div class="boxbg1 w860">
            	<div class="p49 p30">
                	<table cellpadding="0" cellspacing="0" border="0" class="zzkjt_info f14">
                    	<tr>
                        	<td width="200"><span class="b">操作员：</span>永达账户-陈笑凯</td>
                            <td colspan="2"><span class="b">账户余额：</span><span class="color_f6 b">8766654.00</span>元</td>
                        </tr>
                        <tr>
                        	<td><span class="b">转账人数：20</span>人</td>
                            <td width="200" ><span class="b">转账金额：</span><span class="color_f6 b">456655.75</span>元</td>
                            <td><span class="b">服务费：</span><span class="b">53.23</span>元</td>
                        </tr>
                        <tr>
                        	<td><span class="b">总额：</span><span class="color_f6 b">585578588.00</span>元</td>
                            <td colspan="2"><span class="b">短信通知到：</span><span class="b">18606820232</span></td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" border="0" class="zzkjt_info2 f12">
                    	<tr>
                        	<th width="88">序号</td>
                            <th width="303">收款人信息</td>
                            <th width="100">金额(元)</td>
                            <th width="100">错误信息</td>
                            <th width="165">备注</td>
                        </tr>
                        <tr>
                        	<td>1</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                            <td class="text_l" rowspan="10">此处是备注信息，此处是备注信息，此处是备注信息，此处是备注信息，此处是</td>
                        	
                        </tr>
                        <tr class="err">
                        	<td>2</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td>账号不存在</td>
                        </tr>
                        <tr>
                        	<td>3</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                        <tr class="err">
                        	<td>4</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td>账号不存在</td>
                        </tr>
                        <tr>
                        	<td>5</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                        <tr class="err">
                        	<td>6</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td>账号不存在</td>
                        </tr>
                        <tr>
                        	<td>7</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td>8</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td>9</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td>10</td>
                            <td>谢大贤（xqiu.cn@gmail.com）</td>
                            <td>2102.00</td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="tabpagediv"><div class="nav_page mt10"><a href="#">首页</a><a href="#">上一页</a><i>第12页，共102页</i><a href="#">下一页</a><a href="#">尾页</a><span class="ml10">转到</span><input type="text" class="input_go"><span>页</span><input type="button" class="btn_go"></div></div>

                </div>
                <div class="btn_bottom_zz row3"><input type="button" value="重新上传" class="btn btn_submit "></div>
                
            </div>
        </form>
        <br>
        <!--<div class="faq_relevant">
        	<h4>批量转账问题：</h4>
            <dl>
            	<dt>什么是批量转账到账户？</dt>
                <dd>答：您可以下载批量转账到账户的表格，在表格中可添加多个转账的永达互联网金融账户，来实现您的转账需求。</dd>
            </dl>
            <dl>
            	<dt>什么是批量转账到银行卡？</dt>
                <dd>答：您可以下载批量转账到银行的表格，在表格中可添加多个转账的银行卡，来实现您的转账需求。</dd>
            </dl>
            <dl>
            	<dt>批量转账到账户的总笔数，总金额限制？</dt>
                <dd>答：批量转账到账户总笔数为999笔，总金额不受限制！</dd>
            </dl>
            <dl>
            	<dt>批量转账到银行卡的总笔数，总金额？</dt>
                <dd>答：批量转账到银行卡总笔数为999笔，总金额不受限制！</dd>
            </dl>
             <div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的账户</a></div>
        </div>
        <!--<a href="javascript:void(0)" class="Collapse"></a>-->
        
    </div>
  
</div>
</div>