<div class="wrapbg">
	<div id="money_cz" class="wrap">
		<div class="page_title audit">
			<div class="title fl">
				<i class="icon fl"></i>
				<span class="tt fl">商品管理</span>
			</div>
		</div>
		<div class="pagebox">
			<form id="form_search" action="#" method="post">
				<input type="hidden" name="currentPage" id="currentPage" value="1">
				<div class="search_row mt10">
					<label class="label1 fl">创建时间：</label>
					<input type="hidden" name="queryByTime" value="gmtCreated" />
					<div class="data_div mr16 fl"><input class="datapick" type="text" value="" name="startDate" id="startDate" readonly><span>至</span><input class="datapick" type="text" value="" name="endDate" id="endDate" readonly></div>
				</div>
				<div class="search_row">
					<label class="label1 fl">商品类型：</label>
					<div class="select_div mr16 fl">
						<select name="selectType" id="J_Cata">
							<option value="">全部</option>
						</select></div>

					<label class="label1 fl">品牌名称：</label>
					<div class="select_div mr16 fl">
						<select name="selectType" id="J_Brand">
							<option value="">全部</option>
						</select></div>
				</div>
				<div class="search_row">
					<input type="button" value="查 询" class="btn J_btn_chaxun ml30">
				</div>
			</form>

			<form id="form_batchAudit" action="#" method="POST">
				<div class="tools"><a href="#springUrl('/appCenter/import.htm')" class="tools_dr gray1 fr" target="_blank">导入基础数据</a><a href="#springUrl('/appCenter/increase.htm')" class="tools_plus gray1 fr mr10">新增</a></div>
				<div class="table_div">
					<table class="table1">
						<tr>
							<th width="80">创建时间</th>
							<th width="95">商品类型</th>
							<th width="95">品牌名称</th>
							<th width="90">系列</th>
							<th width="100">车型</th>
							<th width="100">型号</th>
							<th width="100">商品名称</th>
							<th width="100">商品描述</th>
							<th width="100">销售价格<em>（元）</em></th>
							<th width="105">操作</th>
						</tr>

						<tr class="nbb">
							<td colspan="10">
								<div class="nav_page mt10">
									<a href="#" id="firstPage">首页</a>
									<a href="#" id="prevPage">上一页</a>
									<i>第 <em id="J_CurPage">1</em> 页，共  <em id="J_TotalPage">1</em>  页</i>
									<a href="#" id="nextPage">下一页</a>
									<a href="#" id="lastPage">尾页</a>
									<span class="ml10">转到</span>
									<input type="text" value="" class="input_go"><span>页</span><input type="button" class="btn_go"></div>
							</td>
						</tr>
					</table>
				</div>
			</form>

		</div>

	</div>
</div>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/JSON2.js"></script>
<script>
	jQuery.support.cors = true;
	var memberid = $!response.data.member.memberId;
	var token = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjg4NjY4MjI0NDUsIm1pZCI6IjAwMSIsInVpZCI6IjAwMSJ9.sPN9IxlDf5ex9RQuA17BRqEODLNPngLk7FQ7C3dkODlhJI175HrD_00yipR2NOllXpaB8R5Emd6-v18DacjTNQ";
	var start_time = "";
	var end_time = "";
	function toQuerySubmit(currentPage){
		$("#currentPage").val(currentPage);
		//$("#form_search").submit();
		ajaxSearch(currentPage);
	}
	
	var dayRang = 366000;//92
	function doSearch() {
		var beginDateObj = $('#startDate');
		var endDateObj = $('#endDate');
		var beginDateValue = beginDateObj.val();
		var endDateValue = endDateObj.val();
		if (beginDateValue != "" || endDateValue != "") {
			if (beginDateValue == "") { alert("开始时间为空！"); return false; }
			else if (endDateValue == "") { alert("结束时间为空！"); return false; }
			else {
				if (compareDate(beginDateValue, endDateValue) < 0) {
					alert("起始时间不能大于结束时间！");
					return false;
				}
				else {
					var maxdate = GetDateRangStr(((beginDateValue).split(" "))[0], dayRang-1);
					maxdate = getDateValue(maxdate);
					var enddate = getDateValue(((endDateValue).split(" "))[0]);
					if (compareDate(enddate, maxdate) < 0) {
						alert("请选择三个月内您要查询的记录！");
						return false;
					}
				}
			}
		}
		//$("#form_search").submit();
		toQuerySubmit(1);
	}

	function ajaxSearch(current,rowcount){
		current = current || 1;
		rowcount = rowcount || 20;
		var dataPost = {};
		dataPost.service = "products";
		dataPost.method = "Products.ListProduct";
		dataPost.request = {"current":parseInt(current),"row_count":parseInt(rowcount),"op_info":{"partner_id":"ANDROID_DEBUG","token":token}};
		dataPost.request.store_id = memberid;
		if(start_time != "")
			dataPost.request.start_time = parseInt(start_time);
		if(end_time != "")
			dataPost.request.end_time = parseInt(end_time);
		
		if($("#J_Cata option:selected").val() != "")
			dataPost.request.cata_id = parseInt($("#J_Cata option:selected").val());
		if($("#J_Brand option:selected").val() != "")
			dataPost.request.brand_id = parseInt($("#J_Brand option:selected").val());

		tools.ajaxSubmit({
			"url":"#springUrl('/agent.htm')",
			"data":dataPost,
			"suc_suc":function(response){
				showData(response,current,rowcount);
			}
		});
	}

	function showData(data,current,rowcount){
		var html = "";
		var _data = data.rows;

		if(_data && _data.length > 0){
			for(var i = 0, len = _data.length; i < len; i++){
				var __data = _data[i];

				html += '<tr class="ajaxTr">';
				html += '<td>' + (new Date(parseInt(__data.created) * 1000)).format('yyyy-MM-dd hh:mm:ss') + '</td>';
				html += '<td>' + htmlEncode(__data.cata_name) + '</td>';
				html += '<td>' + htmlEncode(__data.brand_name) + '</td>';
				html += '<td>' + htmlEncode(__data.xilie) + '</td>';
				html += '<td>' + htmlEncode(__data.chexing) + '</td>';
				html += '<td>' + (__data.xinghao == undefined ? "" : htmlEncode(__data.xinghao)) + '</td>';
				html += '<td>' + htmlEncode(__data.name) + '</td>';
				html += '<td>' + htmlEncode(__data.desc) + '</td>';
				html += '<td>' + fomatMoney2(__data.price) + '</td>';
				html += '<td>';
				html += '<a href="#springUrl('/appCenter/increase.htm')?pid=' + __data.id + '">修改</a>';
				html += ' <a href="#" class="removeProduct" data-pid="' + __data.id + '" data-name="' + __data.brand_name + ' ' + __data.name + ' ' + __data.chexing + ' ' + __data.xinghao + '">删除</a>';
				html += '</td>';
				html += '</tr>';
			}

			var totalItem = data.total;
			var pageSize = rowcount;
			var currentPage = current;
			var pageCount = Math.ceil(totalItem / pageSize);

			pageCount = pageCount == 0 ? 1 : pageCount;
			if(!currentPage || totalItem == 0){
				currentPage = 1;
			}

			$("#J_CurPage").text(currentPage);
			$(".input_go").val(currentPage);
			$("#J_TotalPage").text(pageCount);

			var toQueryFn = function() {
				var page = $(".input_go").val();
				var patm=/^\d+$/;
				if(!patm.test(page)){
					alert("请输入要跳转的页");
					$(".input_go").val("");
					return false;
				}
				if(parseInt(page, 10) > parseInt(pageCount, 10)){
					return toQuerySubmit(parseInt(pageCount));
				}
				return toQuerySubmit(parseInt(page));
			};

			if(currentPage != 1){
				$("#firstPage").removeClass("nav_page_disabled");
				$("#prevPage").removeClass("nav_page_disabled");
			}else{
				$("#firstPage").addClass("nav_page_disabled");
				$("#prevPage").addClass("nav_page_disabled");
			}

			if(currentPage != pageCount){
				$("#nextPage").removeClass("nav_page_disabled");
				$("#lastPage").removeClass("nav_page_disabled");
			}else{
				$("#nextPage").addClass("nav_page_disabled");
				$("#lastPage").addClass("nav_page_disabled");
			}

			// 首页
			$("#firstPage").unbind().click(function(e){
				e.preventDefault();
				if(currentPage != 1) {
					toQuerySubmit(1);
				}
			});

			// 尾页
			$("#lastPage").unbind().click(function(e){
				e.preventDefault();
				if(currentPage != pageCount) {
					toQuerySubmit(pageCount);
				}
			});

			// 上一页
			$("#prevPage").unbind().click(function(e){
				e.preventDefault();
				if(currentPage != 1){
					return toQuerySubmit(currentPage - 1);
				}
			});

			// 下一页
			$("#nextPage").unbind().click(function(e){
				e.preventDefault();
				if(currentPage != pageCount){
					return toQuerySubmit(parseInt(currentPage)+1, 10);
				}
			});

			$('.input_go').unbind().on('keypress', function(e){
				var keyCode = e.which;
				return keyCode == 46 || (keyCode >= 48 && keyCode <=57);
			});

			$('.input_go').unbind().on('keyup', function(e){
				var value = $(".input_go").val();
				if (value) {
					value = parseInt(value, 10);
					if (value  > pageCount) {
						$(".input_go").val(pageCount);
						return false;
					}
					$(".input_go").val(value);
				}
			});

			$('.input_go').unbind().bind('keydown', function (e) {
				var key = e.which;
				if (key == 13) {
					return toQueryFn();
				}
			});

			$(".btn_go").unbind().click(function(){
				return toQueryFn();
			});

			$(".nav_page").show();
		}
		else{
			html += '<tr class="ajaxTr"><td colspan="10">无记录！</td></tr>';
			$(".nav_page").hide();
		}

		$(".ajaxTr").remove();
		$(".table1 .nbb").before(html);


		// 绑定删除商品
		$(".removeProduct").unbind().click(function(e){
			e.preventDefault();
			var jThis = $(this);

			var html = '<div class="floatbox2"><div class="cont_info"><div class="bankcx_fc">';
			html += '<div style=" padding-left:50px;" class="ApplyDigitalinfo f14"><p><i class="tipcautionMax"><span class="color_f60" style="line-height: 44px;">确认删除此条商品信息？</span></i></p></div>';
			html += '</div></div>';
			html += '<div class="div_btn_submit"><input type="button" class="btn btn_sumbit_qr" value="确 认" ></div></div>';

			showWin('html', html, '', 400, 250, '请确认', '', '');

			$(".btn_sumbit_qr").unbind().click(function(){
				var dataPost = {};
				dataPost.service = "products";
				dataPost.method = "Products.RemoveProduct";
				dataPost.request = {"product_id":jThis.data("pid")};
				dataPost.request.op_info = {"partner_id":"ANDROID_DEBUG","token":token};
				dataPost.request.store_id = memberid;

				tools.ajaxSubmit({
					"url":"#springUrl('/agent.htm')",
					"data":dataPost,
					"suc_suc":function(response){
						ajaxSearch($("#currentPage").val());
						
						var html = '<div class="floatbox2"><div class="cont_info pt20b30l100"><table cellpadding="0" cellspacing="0" border="0"  class="" width="100%">';
	    				html += '<tr><td class="tcenter"><i class="zzffwqfm txsh_wq2"><span class="f16 b tip_title">删除成功！</span><br><span class="color_4c f12"><i class="time_left">3</i>秒后将自动关闭</span></span></i></td></tr></table>';
	    				html += '</div></div>';
	    				showWin('html', html, {mode:1}, 500, 190, '提示', '', 3000);
	    				
	    				doFunByTime({jObj:$(".time_left"), time:3});
					}
				});
			});
		});
	}

	$(function(){

		// 初始化 商品类型
		dataTools.initSelectOptions({
			"url":"#springUrl('/agent.htm')",
			"data":{"service":"products","method":"Products.ListCata"},
			"J_Select":$("#J_Cata"),
			"emptyText":"全部"
		});

		// 初始化 品牌
		dataTools.initSelectOptions({
			"url":"#springUrl('/agent.htm')",
			"data":{"service":"products","method":"Products.ListBrand"},
			"J_Select":$("#J_Brand"),
			"emptyText":"全部"
		});

		ajaxSearch();

		setClearStartDate('#startDate', '#endDate', dayRang);
		setClearEndDate('#startDate', '#endDate', dayRang);

		$(".J_btn_chaxun").click(function(){
			start_time = $("#startDate").val();start_time += ":00";
			end_time = $("#endDate").val();end_time += ":59";

			start_time = start_time == "" ? "" : (new Date(start_time.replace(/-/g,'/'))).getTime() / 1000;
			end_time = end_time == "" ? "" : (new Date(end_time.replace(/-/g,'/'))).getTime() / 1000;
			
			doSearch();
		});

	})
</script>