<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>永达互联网金融支付平台</title>
	<link href="${WEB_RESOURCE.staticAddress}wallet/common/css/style.css" rel="stylesheet" type="text/css">
	<link href="${WEB_RESOURCE.staticAddress}wallet/common/css/account.css" rel="stylesheet" type="text/css">
	<link href="${WEB_RESOURCE.staticAddress}wallet/common/css/helpcenter.css" rel="stylesheet" type="text/css">
  </head>
 
<script src="${WEB_RESOURCE.staticAddress}wallet/common/js/jquery-1.8.2.min.js"></script>
<script src="${WEB_RESOURCE.staticAddress}wallet/common/js/js.js"></script>
<script src="${WEB_RESOURCE.staticAddress}wallet/common/js/jcarousellite.js"></script>
<body>
	<div class="container">
		#if($!session.getAttribute("CURRENT_PERSONAL_USER"))
			#parse("/common/control/header-login-help.vm")
		#else
			#parse("/common/control/header-nologin-help.vm")
		#end

		$screen_content

		#parse("/common/control/footer-new.vm")
    </div>
</body>
</html>