
<link href="${WEB_RESOURCE.staticAddress}wallet/common/css/style.css" rel="stylesheet" type="text/css">
<link href="${WEB_RESOURCE.staticAddress}wallet/common/css/helpcenter.css" rel="stylesheet" type="text/css">

<<div class="wrap">
  <div class="page_title">
    <h2></h2>
  </div>
  <div class="helpcenter_nav">
    <ul>
      <li><a href="#springUrl('/help/helpcenter.htm')">帮助中心首页</a></li>
      <li><a href="javascript:" style="cursor: default;">功能演示</a></li>
      <li><a href="#springUrl('/help/faq.htm')">常见问题</a></li>
      <li><a href="#springUrl('/help/self.htm')">自助服务</a></li>
    </ul>
  </div>
  <div class="mt30 ">
    <div class="helpleft">
      <div class="helpleftnav">
        <div class="helpleftnav_top"></div>
        <div class="helpleftnav_cont"> 
          <h3>会员功能演示</h3>
            <ul class="ul3">
            </ul>
        </div>
        <div class="helpleftnav_bot"></div>
      </div>
      <!-- helpleftnav  -->
      <div class="fl" style="margin-top:20px;">
        <div class="helpleftnav_top2"></div>
        <div class="helpleftnav_cont2"> 
        <a href="#">商户演示点此查看</a>
        </div>
        <div class="helpleftnav_bot2"></div>
      </div>
    </div>
    <!-- helpleft -->
    
    <div class="helpcont">
      <div class="faq_right_nav">
        <ul class="faq_right_navul"></ul>
    </div>
    <div class="faq_content">
        <h3 class="faq_title"></h3>
        <a class="faq_a_img" href="javascript:void(0)"><img src=""></a>
    </div>
      
      
      
    </div>
    <!--helpcont --> 
    
    
  </div>
  <!-- mt30 --> 
  
</div>
<script>
var info=[
	{"title":"注册","data":[{"tip":"注册","data2":["1、是是是","2、烦人的事"]},{"tip":"实名认证","data2":["11、高端","22、速度快","22、一天"]}]},
	{"title":"我的永达互联网金融","data":[{"tip":"添加银行卡","data2":["1、是是是","2、烦人的事"]},{"tip":"添加永达互联网金融联系人","data2":["11、高端","22、速度快","22、一天"]},{"tip":"添加银行账户联系人","data2":["11、高端","22、速度快","22、一天"]}]},
	{"title":"交易管理","data":[{"tip":"充值流程","data2":["1、是是是","2、烦人的事"]},{"tip":"提现流程","data2":["11、高端","22、速度快","22、一天"]},{"tip":"转账流程","data2":["11、高端","22、速度快","22、一天"]},{"tip":"批量转账到永达互联网金融账户","data2":["11、高端","22、速度快","22、一天"]},{"tip":"批量转账到银行卡","data2":["11、高端","22、速度快","22、一天"]}]},
	{"title":"账户管理","data":[
		/*{"tip":"修改登录密码","data2":["1、是是是","2、烦人的事"]},
		{"tip":"修改支付密码","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"找回支付密码","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"手机绑定流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"解绑手机流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"修改手机流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"绑定邮箱流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"修改邮箱流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"解绑邮箱流程","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"安装数字证书","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"取消数字证书","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"快捷盾购买","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"快捷盾激活","data2":["11、高端","22、速度快","22、一天"]},
		{"tip":"快捷盾解绑","data2":["11、高端","22、速度快","22、一天"]}*/
	]}
]
$(function(){
	
	$(info).each(function(i,item) {
		
		var ulhtml='<li><a href="javascript:void(0)"><i></i>'+item.title+'</a><dl class="subnav"></dl></li>'
		$(".ul3").append(ulhtml);
		
		$(item.data).each(function(i2,item2){
			var ddhtml='<dd><a href="javascript:void(0)" data-id1="'+i+'" data-id2="'+i2+'"><span>'+item2.tip+'</span><b class="bg"></b></a></dd>'
			$(".ul3 .subnav").eq(i).append(ddhtml);	
			
		})
		
    });
	
	
	
	$(".ul3>li>a").live("click",function(){
		$(this).addClass("cur").parent().siblings().find("a").removeClass("cur");
		$("i",this).addClass("open").parent().siblings().find("i").removeClass("open");
		$(".subnav").hide();
		$(this).parent().find("dl").show();
		return false;
	});
	
	
	$(".subnav a").live("click",function(){
		$(".faq_right_navul").empty();
		$(this).parent().siblings().find("a").removeClass("active");
		$(this).addClass("active").parent().parent().parent().siblings().find("a").removeClass("active");
		
		var id1=$(this).attr("data-id1");
		var id2=$(this).attr("data-id2");
		
		var data=info[id1].data[id2].data2;
		for (i=1;i<=data.length;i++) {
			var liahtml='<li><a href="javascript:void(0)" data-id1="'+id1+'" data-id2="'+id2+'" data-id3="'+i+'" data-id1="" data-id='+id1+'-'+id2+'-'+i+' >'+i+'</a></li>';
			$(".faq_right_navul").append(liahtml);
		}
		$(".faq_right_navul li:last").addClass("last");
		
		//初始化
		$(".faq_right_navul a:first").click();	
		return false;	
	});
	
	$(".faq_right_navul a").live("click",function(){
		$(this).addClass("cur").parent().siblings().find("a").removeClass("cur")
		var id1=$(this).attr("data-id1");
		var id2=$(this).attr("data-id2");
		var id3=$(this).attr("data-id3");
		var data=info[id1].data[id2].data2[id3-1];

		$(".faq_title").text(data);
		var src="../common/images/helpcenter/"+id1+"-"+id2+"-"+id3+".jpg"
		$(".faq_a_img img").attr("src",src);
		return false;
		
	});
	
	$(".faq_a_img").click(function(){
		var i=$(".faq_right_navul .cur").parent().index();
		i=i+1;
		if(i<$(".faq_right_navul a").length){$(".faq_right_navul a").eq(i).click();}	
	})
	$(".ul3 a:first").click();
	$(".ul3 a").eq(1).click();
	
	/*setTimeout(function(){
		$(".ul3 a:first").click();
		$(".ul3 a").eq(1).click();
		return false;
	},50)
	*/

	
})
</script>


