<div class="wrapbg">
<div class="wrap">

	<div class="page_title safety">
		<div class="title fl">
			<i class="icon fl"></i>
			<span class="tt fl">找回登录密码</span>
		</div>
	</div>

     <div class="safetyMain">
     	 <form id="find-loginpwd-form" name="find-loginpwd-form" class="" action="${request.contextPath}/my/refind/loginPwd/ent/checkTelMsgCode.htm" method="POST">
         <div class="loginCenter">
			
			<input type="hidden" id="isNameVerify" name="isNameVerify" value="$response.data.isNameVerify" />
			<input type="hidden" name="isBindPhone"  id="isBindPhone" value="$response.data.isBindPhone" />
              
			  #if($response.data.isNameVerify == "true")
              <div class="login_limit">
                   <label><span class="f14 limitLeft">营业执照号：</span>
                     <input type="text" id="licenseNo" name="licenseNo" class="inputtext w232" value="">
                   </label>
                <label class="ml5"></label>
                <div class="mainTips ml160 error"></div>
               </div>
			  #end
			  #if($response.data.isBindPhone == "true")
               <div class="login_limit">
                   <label><span class="f14 limitLeft">手机校验码：</span>
                     <input type="text" id="phoneVerifyCode" name="phoneVerifyCode" class="inputtext w80 fl" value="">
                     <input id="send_msg" class="btn_mfhq ml10" type="button" value="">
                   </label>
                   <label class="ml5"></label>
                   <div id="verifyCodeError" class="mainTips ml160 error"></div>
              </div>
			  #end
			  
			  <div class="mainTips ml160 error">$!response.message</div>
               
           <div class="loginAmendBtn"> <input class="btn btn_submit" type="button" value="确 认"></div>
              
         </div> 
		 </form>
          
          
     </div>
     
</div>
</div>
<script type="text/javascript">

	$(function(){
    	$(".btn_mfhq").click(function(){
			var jThis = $(this);
			sendPhoneCode({
				jBtn:jThis,
				jTip:$('#verifyCodeError'),
				url:"#springUrl('/my/refind/loginPwd/ent/ajaxSendSms.htm')",
				txtSuccess:"校验码已发送",
				txtFail:"若长时间未收到校验码，请联系客服 0571-28276085"
			});
    	});
    	
    	$(".btn_submit").click(function(){
    		var btn_submit = $(this);
    		btn_submit.attr("disabled", true).addClass("btn_disabled");
    		$(".error").text("");
			
			var isNameVerify = $("#isNameVerify").val();
			var isBindPhone = $("#isBindPhone").val();
    		
			if(isNameVerify == "true"){
    		var flag = checkMust($("#licenseNo"),$("#licenseNo").parent().parent().find(".error"),"请输入营业执照！");
    		if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }
    		//flag = isValidBusCode($("#licenseNo").val());
    		//if(!flag) { $("#licenseNo").parent().parent().find(".error").text("请输入正确的营业执照号码！"); btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }
			}
    		if(isBindPhone == "true"){
    		flag = checkMust($("#phoneVerifyCode"),$("#phoneVerifyCode").parent().parent().find(".error"),"请输入手机校验码");
    		if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }
			}
    		
    		$("#find-loginpwd-form").submit();
    	});
    })
	
</script>