<div class="wrapbg">
    <div id="money_cz" class="wrap">
        <div class="page_title transaction">
            <div class="title fl">
                <i class="icon fl"></i>
                <span class="tt fl">订单信息</span>
            </div>
        </div>
  <div class="pagebox "> 
  <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
	#foreach($info in $response.data.list.baseInfoList)
  <tr>
    <td class="tab_w">交易订单号</td>
    <td class="tab_w2" id="J_tradeVoucherNo">$!{info.tradeVoucherNo}<br></td>
    <td class="tab_w">商户订单号</td>
    <td class="Detail_tab_no tab_w2">$!{info.serialNumber}</td>
  </tr>
  
  <tr class="cl">
    <td>创建时间</td>
    <td>$!dateUtil.getNewFormatDateString(${info.gmtSubmit})</td>
    <td>交易类型</td>
    <td class="Detail_tab_no">担保收单交易</td>
  </tr>
  <tr>
    <td>交易金额（元）</td>
    <td>$moneyUtil.getAmount($!info.payAmount)</td>
    <td>手续费（元）</td>
    <td class="Detail_tab_no">$!{moneyUtil.getAmount($!info.payeeFee)}</td>
  </tr>
  <tr  class="cl">
    <td>实际金额（元）</td>
    <td>$moneyUtil.getAmount($!info.orderMoney)</td>
    <td>支付时间</td>
    <td class="Detail_tab_no">$!dateUtil.getNewFormatDateString(${info.gmtpaid})</td>
  </tr>
                #if(${info.orderState} == "100")
	            #set($tradeStatus="待支付")##待支付
	            ##set($moneycolor="money")
	            ##elseif(${info.orderState} == "110" || ${info.orderState}=="111" || ${info.orderState} == "121")
	            ##set($tradeStatus="处理中")
	            #elseif(${info.orderState} == "201"||${info.orderState} == "301")
	            #set($tradeStatus="支付成功")##   付款成功=支付成功    交易成功视为支付成功
	            #elseif(${info.orderState} == "999"||${info.orderState} == "998")
	            #set($tradeStatus="交易失败")##  交易失败
	            #elseif($info.orderState == "401")
	            #set($tradeStatus="交易结束")##交易结束==结算成功
	            #end
	            
                #if($info.memberId == $info.buyerId)
                   #set($plusminus ="-")
				   #set($moneycolor="orange f14 bold")
                #elseif($info.memberId == $info.sellerId)
                   #set($plusminus ="")
				   #set($moneycolor="green  f14 bold")
				#end
  <tr >
    <td>支付方式</td>
    <td>$!{info.payChannel}</td>
	<td>状态</td>
    <td>$!{tradeStatus}</td>
  </tr>
  	 <tr class="cl">
    <td >退款笔数</td>
    <td >${response.data.count}笔</td>
	<td >已退金额</td>
    <td  >$moneyUtil.getAmountNum(${response.data.am})元</td>
  </tr>
  <tr >
    <td>操作员</td>
    <td id="J_operator"></td>
    <td>备注</td>
    <td>$!{info.tradeMemo}</td>
	
  </tr>
	#end
	
</table>

<div class="table_div" style="margin-top:20px;">
<h3 class="ff ">消费撤销记录</h3>
</div>
<div class="table_div">
    <table width="100%" class="table1">
      <tbody><tr height="50">
        <th width="180">撤销时间</th>
        <th width="260">撤销订单号</th>
        <th width="200">撤销金额<em>（元）</em></th>
        <th width="140">状态</th>
        <th width="">操作</th>
      </tr>
      #set ($i=1)
      #foreach ($!tradeInfo in $!response.data.info)
      #if($i%2 != 0)
      #set ($odd_class="")
      #else
      #set ($odd_class="on")
      #end
      #set($i=$i+1)
      <tr class=$odd_class>
          <td class="time">$!dateUtil.getNewFormatDateString($!tradeInfo.gmtSubmit) </td>
          <td>$!tradeInfo.tradeVoucherNo</td>
          <td class="orange f14 bold">$!moneyUtil.getAmount($!tradeInfo.payAmount)</td>
          #if($!tradeInfo.status == 900 || $!tradeInfo.status == 901)
          <td><span>撤销中</span></td>
          #elseif($!tradeInfo.status == 951)
          <td><span>撤销成功</span></td>
          #elseif($!tradeInfo.status == 952)
          <td><span>撤销失败</span></td>
          #else
          <td><span>$!tradeInfo.status</span></td>
          #end
          <td>
              <a href="${request.contextPath}/my/PosRefundDetail.htm?tradeVoucherNo=$!tradeInfo.tradeVoucherNo&origTradeSourceVoucherNo=$!tradeInfo.origTradeSourceVoucherNo" >查看详情</a>
          </td>
      </tr>
      #end
      #if(!$response.data.info || $!response.data.info.size()<=0)
      <tr>
          <td colspan="5">无撤销信息！</td>
      </tr>
      #end
      <tr class="nbb">
          <td colspan="5">
              <div class="fl table1_bottom_left">
              </div>
              <div class="nav_page mt10"> #parse("common/control/paginator.vm")
              </div></td>
      </tr>
    </tbody>
    </table>
   
</div>
<div class="fun_btn relative">
	<input type="button" value="返 回" class="btn btn-bg" onClick="goBackOrClose();">
</div>
</div>
</div>
</div>
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/JSON2.js"></script>
<script>
var token = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjg4NjY4MjI0NDUsIm1pZCI6IjAwMSIsInVpZCI6IjAwMSJ9.sPN9IxlDf5ex9RQuA17BRqEODLNPngLk7FQ7C3dkODlhJI175HrD_00yipR2NOllXpaB8R5Emd6-v18DacjTNQ";
var dataPost = {};
dataPost.service = "order";
dataPost.method = "Orders.QueryPayByFlow";
dataPost.request = {"flow_no":$("#J_tradeVoucherNo").text(),"op_info":{"partner_id":"ANDROID_DEBUG","token":token}};

tools.ajaxSubmit({
	"url":"#springUrl('/orderAgent.htm')",
	"data":dataPost,
	"suc_suc":function(response){
	    if(response.err.err_code == 1)
     		$("#J_operator").text(response.record.operator_account);
	}
});
</script>