<div class="wrapbg">
	<div id="money_cz" class="wrap">
	##<div class="page_title"> <h2>转账记录详情</h2> </div>
		<div class="page_title">
			<div class="title fl">
				<i class="icon fl"></i>
				#foreach ($!tradeInfo in $!response.data.page.infos)
				#if($!tradeInfo.state=="转账成功" ||$!tradeInfo.state=="交易完成")
				##<div class="fr mt5"><a class="color_66 mt10 dzdzd dzdzd1" href="javascript:">查看交易回单</a></div>
				#if($!tradeInfo.plamId=="1")##plamId=1表示卖方
				#if($!tradeInfo.payeeFee!="0.00")##
				##<div class="fr mt5"><a class="color_66 mt10 dzdzd dzdzd2" href="javascript:" style="width:120px;">查看服务费回单</a></div>
				#end
				#else
				#if($!tradeInfo.payerFee!="0.00")##$!tradeInfo.payerFee!
				##<div class="fr mt5"><a class="color_66 mt10 dzdzd dzdzd2" href="javascript:" style="width:120px;">查看服务费回单</a></div>
				#end
				#end
				#end
				<span class="tt fl">
					#if(${response.data.flag}=="1")
			转账记录详情
		#elseif(${response.data.flag}=="3")
			保理放贷详情
		#elseif(${response.data.flag}=="4")
			保理代扣详情
		#end
				</span>
			</div>
		</div>
  <div class="pagebox">
    <div class="table_div">
      <h3>
		#if(${response.data.flag}=="1")
			转账记录
		#elseif(${response.data.flag}=="3")
			保理放贷记录
		#elseif(${response.data.flag}=="4")
			保理代扣记录
		#end
	</h3>
    </div>
    <div class="pagebox5">
		<table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="tab_w">商户订单号</td>
        <td class="tab_w2">$!tradeInfo.tradeSourceVoucherNo<br></td>
        <td  class="tab_w">商户批次号（仅批量转账）</td>
        <td  class="Detail_tab_no tab_w2">$!tradeInfo.sourceBatchNo</td>
      </tr>
      <tr>
        <td class="tab_w">交易订单号</td>
        <td class="tab_w2">$!tradeInfo.orderId<br></td>
        <td  class="tab_w">批次号（仅批量转账）</td>
        <td  class="Detail_tab_no tab_w2">$!tradeInfo.batchNo</td>
      </tr>
      <tr class="cl">
        <td>创建时间</td>
        <td>$!dateUtil.getNewFormatDateString($!tradeInfo.transferTime) <br/></td>
        <td >交易类型</td>
        <td class="Detail_tab_no">
		#if(${response.data.flag}=="1")
			转账到永达账户
		#elseif(${response.data.flag}=="3")
			保理放贷
		#elseif(${response.data.flag}=="4")
			保理代扣
		#end
		</td>
      </tr>
      <tr>
        <td>交易金额（元）</td>
        <td>$!moneyUtil.getAmount($!tradeInfo.transferAmount)</td>
        <td>服务费（元）</td>
        <td class="Detail_tab_no">$!moneyUtil.getAmount($!tradeInfo.payerFee)</td>
       </tr>
      <tr class="cl">
        <td>总金额（元）</td>
        <td >$response.data.sum</td>
		<td >短信通知</td>
		#if($!response.data.sendMessage)
			<td class="Detail_tab_no">是</td>
		#else
			<td class="Detail_tab_no">否</td>
		#end
        </tr>
      	<tr>
        <td> 支付账户</td>
        <td >$!response.data.loginName2
            ##$!tradeInfo.buyerName 
			##if(${response.data.flag}=="3" ||${response.data.flag}=="4")
				##$!response.data.buyAccountType
			##end
		</td>
        <td >支付时间</td>
        <td class="Detail_tab_no" >$!dateUtil.getNewFormatDateString($!tradeInfo.gmtPaid)</td>
       </tr>
      <tr class="cl">
        <td>备注</td>
        <td>$!tradeInfo.tradeMemo</td>
		 <td >状态</td>
        <td width="75" class="Detail_tab_no">
		#if($!tradeInfo.state=="待支付")
	          #set($state="处理中")
	    #elseif($!tradeInfo.state=="付款成功")
	          #set($state="处理中")
		#elseif($!tradeInfo.state=="转账成功")
			#set($state="成功")
		#elseif($!tradeInfo.state=="交易完成")
		      #set($state="成功")
		 #elseif($!tradeInfo.state=="交易关闭")
			#set($state="失败")
		#elseif($!tradeInfo.state=="转账失败")
			#set($state="失败")
		#end
		$state
		</td>
	  </tr>
    </table>
    </div>
    <div class="table_div">
      <h3>交易对象</h3>
    </div>
    <div class="pagebox5">
    <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="tab_w">账户名称</td>
		#if($!tradeInfo.plamId=="1")##plamId=1表示卖方
			<td class=" tab_w2">$!tradeInfo.buyerName</td>
		#else
			<td class=" tab_w2">$!tradeInfo.sellerName</td>
        #end
        <td  class="tab_w">帐号</td>
        <td class="Detail_tab_no tab_w2">$!response.data.loginName
			#if(${response.data.flag}=="3" ||${response.data.flag}=="4")
        		#if($!tradeInfo.plamId=="1")##plamId=1表示卖方
        			$!response.data.buyAccountType
        		#else
        			$!response.data.selAccountType
        		#end
			#end
		</td>
      </tr>
    </table>
    </div>
	#end
	#if(${response.data.flag}=="1")
    <div class="table_div">
      <h3>申请信息</h3>
    </div>
    <div class="pagebox5">
    <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="tab_w">申请时间</td>
        <td class="tab_w2">$!response.data.applyTime</td>
        <td  class="tab_w">申请操作员</td>
        <td  class="Detail_tab_no tab_w2">$!response.data.operatorName</td>
      </tr>
    </table>
    </div>
	
    <div class="table_div">
      <h3>审核信息</h3>
    </div>
    <div class="pagebox5">
    <table class="Detail_tab" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="tab_w">审核时间</td>
        <td class="tab_w2">$!response.data.gmtModified</td>
        <td  class="tab_w">审核操作员</td>
        <td  class="Detail_tab_no tab_w2">$!response.data.auditorName</td>
      </tr>
      <tr class="cl">
        <td class="tab_w">审核结果</td>
		#if($!response.data.status=="1")
		<td class="tab_w2">待审核</td>
		#elseif($!response.data.status=="2")
        <td class="tab_w2">审核通过</td>
		#elseif($!response.data.status=="3")
		<td class="tab_w2">审核拒绝</td>
		#else
		<td class="tab_w2"></td>
		#end
        <td  class="tab_w">审核说明</td>
        <td  class="Detail_tab_no tab_w2">$!response.data.remark</td>
      </tr>
    </table>
    </div>
	#end
	<div class="fun_btn relative">
		<input type="button" value="返 回" class="btn btn-bg" onClick="goBackOrClose();">
	</div>
  </div>
</div>
</div>
<script type="text/javascript">
$(function(){
	/*$(".dzdzd").click(function(){
		var html = '<div style="width:702px; margin:0 auto;"><div style="text-align:right; padding-bottom:5px;"><a href="${request.contextPath}/print.htm?tradeType=${response.data.tradeType}&flag=1&sign=trade" class="print" target="_blank">打印</a> | <a href="${request.contextPath}/downImage.htm?tradeType=${response.data.tradeType}&flag=1&sign=trade">下载</a></div>';
		html += '<div id="dzdzd_xq"><img src="${request.contextPath}/SingleReceipt.htm?tradeType=${response.data.tradeType}&flag=1&sign=trade" alt="电子对账单"></div></div>';
		showWin('html', html, '', 810, 500, ' ', '', '');
	});*/
	
	$(".dzdzd1").click(function(){
		var html = '<div style="width:700px;height:502px; margin:0 auto 20px;"><div style="text-align:right; padding-bottom:5px;"><a href="${request.contextPath}/downImage.htm?tradeType=${response.data.tradeType}&flag=${response.data.flag}&sign=trade" class="a_5A5A5A">下载</a></div>';
		//var html = '<div style="width:702px; margin:0 auto;"><div style="text-align:right; padding-bottom:5px;"><a href="TransferInformationPrint.html" class="print" target="_blank">打印</a> | <a href="#@">下载</a></div>';
		html += '<div id="dzdzd_xq" style="height:472px;"><img src="${request.contextPath}/SingleReceipt.htm?tradeType=${response.data.tradeType}&flag=${response.data.flag}&sign=trade" alt="电子对账单"></div></div>';
		showWin('html', html, '', 810, 'auto', ' ', '', '');
	});
	$(".dzdzd2").click(function(){
		var html = '<div style="width:700px;height:502px; margin:0 auto 20px;"><div style="text-align:right; padding-bottom:5px;"><a href="${request.contextPath}/downImage.htm?tradeType=${response.data.tradeType}&flag=${response.data.flag}&sign=fee" class="a_5A5A5A">下载</a></div>';
		html += '<div id="dzdzd_xq" style="height:472px;"><img src="${request.contextPath}/SingleReceipt.htm?tradeType=${response.data.tradeType}&flag=${response.data.flag}&sign=fee" alt="电子对账单"></div></div>';
		showWin('html', html, '', 810, 'auto', ' ', '', '');
	});
})
</script>
