<div class="wrapbg">
<div class="wrap">
	<div class="page_title safety">
		<div class="title fl">
			<i class="icon fl"></i>
			<span class="tt fl">邮箱绑定</span>
		</div>
	</div>

     <div class="safetyMain">
     	 
         <div class="loginCenter">
              <form id="set-email-input-form" name="set-email-input-form" class="" action="${request.contextPath}/my/go-set-email-active.htm" method="POST">
              <div class="login_limit">
                   <label><span class="f14 limitLeft l_h30">邮箱账号：</span>
                     <input type="text" class="inputtext w232" value="" id="email" name="email">
                   </label>
                <label class="ml5"></label>
                <div class="mainTips ml160 error">$!response.message</div>
               </div>
			   
			   <input type="hidden" name="bizType"  id="bizType" value="$!response.data.bizType"/>
               
               <div class="loginAmendBtn"> <input class="btn btn_submit" type="button" value="确 认"></div>
              </form>
         </div> 
          
          
     </div>
     
</div>
</div>
<script>
$(function(){
	
	$(".btn_submit").click(function(){
		var btn_submit = $(this);
		btn_submit.attr("disabled", true).addClass("btn_disabled");
		$(".error").text("");
		
		var thisObj = $("#email");
		var tipObj = thisObj.parent().parent().find(".error");
		var value = $.trim(thisObj.val());
		if (value == "") {
			tipObj.text("请输入需要绑定的邮箱！");
			btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false;
		}
		else if (!RegExp(regexEnum.email).test(value)){
			tipObj.text("您输入的邮箱格式不正确！");
			btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false;
		}
		
		$("#set-email-input-form").submit();
	});
})
</script>