<div>
		<label class="control-label" for="">密码强度：</label>
			<div class="controls pos_rel">
        		<table>
        			<tr>
        				<td width="52" height="4" align="center"  background="${WEB_RESOURCE.staticAddress}wallet/img/ocx/bg.gif" id="passwd_level_1"></td>
        				<td width="52" height="4" align="center" background="${WEB_RESOURCE.staticAddress}wallet/img/ocx/bg.gif" id="passwd_level_2"></td>
        				<td width="52" height="4" align="center" background="${WEB_RESOURCE.staticAddress}wallet/img/ocx/bg.gif" id="passwd_level_3"></td>
        			</tr>
        		</table>	
        		<table>	
        			<tr>
        			  <td width="52" height="40" align="center" class="STYLE3">弱</td>
        			  <td width="52" height="40" align="center" class="STYLE3">中</td>
        			  <td width="52" height="40" align="center" class="STYLE3">强</td>
        			</tr>
        		</table>
            </div>
</div>