<div class="control-group" >
                <div class="controls pos_rel">
				<table>
					<tr>
						<td id="_ocx_password_str">
            			<script type="text/javascript">
            				pgeditor2.generate()
            			</script>
						</td>
						<td>
							<p id="password_error"></p>
						</td>
					</tr>
				</table>
    			</div>
		  </div>
