<div style="float:left;height:52px;width:15%;margin-left: 32px;clear:both;">
	<label class="lab" for="UserYzm">密码强度：</label>
</div>
<div style="float:left;height:52px;width:80%;">
	<div>
		<table>
			<tr>
				<td width="52" height="4" align="center"  background="${WEB_RESOURCE.staticAddress}enterpriseWallet/img/ocx/bg.gif" id="passwd_level_1"></td>
				<td width="52" height="4" align="center" background="${WEB_RESOURCE.staticAddress}enterpriseWallet/img/ocx/bg.gif" id="passwd_level_2"></td>
				<td width="52" height="4" align="center" background="${WEB_RESOURCE.staticAddress}enterpriseWallet/img/ocx/bg.gif" id="passwd_level_3"></td>
			</tr>
		</table>
	</div>
	<div>
		<table>	
			<tr>
			  <td width="52" height="40" align="center" class="STYLE3">弱</td>
			  <td width="52" height="40" align="center" class="STYLE3">中</td>
			  <td width="52" height="40" align="center" class="STYLE3">强</td>
			  <td>
				  <lable id="password_error"/>
				  #if($response.errors.error_passwd_not_right)
						<label class="error"> #springMessageText($!response.errors.error_passwd_not_right,"")
    			  #if($!response.errors.remainNum)，
    					您还有 $!response.errors.remainNum 次机会#end </label>
                  #elseif($response.errors.error_passwd_is_locked)
						<label class="error"> #springMessageText($!response.errors.error_passwd_is_locked,"") 
    			  #if($!response.errors.remainNum)
						，锁定时间还剩余 $!response.errors.remainNum 分钟#end </label>
				  #end
			  </td>
			</tr>
		</table>
	</div>	
</div>
