<p class="lg_p mb30 authcode" style="clear:both;float:left;">
	<label class="lab" for="UserYzm"><i>*</i>确认密码：</label>
	<div style="float:left;">
		<script type="text/javascript">
			pgeditor2.generate()
		</script>
	</div>
	<div style="float:left;">
		<label for="_ocx_password" generated="true" class="error" id="password_confirm_error" style="display:none;margin: 3px 0 0 8px;"></label>
	</div>
	<div style="float:left;">
		<label for="_ocx_password" generated="true" class="warn" id="password_confirm_clue" style="display:none;margin: 3px 0 0 9px;font-size:12px;">密码为6-12位数字、字母和特殊符号组成</label>
	</div>
</p>