<div class="control-group" >
                <label class="control-label pos_rel"><i class="fc_r_ff">*</i>支付密码：</label>
                <div class="controls pos_rel">
				<table>
					<tr>
						<td id="_ocx_password_str">
            			<script type="text/javascript">
            				pgeditor.generate()
            			</script>
						</td>
						<td>
							<a class="f_12 marl10" href="#springUrl('/my/go-get-paypasswd-index.htm')">忘记密码？</a>
						</td>
						<td>
							<p id="password_error"></p>
							<lable/>
    						  #if($response.errors.error_passwd_not_right.length() > 0)
    								<label class="error"> #springMessageText($!response.errors.error_passwd_not_right,"")
                			  #if($!response.errors.remainNum.length() > 0)，
                					您还有 $!response.errors.remainNum 次机会#end </label>
                              #elseif($response.errors.error_passwd_is_locked.length() > 0)
    								<label class="error"> #springMessageText($!response.errors.error_passwd_is_locked,"") 
                			  #if($!response.errors.remainNum.length() > 0)
    								，锁定时间还剩余 $!response.errors.remainNum 分钟#end </label>
        					  #end
						</td>
					</tr>
				</table>
    			</div>
		  </div>
