<div class="control-group" >
                <label class="control-label pos_rel"><i class="fc_r_ff">*</i>支付密码：</label>
                <div class="controls pos_rel">
				<table>
					<tr>
						<td id="_ocx_password_str2">
            			<script type="text/javascript">
            				pgeditor2.generate()
            			</script>
						</td>
						<td>
							<a class="f_12 marl10" href="#springUrl('/my/go-get-paypasswd-index.htm')">忘记密码？</a>
						</td>
						<td>
							<p id="confirm_password_error"></p>
							<lable/>
    						  #if($response.errors.error_confirmpasswd_not_right)
    								<label class="error"> #springMessageText($!response.errors.error_confirmpasswd_not_right,"")
                			  #if($!response.errors.confirmpasswd_remainNum)，
                					您还有 $!response.errors.confirmpasswd_remainNum 次机会#end </label>
                              #elseif($response.errors.error_confirmpasswd_is_locked)
    								<label class="error"> #springMessageText($!response.errors.error_confirmpasswd_is_locked,"") 
                			  #if($!response.errors.confirmpasswd_remainNum)
    								，锁定时间还剩余 $!response.errors.confirmpasswd_remainNum 分钟#end </label>
        					  #end
						</td>
					</tr>
				</table>
    			</div>
		  </div>
