<div class="control-group" >
                <label class="control-label pos_rel"><i class="fc_r_ff">*</i>支付密码：</label>
                <div class="controls pos_rel">
				<table>
					<tr>
						<td id="_ocx_password_str">
            			<script type="text/javascript">
            				pgeditor2.generate()
            			</script>
						</td>
						<td>
							<a class="f_12 marl10" href="#springUrl('/my/go-get-paypasswd-index.htm')">忘记密码？</a>
						</td>
						<td>
							<p id="password_error"></p> 
						</td>
					</tr>
				</table>
    			</div>
		  </div>
