<div class="control-group" >
                <label class="control-label pos_rel"><i class="fc_r_ff">*</i>再次输入支付密码：</label>
                <div class="controls pos_rel">
				<table>
					
					<tr>
						<td id="_ocx_password_str3">
            			<script type="text/javascript">
            				pgeditor3.generate()
            			</script>
						</td> 
						<td>
							<p id="renew_password_error"></p>
						</td>
					</tr>
				</table>
    			</div>
		  </div>
