 
 <link href="${WEB_RESOURCE.staticAddress}wallet/common/css/account2.css" rel="stylesheet" type="text/css">
 <!-- S 主要内容 -->
  <div class="wrap">
		<div class="page_title"><h2>绑定邮箱修改</h2></div>
		<div class="safetyMain">
			<div style="text-align: center;line-height: 28px;">您正在为账户 <span class="b">$!response.data.loginName</span> 修改绑定邮箱，请选择修改方式：</div>
			<div >
			    <div class="dlmm_chtype" style="width:80%;margin-left: auto;margin-right: auto;">
					<img style="position: absolute;top: 15px;left: 20px;display: block;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/dxmm.png">
                	<span class="p1">通过验证短信＋支付密码</span>
                    <span class="p2">如果您的$!response.data.Secretmobile手机还在正常使用，请选择此方式</span>
                    <a href="${request.contextPath}/my/go-reset-email.htm?type=dxmm&gopage=$!{response.data.gopage}">
						<img style="position: absolute;right: 20px;top: 16px;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/ljxg.png">
					</a>
			    </div>    
				<div class="dlmm_chtype" style="width:80%;margin-left: auto;margin-right: auto;">
					<img style="position: absolute;top: 15px;left: 20px;display: block;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/dxyx.png">
                	<span class="p1">通过验证短信＋邮箱</span>
                    <p class="p2">如果您的$!response.data.Secretmobile手机还在正常使用，并且邮箱$!response.data.email也在正常使用，请选择此方式</p>
                    <a href="${request.contextPath}/my/go-reset-email.htm?type=dxyx&gopage=$!{response.data.gopage}" >
						<img style="position: absolute;right: 20px;top: 16px;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/ljxg.png">
					</a>
			    </div>
			  <div class="dlmm_chtype" style="width:80%;margin-left: auto;margin-right: auto;">
					<img style="position: absolute;top: 15px;left: 20px;display: block;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/yxmm.png">
                	<span class="p1">通过验证邮箱＋支付密码</span>
                    <p class="p2">如果您的$!response.data.Secretmobile手机不能正常使用，请选择此方式</p>
                    <a href="${request.contextPath}/my/go-reset-email.htm?type=yxmm&gopage=$!{response.data.gopage}" >
						<img style="position: absolute;right: 20px;top: 16px;" src="${WEB_RESOURCE.staticAddress}wallet/common/images/ljxg.png">
					</a>
			    </div>
      </div>
    </div>
  </div>