<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link href="../common/css/style.css" rel="stylesheet" type="text/css">
<link href="../common/css/safety.css" rel="stylesheet" type="text/css">
</head>
<body>


<!-- S 主要内容 -->
<div class="wrap">
     
     <div class="page_title"><h2>手机绑定修改</h2></div>
     
     <div class="safetyTab"><a href="" class="tabOne fl ">原手机号码可用</a><a href="${request.contextPath}/my/changeBindPhoneByLisence.htm" class="tabTwo fl cur">原手机号码不可用</a></div>
     
	<div class="safetyMain">
     	 
         <div class="loginCenter">
              <form action="${request.contextPath}/my/reset-mobilephone.htm" method="POST">
				<input type="hidden" id="bizType" name="bizType" value="$!response.data.bizType"/>
				<input type="hidden" name="flag" value="1"/>
              <div class="login_limit">
                   <label><span class="f14 limitLeft">手机号码：</span>
                     <input type="text" class="inputtext w232" value="" name="mobile" id="iphone">
                   </label>
                <label class="ml5"></label>
                <div class="mainTips ml160 error"></div>
               </div>
               
              <div class="login_limit">
                   <label><span class="f14 limitLeft">手机校验码：</span>
                     <input type="text" class="inputtext w80" value="" id="sjyzm" name="mobileCaptcha">
                     <input id="send_msg" class="btn_mfhq ml10" type="button" value="">
                   </label>
                   <label class="ml5"></label>
                   <div class="mainTips ml160 error" id="codeError">$!response.data.mobileCaptcha_error</div>
               </div>
               
               
           <div class="loginAmendBtn"> <input class="btn_qr btn_submit" type="button" value=""></div>
              </form>
         </div> 
          
          
     </div>
     
</div>
<!-- E 主要内容 -->

<script>
$(function(){
	$(".btn_mfhq").click(function(){
		$("#codeError").html("");
		countDown($(this),60,"");
		
		jQuery.ajax({
            type: 'POST',
            url: "#springUrl('/my/mobile/sendMessage.htm')" ,
			data: "bizType=" + $("#bizType").val()+"&mobile=" + $("#iphone").val(),
            success: function(response) {
				$("#codeError").html(response.message);
			} ,
			error:function(){$("#codeError").html(G.sysError)},
            dataType: "json"
        });
		
	});
	
	$(".btn_submit").click(function(){
		var btn_submit = $(this);
		btn_submit.attr("disabled", true).addClass("btn_qr_disabled");
		$(".error").text("");
		
		var thisObj = $("#iphone");
		var tipObj = thisObj.parent().parent().find(".error");
		var value = $.trim(thisObj.val());
		if (value == "") {
			tipObj.text("请输入手机号码！");
			btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false;
		}
		else if (!RegExp(regexEnum.mobile).test(value)){
			tipObj.text("手机号码格式不正确！");
			btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false;
		}
		
		flag = checkMust($("#sjyzm"),$("#sjyzm").parent().parent().find(".error"),"请输入手机校验码");
		if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false; }
		
		$("form").submit();
	});
	
	
})
</script>
</body>
</html>
