
<!-- S 主要内容 -->
<div class="wrap">
     
     <div class="page_title"><h2>修改绑定邮箱</h2></div>

     <div class="safetyMain">
     	 <form action="${request.contextPath}/my/goNewEmailForm.htm" method="POST">
			 <input type="hidden" name="bizType"  id="bizType" value="$!response.data.bizType"/>
         <div class="loginCenter">
               
              <div class="login_limit">
                   <label>
                          <span class="f14 limitLeft">手机号码：</span>
                          <span class="f14">$!response.data.mobile</span>
                          <a href="${request.contextPath}/my/changeBindPhone.htm" class="f14 ml30 orange">更换绑定手机</a>
                   </label>
                   <label class="ml5"></label>
                   <div class="mainTips ml160 error"></div>
               </div>
               <div class="login_limit">
                   <label><span class="f14 limitLeft">手机校验码：</span>
                     <input type="text" class="inputtext w80" value="" id="sjyzm" name="mobileCaptcha">
                     <input id="send_msg" class="btn_mfhq ml10" type="button" value="">
                   </label>
                   <label class="ml5"></label>
                   <div class="mainTips ml160 error" id="codeError"></div>
               </div>
               
               
               <div class="loginAmendBtn"> <input class="btn_qr btn_submit" type="button" value=""></div>
              
         </div> 
         </form> 
     </div>
     
</div>
<!-- E 主要内容 -->
 
<script>
$(function(){
	$(".btn_mfhq").click(function(){
		$("#codeError").html("")
		countDown($(this),60,"");
		
		jQuery.ajax({
            type: 'POST',
            url: "#springUrl('/my/mobile/sendMessage.htm')" ,
			data: "bizType=" + $("#bizType").val(),
            success: function(response) {
				$("#codeError").html(response.message);
			} ,
			error:function(){$("#codeError").html(G.sysError)},
            dataType: "json"
      	  });
		
	});
	
	$(".btn_submit").click(function(){
		var btn_submit = $(this);
		btn_submit.attr("disabled", true).addClass("btn_qr_disabled");
		$(".error").text("");
		
		flag = checkMust($("#sjyzm"),$("#sjyzm").parent().parent().find(".error"),"请输入手机校验码");
		if(!flag) { btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false; }
		
		jQuery.ajax({
            type: 'POST',
            url: "#springUrl('/my/validMobileCaptcha.htm')" ,
			data: "bizType=" + $("#bizType").val()+"&mobileCaptcha="+$("#sjyzm").val(),
            success: function(response) {
				if(!response.success){
					$("#codeError").html("手机验证码错误");
					btn_submit.attr("disabled", false).removeClass("btn_qr_disabled");
				}else{
					$("form").submit();
				}
			} ,
			error:function(){
				btn_submit.attr("disabled", false).removeClass("btn_qr_disabled"); return false;
			},
            dataType: "json"
        });
  });
		
})
</script>
