<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#if($page_title) $page_title #else site #end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<link href="${WEB_RESOURCE.staticAddress}wallet/css/bootstrap.css${WEB_RESOURCE.staticVersion}" rel="stylesheet">
	<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
	<link href="${WEB_RESOURCE.staticAddress}wallet/css/bootstrap-responsive.css${WEB_RESOURCE.staticVersion}" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="${WEB_RESOURCE.staticAddress}wallet/js/html5shiv.js${WEB_RESOURCE.staticVersion}"></script>
    <![endif]-->
	<script src="${WEB_RESOURCE.staticAddress}wallet/js/jquery.js${WEB_RESOURCE.staticVersion}"></script>
</head>
<body class="bodyBg">
	<div class="container">
		$screen_content

		#parse("/common/control/footer.vm")
    </div>
    <script src="${WEB_RESOURCE.staticAddress}wallet/js/jquery.js${WEB_RESOURCE.staticVersion}"></script>
    <script src="${WEB_RESOURCE.staticAddress}wallet/js/bootstrap.js${WEB_RESOURCE.staticVersion}"></script>
</body>
</html>