<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#if($page_title) $page_title #else 永达互联网金融钱包 #end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="${WEB_RESOURCE.staticAddress}wallet/css/wallet.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen">
	<link href="${WEB_RESOURCE.staticAddress}wallet/css/wallet_online.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen">
	<link href="${WEB_RESOURCE.staticAddress}wallet/css/index.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen">
	<link href="${WEB_RESOURCE.staticAddress}wallet/css/login.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen">
	<script src="${WEB_RESOURCE.staticAddress}wallet/js/jquery.min.js${WEB_RESOURCE.staticVersion}"></script>
	<script src="${WEB_RESOURCE.staticAddress}wallet/js/jquery.validate.js${WEB_RESOURCE.staticVersion}"></script>
	<script src="${WEB_RESOURCE.staticAddress}wallet/js/form_validate.js${WEB_RESOURCE.staticVersion}"></script>
	<script src="${WEB_RESOURCE.staticAddress}wallet/js/comment.js${WEB_RESOURCE.staticVersion}"></script>
</head>
<body  class="login_body">
	<div id="pageF">
		#parse("/common/control/header-nologin-nonav.vm")
		
		$screen_content

		#parse("/common/control/footer.vm")
    </div>
    <script src="${WEB_RESOURCE.staticAddress}wallet/js/validate.js${WEB_RESOURCE.staticVersion}"></script>
</body>
</html>