<!--修改绑定新邮箱邮件激活-->
<script src="${WEB_RESOURCE.staticAddress}wallet/js/safectrl.js${WEB_RESOURCE.staticVersion}"></script>
<script src="${WEB_RESOURCE.staticAddress}wallet/js/safectrl_utils.js${WEB_RESOURCE.staticVersion}"></script>

<div class="wrap min_height6">
	<!-- S 流程 -->
     <div class="amendFlow-mail">
          <p class="amendFlow-one" style="display:none;"></p>
          <p class="amendFlow-two"></p>
          <p class="amendFlow-three" style="display:none;"></p>
     </div>
     <!-- E 流程 -->
     <div class="account_number_manager">
    	<div class="user_ibox">
    		<h2 class="h2_titform"><em>修改绑定邮箱</em>你正在绑定新的邮箱</h2>
    		<input type="hidden" name="bizType"  id="bizType" value="$!response.data.bizType"/>
             <div class="form-horizontal center_form clearfix">
            	<div class="control-group">
    				<input id="url" name="url" type="hidden" value="$!response.data.url"/>
    				<input id="email" name="email" type="hidden" value="$!response.data.email"/>
					<input type="hidden" name="loadNum" id="loadNum" value="-1" />
                    <p class="f_yh f_20 fc_yellow marb10">验证邮件已发出，请您登录邮箱进行验证</p>
                    <p class="marb20">登录邮箱<em class="fc_yellow">$!response.data.email</em>点击邮箱链接即可修改绑定</p>
            		<p class="marb20"><input id="login_email_submit" type="submit" class="btn_h40_red bold" value="立即登录邮箱验证"></p>
    				<p id="login_email_error"></p>
    				<p class="marb10 bold">如果您还没收到邮件</p>
                    <p class="marb10">请先检查是否在您的垃圾邮件中，如果还是未收到邮件<a id="send_email" href="#" class="marl20">重新发送邮件</a><a id="reset_email" href="#springUrl('/my/go-reset-set-email.htm')" class="marl20">更换邮箱</a></p>
           		 </div>
    		</div>
    	</div>
	</div>
</div>
<script type="text/javascript">
jQuery.ajaxSetup({ cache: false }); 
$("#send_email").click(function(){
			var loadNum = $('#loadNum').val();
			if (loadNum == -1) {
				loadNum = loadNum - 1;
				$('#loadNum').attr("value", loadNum);
			}
	        if($("#send_email").attr("disabled")) {
	            return;
	        }
	        $('#send_email').countDown({
	            text:"秒后重新发送邮件",
	            endText:"重新发送邮件",
	            isDisabled:true,
	            count:10
	        });
         jQuery.ajax({
            type: 'GET',
            url: "#springUrl('/my/email/sendMail.htm')" ,
			data: "email=" + $("#email").val() + "&bizType=" + $("#bizType").val(),
            success: function(response) {
            } ,
            dataType: "json"
        });
  });
$("#login_email_submit").click(function() {
	var url = $("#url").val();
	if (url != '') {
		window.open(url,'_blank');
	} else {
		$("#login_email_error").html('<label  class="error">暂不支持此邮箱登陆跳转，请您手动登陆邮箱并完成验证!</label>');
	}
});
function doBack() {
	var loadNum = $('#loadNum').val();
	if (loadNum == '') {
		loadNum = -1;
	}
	history.go(loadNum);
}
</script>