#set($path = ${request.contextPath})
<div id="money_zz" class="wrap">
	<div class="page_title">
    	<div class="fr page_title_right"><a href="#springUrl('/my/all-trade1.htm')">转账记录</a> | <a href="#springUrl('/help/faq.htm?=FAQ_5_0.html&3,0')">转账常见问题</a></div>
    	<h2>转账</h2>
    </div>
    <div class="zz_tab_link"><a href="${path}/transfer/toTransferKjt.htm" class="tab_zz_kjt fl">转账到永达互联网金融账户</a>
		<a href="${path}/bTransfer/toTransferBank.htm" class="tab_zz_yh fl cur">转账到银行账户</a></div>
    <div class="pagebox pagebox1 pagezz relative">
    	<div class="zz_step step step_3"><i></i><span class="s1">转账信息</span><span class="s2">转账审核</span><span class="s3">转账成功</span></div>
        <form class="zz_form_1">
            <div class="boxbg1">
            		<table cellpadding="0" cellspacing="0" border="0"  class="sqinfo" width="100%">
                        <tr>
                            <td class="tcenter"><i class="txsh_wq2"><span class="f16 b">你的转账已成功！</span></i></td>
                            </td>
                        </tr>
                    </table>
                    
                	<table cellpadding="0" cellspacing="0" border="0"  class="sqinfo zzdyhk">
                    <tr>
                    	<td class="h3">开户名：</td>
                        <td colspan="3">$!{bankAcctInfo.realName}</td>
                    </tr>
                    <tr>
                    	<td class="h3">银行账号：</td>
                        <td>$!{form.accountNo}</td>
                    </tr>
                    <tr>
                    	<td class="h3">开户行：</td>
						<td>$!{bankAcctInfo.bankName}&nbsp;$!{form.branchShortName} </td>
                    </tr>
                    <tr>
                    	<td class="h3">金额：</td>
                        <td colspan="3"><span class="color_f6 b">$!{form.transMoney}</span>元</td>
                    </tr>
                    <tr>
                    	<td class="h3">服务费：</td>
                        <td colspan="3"><span class="b">$!{form.serviceCharge}</span>元</td>
                    </tr>
                    <tr>
                    	<td class="h3">总额：</td>
                       	<td colspan="3"><span class="color_f6 b">$!{form.totalMoney}</span>元</td>
                    </tr>
                    <tr>
                    	<td class="h3">备注：</td>
                        <td colspan="3">$!{form.remark}</td>
                    </tr>
                </table>    
                <form id="addContactsForm" action="$!{path}/contacts/toContactsHome.htm" method="post">
    				#foreach($transfer in ${transferList})
    					<div class="mrlauto lxr_info">
    						<span class="s1">$!{transfer.contact}
    							<input type="hidden" name="kjtContacts" value="$!{transfer.contact}" class="inputtext w138">
    						</span>
    						<span class="s2">联系人备注：</span>
    						<input type="text" name="kjtContactsRemark" class="inputtext w138">&nbsp;
    						<input type="submit" value="保存至联系人" class="savelxr">
    					</div>
    				#end
				</form>                                    
            </div>
        </form>
        
        <div class="faq_relevant">
        	<h4>转账问题：</h4>
            <dl>
            	<dt>转账到永达互联网金融账户需要手续费吗？</dt>
                <dd>答：永达互联网金融账户到账户转账是不收取手续费的。</dd>
            </dl>
            <dl>
            	<dt>哪些情况下不能转账转出？</dt>
                <dd>答：a)会员账户被冻结，无法转出<br>
&nbsp;&nbsp;&nbsp;&nbsp;b)会员账户被加入转账黑名单<br>
&nbsp;&nbsp;&nbsp;&nbsp;c)会员账户后台注销；<br>
&nbsp;&nbsp;&nbsp;&nbsp;d)会员账户未实名认证；<br>
&nbsp;&nbsp;&nbsp;&nbsp;e)当天转账次数超限；<br>
&nbsp;&nbsp;&nbsp;&nbsp;f)当天会员支持的各种支付方式（余额、认证、快捷）次数、金额超限；<br>
&nbsp;&nbsp;&nbsp;&nbsp;g)转账收款方为未实名认证的个人或者企业会员；
</dd>
            </dl>
            <dl>
            	<dt>转账到银行卡和提现有什么区别？</dt>
                <dd>答：<b>转账到卡：</b>是指将用户永达互联网金融账户余额或者储蓄卡中的钱转入自己或者他人的储蓄卡中。<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>提现：</b>是指把永达互联网金融账户的钱转到账户本人的储蓄卡中。</dd>
            </dl>
			<div class="link_bottom"><a href="#springUrl('/help/helpcenter.htm')" class="more">更多帮助</a><a href="#springUrl('/my/home.htm')">回到我的永达互联网金融</a></div>
        </div>
        <!--<a href="javascript:void(0)" class="Collapse"></a>-->
        
    </div>
  
</div>
