#set($path = ${request.contextPath})
<div class="wrapbg">
<div class="wrap">
	<div class="page_title account-manage">
		<div class="title fl">
			<i class="icon fl"></i>
			<span class="tt fl">账户设置</span>
		</div>
	</div>

     <div class="account_set_wrap clearfix">
     	  
     	  <!-- S 左边内容 -->
     	  <div class="account_set_left">
     	  	   <ul>
     	  	   	    <li>
     	  	   	         <a class="subBlock " href="#springUrl('/my/accountManage.htm')">
     	  	   	             <span class="subNavIcon jbxx"></span>
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">基本信息</span>
     	  	   	         </a>
     	  	   	    </li>
                    <li>
     	  	   	         <a class="subBlock" href="#springUrl('/my/app-center.htm')">
     	  	   	             <span class="subNavIcon qycp"></span>
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">应用产品</span>
     	  	   	         </a>
     	  	   	    </li>
                    <li>
     	  	   	         <a class="subBlock selected" href="#springUrl('/my/card-manage-index.htm')">
     	  	   	             <span class="subNavIcon yhzh"></span>
     	  	   	             <span class="subNavArrows"></span>
                             <span class="subNavTxt">银行账户</span>
     	  	   	         </a>
     	  	   	    </li>
     	  	   </ul>
     	  </div>
     	  <!-- S 左边内容 -->

          <!-- S 右边内容 -->
     	  <div class="account_set_right">
			   #if($response.data.operType == "update")
     	  	   <div class="account_set_right_h1">银行账户 - 修改账户</div>
			   #else
			   <div class="account_set_right_h1">银行账户 - 添加账户</div>
			   #end
     	  	   <div class="account_set_right_main clearfix">
     	  	        <div class="addAccount ml30 mt20">
                    <form class="form1" id="add_bankCard_form" name="add_bankCard_form">
                            <div class="kjt_limit">
                                 <label><span class="f14 ">银行账户：</span>
                                        <span class="f14">$!{response.data.username}</span>
                                 </label>
                             </div>

                             <div class="kjt_limit">
                                 <label><span class="f14 ">支行信息：</span>
                                   <input type="text" class="inputtext w232" id="branchShortName" name="branchShortName" readonly>
                                   <span class="f12 ml10"><input type="button" value="查询支行信息" class="cxzhxx"></span>
								   <input type="hidden" id="bankCode" name="bankCode" value="" />
								   <input type="hidden" id="bankName" name="bankName" value="" />
								   <input type="hidden" id="branchName" name="branchName" value=""/>
								   <input type="hidden" id="cityName" name="cityName" value=""/>
								   <input type="hidden" id="provName" name="provName" value=""/>
								   <input type="hidden" id="branchNo" name="branchNo" value=""/>
								   <input type="hidden" id="realName" name="realName" value="$!{response.data.username}"/>
                                 </label>
                             </div>

                             <div class="kjt_limit relative">
                             	<div id="bigNumber" class="bigNumber"></div>
                                 <label><span class="f14 ">银行账号：</span>
                                   <input type="text" class="inputtext w232 number" maxlength="25" id="bankAccountNum" name="bankAccountNum">
                                 </label>
                             </div>
                             
                             <div class="mt10" style="margin-left:77px;">
                             	<div class="error h22"></div>
                                    <input class="btn btn_submit" type="button" value="确 认"><input id="J_btn_qx" class="btn btn-bg ml20" type="button" value="取 消">
                             </div>
							 <input type="hidden" id="operType" name="operType" value="$!response.data.operType"/>
							 <input type="hidden" id="oldBankCardId" name="oldBankCardId" value="$!response.data.oldBankCardId"/>
							 
					</form>
                    </div>

     	  	   </div>

     	  </div>
     	  <!-- E 右边内容 -->

     </div>

</div>
</div>
<link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/css/chosen.css" rel="stylesheet" type="text/css">
<script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/common/js/chosen.jquery.js"></script>
<!-- E 主要内容 -->
<script>
$(function(){
	$(".cxzhxx").click(function(){
		var html = '<div id="branchFloat" class="floatbox2"><div class="cont_info"><div class="bankcx_fc">';
		html += '<div class="bankcx_xz" style="display:none;"><label><input type="radio" name="infoType" value="0" checked>地区查询</label>'
			+ '<label><input type="radio" name="infoType" value="1">行号查询</label><a href="#">什么是行号？</a></div>';
		html += '<table id="addrTable" cellpadding="0" cellspacing="0" border="0" class="bankcx">';
		html += '<tr><td width="184" class="text_l">开户银行：</td><td><div class="select_div">'
			+ '<select name="bankSeq" id="bankName2">'
				+ '<option value="-1">--请选择--</option></select></div></td></tr>';
		html += '<tr><td class="text_l">地区：</td>';
		html += '<td><div class="select_div" style="margin-right:10px;">'
			+ '<select name="bankSeq" id="province" >'
				+ '<option value="-1">--请选择省份--</option></select></div>'
			+ '<div class="select_div"><select name="bankSeq" id="city">'
				+ '<option value="-1">--请选择城市--</option></select></div></td></tr>';
		html += '<tr><td class="text_l">开户网点：</td><td class="pt10">'
		+ '<select name="bankSeq" id="subBranch" class="chzn-select w232" >'
		+ '<option value="-1">--请选择--</option></select></td></tr>';
		html += '</table>';
		html += '<table id="branchCodeTable" style="display:none" cellpadding="0" cellspacing="0" border="0" class="bankcx">'
			+ '<tr><td width="184" class="text_l">支行行号：</td><td><input id="branchCode" name="branchCode" class="inputtext w232 placeholder" data-placeholder="请输入行号并点击查询" />&nbsp;&nbsp;'
				+ '<a href="javascript:void(0)" onclick="queryBranch()">查询</a>'
			+'</td></tr>'
			+ '<tr><td width="184" class="text_l">支行名称：</td><td><input name="branchShortName" class="inputtext w232" readonly="true" /></td></tr>'
			+ '</table>';
		html += '</div></div>';
		html += '<div class="div_btn_submit"><input type="button" class="btn branch_qr" value="确 认">'
			+ '<input type="button" class="btn btn-bg ml30" onclick="closeSW();" value="取 消"></div></div>';
		
		showWin('html', html, '', 700, 400, '查询支行信息', '', '');
		$("#branchFloat #subBranch").chosen();
		
		// 初始化可选择的银行信息
    	initCorpBanks('branchFloat');
    	
    	// 初始化所有省市、支行
    	initProvinces('branchFloat');
		
		// 地区、行号切换事件
		$('input[name="infoType"]').bind('change', function() {
			if ($(this).is(':checked')) {
				var radioVal = $(this).val();
				if (radioVal == 0) {
					$('#branchFloat #addrTable').show();
					$('#branchFloat #branchCodeTable').hide();
				} else {
    				$('#branchFloat #addrTable').hide();
    				$('#branchFloat #branchCodeTable').show();
    			}
			} 
		});
		
		// 初始化行号
		$('#branchFloat input[name="branchCode"]').focus();
		
		$("#bankName2").live("change",function(){
        	// 初始化所有省
        	$("#province").val("-1");
    		//初始化城市
			$("#city").html('<option value="-1">--请选择城市--</option>');
			$("#subBranch").html('<option value="-1">--请选择支行--</option>').trigger("liszt:updated");
		})
		
		// 初始化查询支行信息确认事件
		$('#branchFloat .branch_qr').bind('click', function() {
			var infoType = $('#branchFloat input:checked[name="infoType"]').val();
		
			if (0 == infoType || '0' == infoType) {
				// 地区查询
				
				if($("#bankName2").val()==""||$("#bankName2").val()=="-1"){
					alert("请选择您的开户银行");return false;
				}
				if($("#province").val()==""||$("#province").val()=="-1"){
					alert("请选择您开户银行所在地区");return false;
				}
				if($("#city").val()==""||$("#city").val()=="-1"){
					alert("请选择您开户银行所在地区");return false;
				}
				if($("#subBranch").val()==""||$("#subBranch").val()=="-1"){
					alert("请输入您的开户银行支行名称");return false;
				}

				var jBranch = $('#branchFloat #subBranch option:selected');
				var bankBranch = $('#branchFloat #bankName2 option:selected');
				var provBranch = $('#branchFloat #province option:selected');
				var cityBranch = $('#branchFloat #city option:selected');

				$('#branchShortName').val(jBranch.text());
				$('#bankName').val(bankBranch.text());
				$('#bankCode').val(bankBranch.val());
				
				$('#branchName').val(jBranch.attr("for1"));
				$('#branchNo').val(jBranch.attr("for2"));
				$('#provName').val(provBranch.text());
				$('#cityName').val(cityBranch.text());
				
				
			} else {
				if($('#branchFloat input[name="branchCode"]').val()==""){
					alert("请输入银行账号信息");
					return false;
				}else if($('#branchFloat input[name="branchCode"]').val().length<8||$('#branchFloat input[name="branchCode"]').val().length>25){
					alert("请输入8-25位数字组成的银行账号信息！");
					return false;
				}
				if($('#branchFloat input[name="branchShortName"]').val()==""){
					alert("请查询支行信息");
					return false;
				}
				
				$('#branchShortName').val($('#branchFloat input[name="branchShortName"]').val());
				$('#branchCode').val($('#branchFloat input[name="branchCode"]').val());
			}
			closeSW();
		});
	});
	
	$("#bankAccountNum").keyup(function(){
		//$("#bigNumber").width(245);
		var thisobj = $(this);
		thisobj.val(thisobj.val().replace(/[^0-9]/g,''));
		var value = thisobj.val();
		if(value == "") $("#bigNumber").hide().text();
		else{
			var _value = value.match(/\d{4}/g);
			if(_value == null) $("#bigNumber").text(value);
			else {
				_value = _value.toString().replace(/,/g,' ');
				var len = value.length;
				if(len<18){$("#bigNumber").css({"width":"228px","padding-right":"0"})}else if(len>18){$("#bigNumber").css({"width":"auto","padding-right":"6px"})};
				var lastIndex = len%4;
				_value += " " + value.substring(len-lastIndex);
				$("#bigNumber").text(_value);
			}
			
			$("#bigNumber").show();
		}
	});
	
	// 显示银行列表
    function initCorpBanks(pDivId) {
    	jQuery.ajax({
        	type: "get",
    		url: "$!{path}/contacts/queryCorpBanks.htm",
    		data: "",
    		dataType: "JSON",
    		success: function(result) {
    			if (result && result.success) {
    				var bankArr = result.messageObj;
    				var optHtml = '';
    				var len = bankArr.length;
    				for (var i=0; i<len; i++) {
    					optHtml += '<option value="' + bankArr[i].bankId + '">' + bankArr[i].bankName + '</option>'
    				}
    				
    				$('#' + pDivId + ' #bankName2').append(optHtml);
    			}
    		}
        });
    }
	
	// 显示省份列表
    var provArr = null;
    function initProvinces(pDivId) {
    	jQuery.ajax({
        	type: "get",
    		url: "$!{path}/contacts/queryAllProvCities.htm",
    		data: "",
    		dataType: "JSON",
    		success: function(result) {
    			if (result && result.success) {
    				// 省份
    				provArr = result.messageObj;
    				var jprov = $('#' + pDivId + ' #province');
    				jprov.html('<option value="-1">--请选择省份--</option>');
    				
    				var provOptHtml = '';
    				var len = provArr.length;
    				for (var i=0; i<len; i++) {
    					provOptHtml += '<option value="' + provArr[i].provId + '">' + provArr[i].provShortName + '</option>'
    				}
    				jprov.append(provOptHtml).bind('change', function() {
    					initCities(pDivId, $(this).val());
						$("#subBranch").html('<option value="-1">--请选择支行--</option>').trigger("liszt:updated");
    				});
    			}
    		}
        });
    }
	
	// 根据省份初始化该省下的市
    function initCities(pDivId, provId) {
    	var len = provArr.length;
    	for (var i=0; i<len; i++) {
    		if (provId == provArr[i].provId) {
    			showCities(pDivId, provArr[i].cityInfos);
    		}
    	}
    }
	
	// 显示城市
    function showCities(pDivId, cityInfos) {
    	var jCity = $('#' + pDivId + ' #city');
    	jCity.html('<option value="-1">--请选择城市--</option>');
    
    	var len = cityInfos.length;
    	var cityOptHtml = '';
    	for (var i=0; i<len; i++) {
    		cityOptHtml += '<option value="' + cityInfos[i].cityId + '">' + cityInfos[i].cityShortName + '</option>'
    	}
    	jCity.append(cityOptHtml);
    }
	$("#branchFloat #city").live('change', function() {
    	initBranches("branchFloat", $("#bankName2").val(), $(this).val());
    });
	
	// 初始化某市某某银行的支行
    function initBranches(pDivId, bankCode, cityId) {
    	jQuery.ajax({
        	type: "get",
    		url: "$!{path}/contacts/queryBranches.htm",
    		data: "cityId=" + cityId + "&bankCode=" + bankCode,
    		dataType: "JSON",
    		success: function(result) {
    			if (result && result.success) {
    				var jBranch = $('#' + pDivId + ' #subBranch');
    				var branchArr = result.messageObj;
    				jBranch.html('<option value="-1">--请选择支行--</option>');
    				
    				var optHtml = '';
    				var len = branchArr.length;
    				for (var i=0; i<len; i++) {
    					optHtml += '<option value="' + branchArr[i].branchId + '" for1="' + branchArr[i].branchName + '" for2="' + branchArr[i].branchNo + '">' + branchArr[i].branchShortName + '</option>'
    				}
    				jBranch.append(optHtml);
					jBranch.trigger("liszt:updated");
    			}
    		}
        });
    }
	
	$("#J_btn_qx").click(function(){
		window.location.href = '#springUrl('/my/card-manage-index.htm')';
	});
	
	$(".btn_submit").click(function(){
		var btn_submit = $(this);
		btn_submit.attr("disabled", true).addClass("btn_disabled");
		$(".error").text("");
		
		var branchShortName = $("#branchShortName");
		if($.trim(branchShortName.val())==""){ $(".error").text("请输入支行信息"); btn_submit.attr("disabled", false).removeClass("btn_disabled"); return false; }
		
		var bankAccountNum = $("#bankAccountNum");
		bankAccountNum.val(bankAccountNum.val().replace(/[^0-9]/g,''));
		if($.trim(bankAccountNum.val())==""){ 
    		$(".error").text("请输入银行账号信息"); 
    		btn_submit.attr("disabled", false).removeClass("btn_disabled");
    		return false; 
		}else if($.trim(bankAccountNum.val()).length<8||$.trim(bankAccountNum.val()).length>25){
			$(".error").text("请输入8-25位数字组成的银行账号信息！"); 
    		btn_submit.attr("disabled", false).removeClass("btn_disabled");
    		return false; 
		}
		
		jQuery.ajax({
        	type: "post",
    		url: "$!{path}/my/addBankAccount.htm",
    		data: $("#add_bankCard_form").serialize(),
    		dataType: "JSON",
			success: function(response) {
            	if(response.success){
					window.location.href="$!{path}/my/card-manage-index.htm";
            	} else {
	            	$(".error").html(response.message);
					btn_submit.attr("disabled", false).removeClass("btn_disabled");
            	}
            } ,
            error: function(data) {
               $(".error").html(response.message);
			   btn_submit.attr("disabled", false).removeClass("btn_disabled");
            }
    		
        });
				
	});
	
});
function queryBranch(){
		jQuery.ajax({
        	type: "get",
    		url: "$!{path}/my/querybankname.htm",
    		data: "branchCode="+$("#branchCode").val(),
    		dataType: "JSON",
    		success: function(response) {
			if(response.success){
			
				$('#branchFloat input[name="branchShortName"]').val(response.data.branchshortname);
			}else{
			    $('#branchFloat input[name="branchShortName"]').val("不存在这个行号");
			  
			   }
			}
        });
	}
</script>