
<!-- S 主要内容 -->
<div class="wrap mt30">
     
     <div class="safetyHead">手机解绑</div>

     <div class="safetyMain">
     	 #if($!response.success)
         <div class="logiAmend_succeed">
              
              <div class="loginTipsBox">
                   <i class="tipsIcon succeed"></i>
                   <p class="f16 bold mb10">恭喜您!您的手机已成功解除绑定!</p>
                   <p><em class="red time_left">3</em>秒后会自动跳转至<a href="${request.contextPath}/my/accountManage.htm">安全中心</a></p>
              </div>
         </div> 
		 #else
          <div class="logiAmend_succeed">
              
              <div class="loginTipsBox">
                   <i class="tipsIcon succeed"></i>
                   <p class="f16 bold mb10">$!response.message</p>
                   <p><em class="red time_left">3</em>秒后会自动跳转至<a href="${request.contextPath}/my/accountManage.htm">安全中心</a></p>
              </div>
         </div> 
		 #end
          
     </div>
     
</div>
<!-- E 主要内容 -->
<script>
$(function(){
	goUrlByTime({$obj:$(".time_left"), time:3, url:"${request.contextPath}/my/accountManage.htm"});
})
</script>
