<div id="header" class="index-header">
    <div id="index-top" class="top">
        <a class="a9" href="${request.contextPath}/register/register-index.htm">注册</a> <span class="s">|</span> <a class="a9" href="#springUrl('/help/helpcenter.htm')" target="_blank">帮助中心</a> <span class="s">|</span> <a class="a9" href="#springUrl('/customservice/index.htm')">客服中心</a> <span class="s">|</span> 客服热线：<span class="dh">0571-28276085</span>
    </div>
</div>